    $("#description").after("<div id=\"blog\"></div>");
    jQuery(function() {
        jQuery.getFeed({
            url: 'extra/rss_proxy.php?url=<!--blog_path-->',
            success: function(feed) {
                $('#blog').append('<h2><a href="' + feed.link + '">Recent Blog Posts</a></h2>');
                var html = '<ul>';
                for(var i = 0; i < feed.items.length && i < 5; i++) {
                    var item = feed.items[i];
                    html += '<li><a href="' + item.link + '">' + item.title + '</a></li>';
                }
                html += '</ul>';
                $('#blog').append(html);
            }    
        });
    });