<div id="image-inner-2">
  <div class="i-half first"><a href="<!--url_1-->"><img src="images/entry_image-2-1.jpg" alt="<!--alt_1-->" id="image-2-1" /></a></div> 
  <div class="i-half"><a href="<!--url_2-->"><img src="images/entry_image-2-2.jpg" alt="<!--alt_2-->" id="image-2-2" /></a></div> 
</div>
<div id="label-inner-2" class="multi-inner">
  <div id="label-2-1" class="l-half first"><a href="<!--url_1-->"><!--entry_label_1--></a></div> 
  <div id="label-2-2" class="l-half"><a href="<!--url_1-->"><!--entry_label_2--></a></div> 
</div>