<div id="image-inner-1">
  <div class="i-one first"><a href="<!--url_1-->"><img src="images/entry_image-1-1.jpg" alt="<!--alt_1-->" id="image-1-1" /></a></div> 
</div>
<div id="label-inner-1" class="single-inner">
  <div id="label-1-1" class="l-one first"><a href="<!--url_1-->"><!--entry_label_1--></a></div> 
</div>