<div id="image-inner-3" class="multi-inner">
  <div class="i-third first"><a href="<!--url_1-->"><img src="images/entry_image-3-1.jpg" alt="<!--alt_1-->" id="image-3-1" /></a></div> 
  <div class="i-third"><a href="<!--url_2-->"><img src="images/entry_image-3-2.jpg" alt="<!--alt_2-->" id="image-3-2" /></a></div> 
  <div class="i-third"><a href="<!--url_3-->"><img src="images/entry_image-3-3.jpg" alt="<!--alt_3-->" id="image-3-3" /></a></div> 
</div>
<div id="label-inner-3" class="multi-inner">
  <div id="label-3-1" class="l-third first"><a href="<!--url_1-->"><!--entry_label_1--></a></div> 
  <div id="label-3-2" class="l-third"><a href="<!--url_2-->"><!--entry_label_2--></a></div> 
  <div id="label-3-3" class="l-third"><a href="<!--url_3-->"><!--entry_label_3--></a></div> 
</div>