<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3/jquery.min.js"></script>
<script type="text/javascript" src="http://mattingly.bigfolio4.com/entry/jquery.twitter.js"></script>
<script type="text/javascript" src="http://mattingly.bigfolio4.com/entry/jquery.jfeed.pack.js"></script>
<script type="text/javascript">//<![CDATA[
	$(document).ready(function() {
    <!--twitter-->
    <!--blog-->
    
	});	
//]]></script>