<h2>Describing Your Images</h2>
<p>Images on your entry page include text descriptions which are indexed by search engines and can improve your ranking.</p>
  
<p>We recommend describing each image with a single sentence that includes some important keywords. 
  A good description might read like this:</p>
  
<h3>Portrait of a bride on the beach in Santa Barbara, California</h3>
