<h2>Congrats</h2>
<p>Your new entry page has been saved. We created a backup of your previous entry page–if necessary, you can access it from the <a href="./advanced_admin.php?mode=templates">source templates</a> screen. </p>

<p>Before leaving this page, we recommend viewing your site in a new browser window. You can continue to make and save changes to your entry page from here.</p>