html {
	height:100%;
}
body {
	margin:0;
	padding:0;
	height:100%;
	min-width:1100px;
	overflow: auto;
}
#nav {
	float:right;
	margin:5px 5px 0 0;
}
#edit {
  background: #fff url(/images/top_bg.jpg) repeat-x 0px -40px;
  border-bottom:5px solid #999;
  height:350px;
  padding:5px;
  font: 75% "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
}
#facebox {
  font: 75% "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
  color:#555;
}
#edit h3 {
	font: 1.2em "Helvetica Neue",Arial,sans-serif;
	color:#31B5ED;
	margin:0;
	font-weight:bold;
}
#edit h2, #facebox h2 {
	font: 1.5em "Helvetica Neue",Arial,sans-serif;
	color:#555;
	margin:0 0 10px 0;
}
#edit h2 sup {
	font-size:11px;
}
#edit label {
	font-weight:normal;
	color:#888888;
	font-weight:bold;
	display:block;
	padding-bottom:3px;
}
#edit label span {
	font-size:10px;
	color:#999;
}
#edit select {
	width:140px;
}

.edit-panel {
	float:left;
	background:#F2F2F2;
	border:1px solid #ccc;
	padding:3px;
	height:265px;
	width:160px;
	margin-right:10px;
}

.upload_button {
	background: transparent url(/images/upload_file.gif) no-repeat top left;
	width:120px;
	height:24px;
	margin:5px 0;
}
.upload_button span {
	display:none;
}

#preview {
  background: #fff url(preview-tile.png) repeat;
  color:#ccc;
  height:100%;
}
#intro {
	background:#fff;
	position:relative;
	top:150px;
	left:50%;
	margin-left:-150px;
	width:300px;
	border:1px solid #ccc;
	text-align:center;
	font-family: Arial, "MS Trebuchet", sans-serif;
}
#intro p {
	font-size:11px;
}

#preview-iframe {
	width:100%;
	height:100%;
	border:none;
}

#save {
	clear:both;
	padding:10px 0 0 0;
}
#save a.return {
	margin-left:20px;
}