/* These are the basic reset fonts styles (courtesy Yahoo! YUI) */
html{color:#000;background:#FFF;height:100%;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;}
table{border-collapse:collapse;border-spacing:0;}
fieldset,img{border:0;}
address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}
li{list-style:none;}
caption,th{text-align:left;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
q:before,q:after{content:'';}
abbr,acronym {border:0;font-variant:normal;}
sup {vertical-align:text-top;}
sub {vertical-align:text-bottom;}
input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;}
input,textarea,select{*font-size:100%;}
legend{color:#000;}
body {font:13px/1.231 arial,helvetica,clean,sans-serif;*font-size:small;*font:x-small;}
table {font-size:inherit;font:100%;}
pre,code,kbd,samp,tt{font-family:monospace;*font-size:108%;line-height:100%;}
/* End of reset fonts */

/* Browser title editor */
#browser_title_container {
	background:#ccc;
	color:#999;
	width:600px;
	min-height:20px;
	margin:0 auto 20px auto;
	padding:5px;
	border-radius: 0px 0px 6px 6px;
	-moz-border-radius: 0px 0px 6px 6px;
}
#browser_title_container a {
	margin-left:20px;
}
#browser_title {
	float:left;
}
#title_top {
	float:left;
}

/* Multi-image container (2+ images in entry page) should be 950px wide */
#container-multi {
	width:950px;
	margin:20px auto 0 auto;
}
/* Single image container (1 image) should be 750px wide */
#container-single {
	width:750px;
	margin:20px auto 0 auto;
}
/* Header */
#hd {
	text-align:center;
	margin:0 0 20px 0;
}
#hd, #hd-title {
	font-size:1.5em;
	font-weight:normal;
}




.i-third {
	width:300px;
	height:200px;
	float:left;
	margin-left:20px;
	overflow:hidden;
	text-align:center;
}
.l-third {
	width:300px;
	float:left;
	margin:5px 0 0 20px;
	text-align:center;
	font-size:1.5em;
}
.i-half {
	width:450px;
	height:300px;
	float:left;
	margin-left:50px;
	overflow:hidden;
	text-align:center;
}
.l-half {
	width:450px;
	float:left;
	margin:5px 0 0 50px;
	text-align:center;
	font-size:1.5em;
}
.i-one {
	width:750px;
	height:400px;
	text-align:center;
}
.l-one {
	width:750px;
	margin:5px 0 0 0;
	text-align:center;
	font-size:1.5em;
}


.first {
	margin-left:0px;
}
.fake-link {
	color:blue;
}

#image-inner-3 {
	height:200px;
}
#label-inner-3 {
	height:30px;
}

#image-inner-2 {
	height:300px;
}
#label-inner-2 {
	height:30px;
}

#image-inner-1 {
	height:400px;
}
#label-inner-1 {
	height:30px;
}


#description, #twitter, #twitter-preview, #blog-posts {
	clear:both;
	width:75%;
	margin:50px auto 0 auto;
	text-align:justify;
}



#description p {
	padding:0 0 10px 0;
}

#twitter-preview h2, #blog-posts h2 {
	font-size:1em;
	font-weight:bold;
}


#entry-footer {
	clear:both;
	margin:20px 0 0 0;
	text-align:center;
}
#facebox {
	color:#555555;
	font-family:"Lucida Grande","Trebuchet MS",Verdana,sans-serif;
	font-size-adjust:none;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:normal;
}
#facebox p {
	padding:5px;
}
#facebox h3 {
	font-weight:bold;
	font-style: oblique;
	margin:5px;
}
#facebox h2 {
	color:#555555;
	font-family:"Helvetica Neue",Arial,sans-serif;
	font-size:1.5em;
	font-size-adjust:none;
	font-stretch:normal;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:normal;
	margin:0 0 10px;
}