<h2>Add Recent Blog Posts</h2>
<p>Your entry page can dynamically display your most recent blog posts.</p>

<p>To enable this feature, you must input the URL of your blog's RSS feed. This is a special URL and <em>not</em> your blog's homepage. </p>

<p><strong>BIG Folio Blog users</strong>: your RSS URL is <em>http://username.bigfolioblog.com/weblog/rss</em></p>

<p><strong>WordPress users</strong>: your RSS URL is usually <em>http://exampleblog.com/?feed=rss2</em></p>

<p><strong>Blogger users</strong>: your RSS URL is usually <em>http://username.blogspot.com/feeds/posts/default?alt=rss</em></p>