<h2>Writing a Good Browser Title</h2>
<p>A well-written browser title can dramatically improve your search-engine placement. Not only should it contain your business name, but also keywords about what you do 
  and the cities and regions where you work.</p>
  
<p>We recommend starting your browser title with <em>the search query that is most important to you</em>, not your business name. For example, if you were a wedding photographer named 
  James Ford and located in Boston, a good browser title might read like this:</p>
  
<h3>Boston wedding photographer James Ford. Wedding photography in Massachusetts, Connecticut, Rhode Island, Cambridge, and New England</h3>
