<h2>Add Recent Twitter Posts</h2>
<p><a href="http://www.twitter.com" target="_blank">Twitter</a> is a micro-blogging service that lets you post short messages from the web, your mobile phone, and other applications. 
  Your entry page can display your most recent tweets. </p>

<p>To enable this feature, simply input your twitter username. If you don't have a Twitter account yet, <a href="https://twitter.com/signup">get one for free from Twitter.com</a>.</p>

<p>And don't forget to <a href="http://www.twitter.com/bigfolio">follow us on Twitter</a>!</p>