<div class="warning" style="display:none;background:yellow;padding:5px 10px;margin-bottom:10px;color:#000;" id="size-warning">
  <p><strong>Warning</strong></p>
  <p>The entry page builder requires a browser width of at least 1100 pixels. We recommend increasing/maximizing the width of your browser if possible.</p>
</div>
<h2>Welcome</h2>
<p>Our new entry page builder allows you to create a custom, search engine-friendly, HTML entry page. You can have up to 3 splash images, each linking to a separate URL. You can also add a description and your most recent blog/<a href="http://www.twitter.com">Twitter</a> posts. </p>

<h3>Tips</h3>

<ul>
  <li>Your entry page must be turned on in <a href="/site_admin.php?mode=browser">your browser settings</a> to be visible</li>
  <li>The preview pane at the bottom of the screen will update as you change the settings above</li>
  <li>Click the labels and description in the preview pane to edit the text</li>
  <li>Clicking <strong>Save</strong> will immediately save your settings and overwrite your existing entry page</li>
  <li>All images and CSS files are stored in your site's extra/ folder</li>
  <li>The sample images in the preview pane will display the appropriate size for your images</li>
  <li>You may use HTML tags or <a href="http://daringfireball.net/projects/markdown/syntax" target="_blank">Markdown syntax</a> to create links/formatting in your description</li>
</ul>

<script type="text/javascript">
  $(function() {
    if ($(window).width() < 1100) {
     $('#size-warning').show();
    }
  });
</script>