@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);

@font-face {
  font-family: 'dejavu_sansbook';
  src: url("fonts/DejaVuSans-webfont.eot");
  src: url("fonts/DejaVuSans-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/DejaVuSans-webfont.woff") format("woff"), url("fonts/DejaVuSans-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

.no-pad {
  padding: 0 !important;
  margin: 0 !important; }

#masthead {
  margin-top: 100px;
  height: 475px;
  background-image: url("images/masthead.jpg");
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover; }
  #masthead h2 {
    font-family: 'dejavu_sansbook', sans;
    font-weight: normal;
    text-align: center;
    color: #fff;
    font-weight: normal;
    margin-top: 20px;
    font-size: 42px;
    line-height: 48px;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.7); }

#masthead201408 {
  margin-top: 100px;
  height: 475px;
  background-image: url("images/homeimage.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain; }
  #masthead201408 h2 {
    font-family: 'dejavu_sansbook', sans;
    font-weight: normal;
    text-align: center;
    color: #f89126;
    font-weight: 100;
    margin-top: -40px;
    font-size: 18px;
    line-height: 18px;
    text-transform: uppercase; }
  #masthead201408 .tryitnow {
    margin: -10px 0;
    background: url("images/tryitnow-line.gif") center center repeat-x;
    height: 25px; }
  #masthead201408 .tryitnowinner {
    background: #fff;
    padding: 0 30px;
    width: 200px;
    margin: auto;
    text-align: center; }
  #masthead201408 .tryitnowbtn {
    background: #f89126;
    color: #fff;
 /*   display: inline-block;  */
    padding: 5px 20px;
    text-transform: uppercase;
    font-size: 12px; }
  #masthead201408 .tryitnowbtn:hover {
    text-decoration: none; }

#cta {
  padding: 10px 0; }
  #cta .cta-menu {
    text-align: justify;
    height: 27px; }
    #cta .cta-menu a {
      display: inline-block;
      padding: 5px 20px;
      font-family: 'dejavu_sansbook', sans;
      font-weight: normal;
      text-transform: uppercase;
      color: #333;
      font-size: 12px;
      border-radius: 6px; }
    #cta .cta-menu a:hover {
      text-decoration: none;
      color: #999; }
    #cta .cta-menu a.active {
      background-color: #f98d37;
      color: white; }
  #cta .cta-menu:after {
    content: ' ';
    display: inline-block;
    width: 100%;
    height: 0; }

#cta.fixed {
  background: #f6f6f6;
  position: fixed;
  width: 100%;
  top: 100px;
  left: 0px;
  z-index: 930; }

#rubix {
  margin: 0 auto;
  max-width: 1400px;
  padding: 40px 2% 0 2%; }
  #rubix h2, #rubix h3 {
    color: #f98d37;
    font-family: 'dejavu_sansbook', sans;
    font-weight: normal;
    text-align: center; }
  #rubix h2 {
    padding-top: 20px; }
  #rubix img.stamp {
    float: left;
    margin-right: 10px; }
  #rubix p.about-rubix {
    font-size: 18px;
    font-family: 'dejavu_sansbook', sans;
    font-weight: normal;
    line-height: 18px;
    padding-top: 36px; }
    #rubix p.about-rubix a {
      font-size: 13px;
      line-height: 13px;
      padding-top: 4px;
      display: block;
      color: #f98d37;
      text-transform: uppercase; }
  #rubix p.intro {
    font-size: 18px;
    font-weight: 200;
    text-align: justify;
    color: #999; }
  #rubix h3.explore {
    margin-top: 50px;
    font-weight: 100;
    font-size: 36px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #ccc; }
  #rubix .triangle {
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 100px 150px 0 150px;
    border-color: #efefef transparent transparent transparent;
    margin: 0 auto 50px auto; }
  #rubix .flush-row {
    margin-left: 0;
    margin-right: 0; }
  #rubix #rubix-more {
    text-align: center;
    background-color: #f98d37; }
    #rubix #rubix-more a, #rubix #rubix-more a:link {
      color: #fff;
      display: block;
      width: 100%;
      padding: 5px 0; }
    #rubix #rubix-more a:hover {
      text-decoration: none;
      background-color: #fcc59a; }

#rubix.unfixed {
  padding-top: 157px; }


  #pricing #pricing-header {
    min-height: 375px;
    background-image: url("images/pricing-masthead.jpg");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;
    text-align: center;
    color: white; }
    #pricing #pricing-header h2, #pricing #pricing-header h3 {
      font-family: 'dejavu_sansbook', sans;
      font-weight: normal;
      text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.7); }
    #pricing #pricing-header h2 {
      margin-top: 150px;
      font-size: 42px;
      line-height: 48px; }
  #pricing #pricing-grid {
    margin: 40px auto 0 auto;
    padding: 0 2%;
    max-width: 1000px; }
    #pricing #pricing-grid .plan {
      min-height: 500px; }
      #pricing #pricing-grid .plan .top {
        height: 200px;
        background: #444445;
        position: relative; }
        #pricing #pricing-grid .plan .top .name {
          padding-top: 15%;
          font-size: 13px;
          color: white;
          text-align: center;
          text-transform: uppercase; }
        #pricing #pricing-grid .plan .top .price {
          font-size: 60px;
          color: white;
          text-align: center; }
          #pricing #pricing-grid .plan .top .price span {
            font-size: 18px; }
        #pricing #pricing-grid .plan .top .frequency {
          color: #888;
          text-transform: uppercase;
          text-align: center;
          position: absolute;
          bottom: 3px;
          width: 100%;
          font-size: 12px; }
      #pricing #pricing-grid .plan .bottom {
        background: #fafafa;
        padding: 20px 0;
        margin-bottom: 20px; }
        #pricing #pricing-grid .plan .bottom ul {
          list-style-type: none;
          margin: 0;
          padding: 0; }
          #pricing #pricing-grid .plan .bottom ul li {
            list-style-type: none;
            text-align: center;
            height: 28px;
            line-height: 28px;
            font-size: 13px; }
      #pricing #pricing-grid .plan .action {
        text-align: center; }
  #pricing #pricing-questions {
    margin: 40px auto 0 auto;
    padding: 0 2%;
    max-width: 1000px;
    font-family: 'dejavu_sansbook', sans;
    font-weight: normal; }
    #pricing #pricing-questions h3 {
      font-size: 16px;
      font-weight: bold; }

#why {
  padding-top: 157px; }
  #why #why-header {
    min-height: 375px;
    background-image: url("images/why-masthead.jpg");
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: cover;
    text-align: center;
    color: white; }
    #why #why-header h2, #why #why-header h3 {
      font-family: 'dejavu_sansbook', sans;
      font-weight: normal;
      text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.7); }
    #why #why-header h2 {
      margin-top: 100px;
      font-size: 42px;
      line-height: 48px; }
  #why #why-fs-and-bs {
    margin: 40px auto 0 auto;
    padding: 0 2%;
    max-width: 1000px;
    font-family: 'dejavu_sansbook', sans;
    font-weight: normal; }
    #why #why-fs-and-bs h3 {
      padding-left: 60px;
      background-repeat: no-repeat;
      background-position: top left;
      height: 40px;
      line-height: 40px; }
    #why #why-fs-and-bs h3.service {
      background-image: url("images/icon-head.png"); }
    #why #why-fs-and-bs h3.custom {
      background-image: url("images/icon-settings.png"); }
    #why #why-fs-and-bs h3.seo {
      background-image: url("images/icon-seo.png"); }
    #why #why-fs-and-bs h3.wp {
      background-image: url("images/icon-wp.png"); }
    #why #why-fs-and-bs h3.creative {
      background-image: url("images/icon-creative.png"); }


    #why #why-fs-and-bs h3.cloud {
      background-image: url("images/icon-cloud.png"); }
    #why #why-fs-and-bs h3.cart {
      background-image: url("images/icon-cart.png"); }
    #why #why-fs-and-bs h3.details {
      background-image: url("images/icon-details.png"); }

#creatives {
  padding-top: 157px; }
  #creatives #creatives-header {
    min-height: 375px;
    background-image: url("/images/creatives-masthead.jpg");
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: cover;
    text-align: center;
    color: white; }
    #creatives #creatives-header h2, #creatives #creatives-header h3 {
      font-family: 'dejavu_sansbook', sans;
      font-weight: normal;
      text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.7); }
    #creatives #creatives-header h2 {
      margin-top: 100px;
      font-size: 42px;
      line-height: 48px; }
  #creatives #testimonials {
    width: 100%;
    margin-bottom: 40px; }
    #creatives #testimonials .row {
      margin: 0; }
    #creatives #testimonials .testimonial {
      background: black;
      padding: 0px;
      height: 40vw;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover; }
      #creatives #testimonials .testimonial .content {
        position: absolute;
        left: 0px;
        bottom: 20px;
        width: 75%;
        background: rgba(255, 255, 255, 0.6);
        padding: 20px 10px;
        font-size: 17px;
        font-weight: bold; }
        #creatives #testimonials .testimonial .content .source {
          font-size: 14px;
          font-weight: normal; }
          #creatives #testimonials .testimonial .content .source a, #creatives #testimonials .testimonial .content .source a:link {
            color: black; }
    #creatives #testimonials #testimonial-edge {
      background-image: url("/images/testimonial-edge.jpg");
      background-position: top left; }
    #creatives #testimonials #testimonial-urbangrace {
      background-image: url("/images/testimonial-urbangrace.jpg"); }
    #creatives #testimonials #testimonial-garner {
      background-image: url("/images/Jim_Garner.jpg"); }
    #creatives #testimonials #testimonial-boggs {
      background-image: url("/images/Lisa_Boggs.jpg"); }
    #creatives #testimonials #testimonial-blakely {
      background-image: url("/images/Alan_Blakely.jpg"); }
    #creatives #testimonials #testimonial-bott {
      background-image: url("/images/Jamie_Bott.jpg"); }
    #creatives #testimonials #testimonial-graham {
      background-image: url("/images/Ryan_Graham.jpg"); }
  #creatives #showcase {
    margin-bottom: 100px; }
    #creatives #showcase h3, #creatives #showcase h4 {
      font-family: 'dejavu_sansbook', sans;
      font-weight: normal; }



#main {
  padding: 0 2%;
  margin: 0 auto;
  max-width: 1400px;
  margin-top: 60px; }

#rubixPreview {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  margin: auto;
  width: 100%;
  height: 100%;
  z-index: 2000;
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.8); }

.page-header {
  margin-top: 100px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover; }
  .page-header h2 {
    font-family: 'dejavu_sansbook', sans;
    font-weight: normal;
    text-align: center;
    color: #fff;
    font-weight: normal;
    margin-top: 100px;
    font-size: 42px;
    line-height: 48px;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.7); }
  .page-header h3 {
    font-family: 'dejavu_sansbook', sans;
    font-weight: normal;
    text-align: center;
    color: #fff;
    font-weight: normal;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.7); }

#rubix-about {
  font-size: 18px;
  font-weight: 200; }

#rubixPreview {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  margin: auto;
  width: 100%;
  height: 100%;
  z-index: 2000;
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.8); }
  #rubixPreview .close-btn {
    position: absolute;
    left: 94%;
    top: 1%;
    margin: 0;
    color: #FFF; }

#rubix-masthead {
  height: 400px;
  background: url("/wp-content/themes/dazzling/images/rubix-masthead.jpg");
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover; }
  #rubix-masthead h2 {
    margin-top: 80px; }

.rubixScreen {
  width: 100%;
  position: absolute;
  margin-top: 30px;
  opacity: 0;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  -webkit-transition: linear 300ms 300ms opacity;
  -moz-transition: linear 300ms 300ms opacity;
  -o-transition: linear 300ms 300ms opacity;
  transition: linear 300ms 300ms opacity; }

.curRubixScreen {
  opacity: 1;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=1);
  -webkit-transition: linear 300ms opacity;
  -moz-transition: linear 300ms opacity;
  -o-transition: linear 300ms opacity;
  transition: linear 300ms opacity; }

#layout-selections img {
  padding: 0 4%; }
#layout-selections h3 {
  display: none; }

#giveItAWhirl {
  margin: 60px 0;
  text-align: center;
  font-size: 18px; }
  #giveItAWhirl label {
    font-size: 12px;
    width: 100%;
    font-weight: 400; }
  #giveItAWhirl h3 {
    font-weight: 400;
    margin-bottom: 20px; }
  #giveItAWhirl input[type="radio"] {
    font-size: 10px; }
  #giveItAWhirl input[type="submit"] {
    margin-top: 20px; }
  #giveItAWhirl #masonry_thumbnail_mode {
    display: none; }

@media (max-width: 992px) {
  #layout-headings {
    display: none; }

  #layout-selections h3 {
    display: block; } }
@media (min-width: 1200px) {
  #giveItAWhirl label {
    font-size: 14px; } }
#circles {
  text-align: center;
  margin-bottom: 60px; }
  #circles img {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
  #circles h3 {
    font-size: 18px; }

#details h2 {
  text-align: left; }
#details .question {
  margin-top: 20px;
  font-weight: 600; }
  
.designs2 .preview2 {
  position: relative;
  z-index: 5;
  margin: 0 0 50px 0;
  width: 100%; }
  .designs2 .preview2 .info2 {
    display: none;
    z-index: 10;
    background-color: rgba(255, 255, 255, 0.95);
    -webkit-box-shadow: inset 0px 1px 4px 0px rgba(0, 0, 0, 0.25);
    box-shadow: inset 0px 1px 4px 0px rgba(0, 0, 0, 0.25);
    height: 30px;
    position: absolute;
    top: 50%;
    margin-top: 185px;
    width: 98%;
	left: 7px; }
    .designs2 .preview2 .info2 .inner2 {
      margin: 3px;   
      font-size: 14px; }  
  

.designs .preview {
  position: relative;
  z-index: 5;
  margin: 0 0 50px 0;
  width: 100%; }
  .designs .preview .info {
    display: none;
    z-index: 10;
    background-color: rgba(255, 255, 255, 0.95);
    -webkit-box-shadow: inset 0px 1px 4px 0px rgba(0, 0, 0, 0.25);
    box-shadow: inset 0px 1px 4px 0px rgba(0, 0, 0, 0.25);
    height: 230px;
    position: absolute;
    top: 50%;
    margin-top: -115px;
    width: 100%; }
    .designs .preview .info .inner {
      margin: 40px;
      font-size: 14px; }
      .designs .preview .info .inner h2 {
        margin: 10px 0;
        font-size: 20.5px; }
        .designs .preview .info .inner h2 small {
          font-size: 13px;
          color: #f4c220; }
    .designs .preview .info ul {
      list-style-type: none;
      margin: 0;
      padding: 0; }
      .designs .preview .info ul li {
        margin: 0 0 10px 0;
        padding: 0;
        line-height: 21px;
        list-style-type: none;
        color: #666; }

#about {
  background-image: url("/wp-content/themes/dazzling/images/about-masthead.jpg"); }

#contact {
  background-image: url("/wp-content/themes/dazzling/images/contact-masthead.jpg"); }

#bigshow {
  background-image: url("/wp-content/themes/dazzling/images/splash-01.jpg"); }

#logos {
  background-image: url("/wp-content/themes/dazzling/images/logo-masthead.jpg");
  background-position: center left; }

#seo {
  background-image: url("/wp-content/themes/dazzling/images/seo-masthead.jpg");
  background-position: center right; }

#white-glove {
  background-image: url("/wp-content/themes/dazzling/images/white-glove-masthead.jpg");
  background-position: bottom left; }
  
#sell-photos {
  background-image: url("/wp-content/themes/dazzling/images/sell-your-photos.jpg");
  background-position: bottom left; }

.page-body {
  min-height: 600px;
  padding-bottom: 100px; }
  .page-body .columned {
    margin-top: 0px; }
  .page-body .spaced-row {
    margin-bottom: 40px; }
  .page-body .page-section {
    margin-bottom: 100px; }
  .page-body h2 {
    font-family: 'dejavu_sansbook', sans;
    font-weight: normal;
    text-align: center;
    margin-bottom: 40px; }
  .page-body p.standout {
    font-family: 'dejavu_sansbook', sans;
    font-weight: normal;
    font-size: 18px;
    margin-bottom: 20px; }
  .page-body p.vital-detail {
    color: #999; }
  .page-body h4 {
    color: #f98d37;
/*    font-weight: 200;  */ }

.profile .head {
  padding-top: 20px; }
  .profile .head img {
    margin: 0 auto; }
.profile .card {
  text-align: center; }
  .profile .card h3 {
    font-family: 'dejavu_sansbook', sans;
    font-weight: normal;
    font-size: 20px;
    margin-bottom: 5px; }
    .profile .card h3 a {
      font-size: 16px;
      height: 24px;
      color: #f98d37; }
  .profile .card p {
    color: #999;
    font-size: 12px;
    margin-bottom: 0px; }
  .profile .card p.social {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 18px; }
    .profile .card p.social a {
      color: #f98d37; }

.big-show-sample {
  margin-bottom: 20px; }

.logo-samples {
  width: 80%;
  margin: 0 auto; }

p.logo-level {
  color: #666;
  border-top: 1px solid #999;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700; }

.logo-row {
  border-bottom: 1px solid #999;
  height: 0; }
  
/* =Navigation
----------------------------------------------- */

.module-nav {
    background: #FFF none repeat scroll 0% 0%;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2), 0px 3px 6px rgba(0, 0, 0, 0.1);
	}
	
.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
    margin-left: 0px;
}

.module-nav .navbar-collapse {
    max-height: 400px;
}

.module-nav .navbar-brand {
    padding-left: 0px;
    min-height: 80px;
}	

.navbar-brand {
    float: left;
    height: 50px;
    padding: 15px;
    font-size: 18px;
    line-height: 20px;
}
/*
.module-nav .navbar-brand img {
    height: 100%;
}
*/
.navbar-brand > img {
    display: block;
}

.site-main [class*="navigation"] a,
.more-link {
  border: 1px solid #E8E8E8;
  padding: 6px 12px;
  border-radius: 4px;
  display: block;
}
.site-main [class*="navigation"] a:hover,
.more-link:hover {
  color: #fff;
  background: #1FA67A;
  text-decoration: none;
}
.more-link {
  float: right;
  margin: 10px 0;
}
.site-main [class*="navigation"] {
  margin: 0 0 1.5em;
  overflow: hidden;
}
[class*="navigation"] .nav-previous {
  float: left;
}
[class*="navigation"] .nav-next {
  float: right;
  text-align: right;
}
/*.navbar.navbar-default {
  background-color: #fff;
  font-weight: 200;
  margin-bottom: 0;
  margin-top: 0px;
  border-bottom: 1px solid #eee;
}

*/
.navbar-default .navbar-nav > li > a {
  color: #999;
  line-height: 30px;
}
.navbar > .container .navbar-brand {
  color: #1FA67A;
  font-size: 24px;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  border-right: none;
  border-left: none;
}
.navbar {
    border: 1px solid transparent;
    min-height: 50px;
    margin-bottom: 20px;
}
.navbar-default {
  border-color: #E7E7E7;
  background-color: #F8F8F8;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus,
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
  color: #000000;
/*  background-color: #F89126; */
}
.navbar-default .navbar-nav .open .dropdown-menu > li > a {
  color: #999;
}
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
  border-left: 1px solid rgba(0, 0, 0, 0.1);
}
.dropdown-menu > li > a {
  padding: 14px 20px;
  color: #999;
}
.dropdown-menu,
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  border: none;
}


.dropdown-menu .divider {
  background-color: rgba(0, 0, 0, 0.1);
}
.navbar-nav > li > .dropdown-menu {
  padding: 0;
}
.navbar-nav > li > a {
  padding-top: 18px;
  padding-bottom: 18px;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #DDD;
}
.nav.navbar-nav {
  float: right;
}
@media (max-width: 767px) {
  .nav.navbar-nav {
    float: none;
  }
}


.tab-thumb.thumbnail {
    margin-bottom: 5px;
}
.tab-content .tab-thumb {
    margin-right: 8px;
    padding-top: 5px;
    float: left;
    line-height: 0px;
    width: 51px;
    height: 42px;
}

.widget {
    margin: 0px 0px 1.5em;
}

.tab-content ul li {
    list-style: outside none none;
}

.widget ul.nav.nav-tabs {
    padding: 0px;
}

.tab-content .tab-entry {
    font-size: 14px;
}
.tab-content .tab-entry {
    display: block;
	line-height: 45px;
}

.tab-content li {
    overflow: hidden;
	list-style: outside none none;
    border-bottom: 1px solid #F0F0F0;
    margin: 0px 0px 8px;
    padding: 0px 0px 6px;
}

.tab-content > .active {
    border-width: medium 1px 1px;
	border: 1px solid #ddd;
/*    border-style: none solid solid; */
    border-color: -moz-use-text-color #E8E8E8 #E8E8E8;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
}

.widget ul {
    padding: 10px;
}

#help_buttons div {
    background: #AAA none repeat scroll 0% 0%;
    border-radius: 4px;
    padding: 2%;
    width: 44%;
    min-height: 160px;
    float: left;
    margin: 10px 2% 10px 0px;
    text-shadow: 0px 2px 0px rgba(0, 0, 0, 0.3);
    color: #FFF;
}

#help_buttons {
    margin-bottom: 30px;
}

#help_buttons a {
    font-weight: normal;
    color: #FFF;
}

.help_index a {
    color: #000;
}

a.designSpecIndexLink {
    color: #000;
    margin-bottom: 5px;
}

.help_page a.btn {
    background: #222 none repeat scroll 0% 0%;
    border-radius: 4px;
    color: #FFF;
}

.help_page ul#help_nav {
    margin: 20px 0px;
}

.designSpecsIndexThumb {
    margin: 10px 0px;
    text-align: center;
    padding: 5px;
}

.designSpecsIndexImage {
}

.designSpecsIndexImage img {
    border: 1px solid #AAA;
    max-height: 120px;
}
.help_post img {
    max-width: 100%;
}

.help_post h2 {
    margin-top: 30px;
}

.help_post table {
    border-left: 1px solid #CCC;
    border-top: 1px solid #CCC;
}

.help_post th {
    background: #EEE none repeat scroll 0% 0%;
}
.help_post td, .help_post th {
    padding: 3px;
    border-right: 1px solid #CCC;
    border-bottom: 1px solid #CCC;
}

.help_post img {
    max-width: 100%;
}


a.chgColor {color:#000000; z-index:999; text-decoration:none; }
a.chgColor:hover {color:#f7901e; z-index:999; text-decoration:none; }


