@font-face {
  font-family: 'dejavu_sansbook';
  src: url("/fonts/DejaVuSans-webfont.eot");
  src: url("/fonts/DejaVuSans-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/DejaVuSans-webfont.woff") format("woff"), url("/fonts/DejaVuSans-webfont.ttf") format("truetype"), url("/fonts/DejaVuSans-webfont.svg#dejavu_sansbook") format("svg");
  font-weight: normal;
  font-style: normal; }
.no-pad {
  padding: 0 !important;
  margin: 0 !important; }

#masthead {
  margin-top: 100px;
  height: 475px;
  background-image: url("/images/masthead.jpg");
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover; }
  #masthead h2 {
    font-family: 'dejavu_sansbook', sans;
    font-weight: normal;
    text-align: center;
    color: #fff;
    font-weight: normal;
    margin-top: 20px;
    font-size: 42px;
    line-height: 48px;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.7); }

#masthead201408 {
  margin-top: 100px;
  height: 475px;
  background-image: url("/images/masthead_201408.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain; }
  #masthead201408 h2 {
    font-family: 'dejavu_sansbook', sans;
    font-weight: normal;
    text-align: center;
    color: #f89126;
    font-weight: 100;
    margin-top: 0;
    font-size: 18px;
    line-height: 18px;
    text-transform: uppercase; }
  #masthead201408 .tryitnow {
    margin: 10px 0;
    background: url("/images/tryitnow-line.gif") center center repeat-x;
    height: 25px; }
  #masthead201408 .tryitnowinner {
    background: #fff;
    padding: 0 30px;
    width: 200px;
    margin: auto;
    text-align: center; }
  #masthead201408 .tryitnowbtn {
    background: #f89126;
    color: #fff;
    display: inline-block;
    padding: 5px 20px;
    text-transform: uppercase;
    font-size: 12px; }
  #masthead201408 .tryitnowbtn:hover {
    text-decoration: none; }

#cta {
  padding: 10px 0; }
  #cta .cta-menu {
    text-align: justify;
    height: 27px; }
    #cta .cta-menu a {
      display: inline-block;
      padding: 5px 20px;
      font-family: 'dejavu_sansbook', sans;
      font-weight: normal;
      text-transform: uppercase;
      color: #333;
      font-size: 12px;
      border-radius: 6px; }
    #cta .cta-menu a:hover {
      text-decoration: none;
      color: #999; }
    #cta .cta-menu a.active {
      background-color: #f98d37;
      color: white; }
  #cta .cta-menu:after {
    content: ' ';
    display: inline-block;
    width: 100%;
    height: 0; }

#cta.fixed {
  background: #f6f6f6;
  position: fixed;
  width: 100%;
  top: 100px;
  left: 0px;
  z-index: 930; }

#rubix {
  margin: 0 auto;
  max-width: 1400px;
  padding: 157px 2% 0 2%; }
  #rubix h2, #rubix h3 {
    color: #f98d37;
    font-family: 'dejavu_sansbook', sans;
    font-weight: normal;
    text-align: center; }
  #rubix h2 {
    padding-top: 20px; }
  #rubix img.stamp {
    float: left;
    margin-right: 10px; }
  #rubix p.about-rubix {
    font-size: 18px;
    font-family: 'dejavu_sansbook', sans;
    font-weight: normal;
    line-height: 18px;
    padding-top: 36px; }
    #rubix p.about-rubix a {
      font-size: 13px;
      line-height: 13px;
      padding-top: 4px;
      display: block;
      color: #f98d37;
      text-transform: uppercase; }
  #rubix p.intro {
    font-size: 18px;
    font-weight: 200;
    text-align: justify;
    color: #999; }
  #rubix h3.explore {
    margin-top: 50px;
    font-weight: 100;
    font-size: 36px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #ccc; }
  #rubix .triangle {
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 100px 150px 0 150px;
    border-color: #efefef transparent transparent transparent;
    margin: 0 auto 50px auto; }
  #rubix .flush-row {
    margin-left: 0;
    margin-right: 0; }
  #rubix #rubix-more {
    text-align: center;
    background-color: #f98d37; }
    #rubix #rubix-more a, #rubix #rubix-more a:link {
      color: #fff;
      display: block;
      width: 100%;
      padding: 5px 0; }
    #rubix #rubix-more a:hover {
      text-decoration: none;
      background-color: #fcc59a; }

#rubix.unfixed {
  padding-top: 157px; }

#pricing {
  padding-top: 157px; }
  #pricing #pricing-header {
    min-height: 375px;
    background-image: url("/images/pricing-masthead.jpg");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;
    text-align: center;
    color: white; }
    #pricing #pricing-header h2, #pricing #pricing-header h3 {
      font-family: 'dejavu_sansbook', sans;
      font-weight: normal;
      text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.7); }
    #pricing #pricing-header h2 {
      margin-top: 150px;
      font-size: 42px;
      line-height: 48px; }
  #pricing #pricing-grid {
    margin: 40px auto 0 auto;
    padding: 0 2%;
    max-width: 1000px; }
    #pricing #pricing-grid .plan {
      min-height: 500px; }
      #pricing #pricing-grid .plan .top {
        height: 200px;
        background: #444445;
        position: relative; }
        #pricing #pricing-grid .plan .top .name {
          padding-top: 15%;
          font-size: 13px;
          color: white;
          text-align: center;
          text-transform: uppercase; }
        #pricing #pricing-grid .plan .top .price {
          font-size: 60px;
          color: white;
          text-align: center; }
          #pricing #pricing-grid .plan .top .price span {
            font-size: 18px; }
        #pricing #pricing-grid .plan .top .frequency {
          color: #888;
          text-transform: uppercase;
          text-align: center;
          position: absolute;
          bottom: 3px;
          width: 100%;
          font-size: 12px; }
      #pricing #pricing-grid .plan .bottom {
        background: #fafafa;
        padding: 20px 0;
        margin-bottom: 20px; }
        #pricing #pricing-grid .plan .bottom ul {
          list-style-type: none;
          margin: 0;
          padding: 0; }
          #pricing #pricing-grid .plan .bottom ul li {
            list-style-type: none;
            text-align: center;
            height: 28px;
            line-height: 28px;
            font-size: 13px; }
      #pricing #pricing-grid .plan .action {
        text-align: center; }
  #pricing #pricing-questions {
    margin: 40px auto 0 auto;
    padding: 0 2%;
    max-width: 1000px;
    font-family: 'dejavu_sansbook', sans;
    font-weight: normal; }
    #pricing #pricing-questions h3 {
      font-size: 16px;
      font-weight: bold; }

#why {
  padding-top: 157px; }
  #why #why-header {
    min-height: 375px;
    background-image: url("/images/why-masthead.jpg");
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: cover;
    text-align: center;
    color: white; }
    #why #why-header h2, #why #why-header h3 {
      font-family: 'dejavu_sansbook', sans;
      font-weight: normal;
      text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.7); }
    #why #why-header h2 {
      margin-top: 100px;
      font-size: 42px;
      line-height: 48px; }
  #why #why-fs-and-bs {
    margin: 40px auto 0 auto;
    padding: 0 2%;
    max-width: 1000px;
    font-family: 'dejavu_sansbook', sans;
    font-weight: normal; }
    #why #why-fs-and-bs h3 {
      padding-left: 60px;
      background-repeat: no-repeat;
      background-position: top left;
      height: 40px;
      line-height: 40px; }
    #why #why-fs-and-bs h3.service {
      background-image: url("/images/icon-head.png"); }
    #why #why-fs-and-bs h3.custom {
      background-image: url("/images/icon-settings.png"); }
    #why #why-fs-and-bs h3.seo {
      background-image: url("/images/icon-seo.png"); }
    #why #why-fs-and-bs h3.wp {
      background-image: url("/images/icon-wp.png"); }
    #why #why-fs-and-bs h3.creative {
      background-image: url("/images/icon-creative.png"); }
    #why #why-fs-and-bs h3.cloud {
      background-image: url("/images/icon-cloud.png"); }
    #why #why-fs-and-bs h3.cart {
      background-image: url("/images/icon-cart.png"); }
    #why #why-fs-and-bs h3.details {
      background-image: url("/images/icon-details.png"); }

#creatives {
  padding-top: 157px; }
  #creatives #creatives-header {
    min-height: 375px;
    background-image: url("/images/creatives-masthead.jpg");
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: cover;
    text-align: center;
    color: white; }
    #creatives #creatives-header h2, #creatives #creatives-header h3 {
      font-family: 'dejavu_sansbook', sans;
      font-weight: normal;
      text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.7); }
    #creatives #creatives-header h2 {
      margin-top: 100px;
      font-size: 42px;
      line-height: 48px; }
  #creatives #testimonials {
    width: 100%;
    margin-bottom: 40px; }
    #creatives #testimonials .row {
      margin: 0; }
    #creatives #testimonials .testimonial {
      background: black;
      padding: 0px;
      height: 40vw;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover; }
      #creatives #testimonials .testimonial .content {
        position: absolute;
        left: 0px;
        bottom: 20px;
        width: 75%;
        background: rgba(255, 255, 255, 0.6);
        padding: 20px 10px;
        font-size: 17px;
        font-weight: bold; }
        #creatives #testimonials .testimonial .content .source {
          font-size: 14px;
          font-weight: normal; }
          #creatives #testimonials .testimonial .content .source a, #creatives #testimonials .testimonial .content .source a:link {
            color: black; }
    #creatives #testimonials #testimonial-edge {
      background-image: url("/images/testimonial-edge.jpg");
      background-position: top left; }
    #creatives #testimonials #testimonial-urbangrace {
      background-image: url("/images/testimonial-urbangrace.jpg"); }
    #creatives #testimonials #testimonial-garner {
      background-image: url("/images/Jim_Garner.jpg"); }
    #creatives #testimonials #testimonial-boggs {
      background-image: url("/images/Lisa_Boggs.jpg"); }
    #creatives #testimonials #testimonial-blakely {
      background-image: url("/images/Alan_Blakely.jpg"); }
    #creatives #testimonials #testimonial-bott {
      background-image: url("/images/Jamie_Bott.jpg"); }
    #creatives #testimonials #testimonial-graham {
      background-image: url("/images/Ryan_Graham.jpg"); }
  #creatives #showcase {
    margin-bottom: 100px; }
    #creatives #showcase h3, #creatives #showcase h4 {
      font-family: 'dejavu_sansbook', sans;
      font-weight: normal; }

#footer {
  padding: 40px 0;
  background: #e7f5ef;
  color: #9fd7bf;
  min-height: 200px; }
  #footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0; }
    #footer ul li {
      list-style-type: none; }
    #footer ul a, #footer ul a:link {
      color: #9fd7bf; }

#main {
  padding: 0 2%;
  margin: 0 auto;
  max-width: 1400px;
  margin-top: 100px; }

#rubixPreview {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  margin: auto;
  width: 100%;
  height: 100%;
  z-index: 2000;
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.8); }

.page-header {
  margin-top: 100px;
  height: 475px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover; }
  .page-header h2 {
    font-family: 'dejavu_sansbook', sans;
    font-weight: normal;
    text-align: center;
    color: #fff;
    font-weight: normal;
    margin-top: 100px;
    font-size: 42px;
    line-height: 48px;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.7); }
  .page-header h3 {
    font-family: 'dejavu_sansbook', sans;
    font-weight: normal;
    text-align: center;
    color: #fff;
    font-weight: normal;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.7); }

#rubix-about {
  font-size: 18px;
  font-weight: 200; }

#rubixPreview {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  margin: auto;
  width: 100%;
  height: 100%;
  z-index: 2000;
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.8); }
  #rubixPreview .close-btn {
    position: absolute;
    left: 94%;
    top: 1%;
    margin: 0;
    color: #FFF; }

#rubix-masthead {
  height: 500px;
  background: url("/images/rubix-masthead.jpg");
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover; }
  #rubix-masthead h2 {
    margin-top: 80px; }

.rubixScreen {
  width: 100%;
  position: absolute;
  margin-top: 30px;
  opacity: 0;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  -webkit-transition: linear 300ms 300ms opacity;
  -moz-transition: linear 300ms 300ms opacity;
  -o-transition: linear 300ms 300ms opacity;
  transition: linear 300ms 300ms opacity; }

.curRubixScreen {
  opacity: 1;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=1);
  -webkit-transition: linear 300ms opacity;
  -moz-transition: linear 300ms opacity;
  -o-transition: linear 300ms opacity;
  transition: linear 300ms opacity; }

#layout-selections img {
  padding: 0 4%; }
#layout-selections h3 {
  display: none; }

#giveItAWhirl {
  margin: 60px 0;
  text-align: center;
  font-size: 18px; }
  #giveItAWhirl label {
    font-size: 12px;
    width: 100%;
    font-weight: 400; }
  #giveItAWhirl h3 {
    font-weight: 400;
    margin-bottom: 20px; }
  #giveItAWhirl input[type="radio"] {
    font-size: 10px; }
  #giveItAWhirl input[type="submit"] {
    margin-top: 20px; }
  #giveItAWhirl #masonry_thumbnail_mode {
    display: none; }

@media (max-width: 992px) {
  #layout-headings {
    display: none; }

  #layout-selections h3 {
    display: block; } }
@media (min-width: 1200px) {
  #giveItAWhirl label {
    font-size: 14px; } }
#circles {
  text-align: center;
  margin-bottom: 60px; }
  #circles img {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
  #circles h3 {
    font-size: 18px; }

#details h2 {
  text-align: left; }
#details .question {
  margin-top: 20px;
  font-weight: 600; }

.designs .preview {
  position: relative;
  z-index: 5;
  margin: 0 0 50px 0;
  width: 100%; }
  .designs .preview .info {
    display: none;
    z-index: 10;
    background-color: rgba(255, 255, 255, 0.95);
    -webkit-box-shadow: inset 0px 1px 4px 0px rgba(0, 0, 0, 0.25);
    box-shadow: inset 0px 1px 4px 0px rgba(0, 0, 0, 0.25);
    height: 230px;
    position: absolute;
    top: 50%;
    margin-top: -115px;
    width: 100%; }
    .designs .preview .info .inner {
      margin: 40px;
      font-size: 14px; }
      .designs .preview .info .inner h2 {
        margin: 10px 0;
        font-size: 20.5px; }
        .designs .preview .info .inner h2 small {
          font-size: 13px;
          color: #f4c220; }
    .designs .preview .info ul {
      list-style-type: none;
      margin: 0;
      padding: 0; }
      .designs .preview .info ul li {
        margin: 0 0 10px 0;
        padding: 0;
        line-height: 21px;
        list-style-type: none;
        color: #666; }

#about {
  background-image: url("/images/about-masthead.jpg"); }

#contact {
  background-image: url("/images/contact-masthead.jpg"); }

#bigshow {
  background-image: url("/images/splash-01.jpg"); }

#logos {
  background-image: url("/images/logo-masthead.jpg");
  background-position: center left; }

#seo {
  background-image: url("/images/seo-masthead.jpg");
  background-position: center right; }

#white-glove {
  background-image: url("/images/white-glove-masthead.jpg");
  background-position: bottom left; }

.page-body {
  min-height: 600px;
  padding-bottom: 100px; }
  .page-body .columned {
    margin-top: 0px; }
  .page-body .spaced-row {
    margin-bottom: 40px; }
  .page-body .page-section {
    margin-bottom: 100px; }
  .page-body h2 {
    font-family: 'dejavu_sansbook', sans;
    font-weight: normal;
    text-align: center;
    margin-bottom: 40px; }
  .page-body p.standout {
    font-family: 'dejavu_sansbook', sans;
    font-weight: normal;
    font-size: 18px;
    margin-bottom: 20px; }
  .page-body p.vital-detail {
    color: #999; }
  .page-body h4 {
    color: #f98d37;
    font-weight: 200; }

.profile .head {
  padding-top: 20px; }
  .profile .head img {
    margin: 0 auto; }
.profile .card {
  text-align: center; }
  .profile .card h3 {
    font-family: 'dejavu_sansbook', sans;
    font-weight: normal;
    font-size: 20px;
    margin-bottom: 5px; }
    .profile .card h3 a {
      font-size: 16px;
      height: 24px;
      color: #f98d37; }
  .profile .card p {
    color: #999;
    font-size: 12px;
    margin-bottom: 0px; }
  .profile .card p.social {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 18px; }
    .profile .card p.social a {
      color: #f98d37; }

.big-show-sample {
  margin-bottom: 20px; }

.logo-samples {
  width: 80%;
  margin: 0 auto; }

p.logo-level {
  color: #666;
  border-top: 1px solid #999;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700; }

.logo-row {
  border-bottom: 1px solid #999;
  height: 0; }
