@media only screen and (min-width: 320px) and (max-width: 568px) {
  .logo {
    width: 220px;
    height: auto; }

  #masthead {
    height: 240px; }
    #masthead h2 {
      text-align: left;
      font-size: 24px;
      line-height: 32px; }

  #cta .cta-menu {
    text-align: left;
    height: 57px; }
    #cta .cta-menu a {
      display: none; }
    #cta .cta-menu a.active {
      display: block;
      padding: 20px;
      text-align: center; }

  #rubix p.about-rubix {
    width: 98%; }

  #why #why-fs-and-bs h3 {
    font-size: 16px; }

  #creatives #testimonials .testimonial {
    height: 320px; } }
