.navbar-brand {
  height: 100px;
  padding: 0px; }

.navbar-default {
  background-color: #fff;
  border-color: #fff; }

.navbar-nav > li > a {
  font-family: 'dejavu_sansbook', sans;
  font-size: 11px;
  text-transform: uppercase;
  padding-top: 40px;
  padding-bottom: 40px;
  line-height: 20px; }
