@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);

@font-face {
  font-family: 'dejavu_sansbook';
  src: url("../fonts/DejaVuSans-webfont.eot");
  src: url("../fonts/DejaVuSans-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/DejaVuSans-webfont.woff") format("woff"), url("../fonts/DejaVuSans-webfont.ttf") format("truetype"), url("../fonts/DejaVuSans-webfont.svg#dejavu_sansbook") format("svg");
  font-weight: normal;
  font-style: normal; }

#pricing #pricing-questions {
    margin: 40px auto 0px;
    padding: 0px 2%;
    max-width: 1000px;
    font-family: "dejavu_sansbook",sans;
    font-weight: normal;
}

#pricing #pricing-questions h3 {
    font-size: 16px;
    font-weight: bold;
}


.sidebar .sidebar-tile .sidebar-menu, .pagination ul {
  padding: 0;
  margin: 0;
}
.sidebar .sidebar-tile .sidebar-menu li, .pagination ul li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.plans-include-text {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  justify-content: space-around;
  -ms-justify-content: space-around;
  -webkit-justify-content: space-around;
  align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
}

.sing-up .modal-dialog .modal-body .remember-me, .landing-stage2-photo, .landing-stage3-photo {
  display: -webkit-flex;
  -webkit-flex-wrap: wrap;
  display: flex;
  flex-wrap: flex;
  justify-content: space-between;
  -ms-justify-content: space-between;
  -webkit-justify-content: space-between;
   align-items: top;
  -webkit-align-items: top;
  -ms-align-items: top;
}

.plans-credit-img, .sing-up .modal-dialog .modal-body .block-modal {
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  -ms-justify-content: center;
  -webkit-justify-content: center;
  align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
}

#bottomfooter {
  background: #000000;
  color: #ffffff;
  min-height: 40px;
  padding: 10px;
  font-size:12px;
}

.footer {
    min-height: 250px;
    background: #585858 none repeat scroll 0% 0%;
    border-top: 4px solid #8C8C8C;
    color: #A5A5A5;
    font-size: 14px;
}

.footer-links .plans-h2 {
    margin-top: 35px;
    margin-bottom: 10px;
    display: inline-block;
    font-size: 20px;
    font-weight: 600;
    color: #FAA227;
}

.footer-links {
    text-align: center;
}

.footer-logo .soc-seti {
    padding-top: 10px;
    text-align: center;
}

.footer-logo .soc-seti a {
    color: #333;
    padding-left: 5px;
    padding-right: 5px;
}

.footer-links-items ul li a {
    color: #A5A5A5;
}

.footer-links-items ul {
    text-align: left;
}

.footer-links-items {
    flex-wrap: wrap;
}
.footer-links-items {
    display: flex;
    justify-content: center;
}

.footer-links-items ul:nth-child(1) {
    padding-right: 15px;
}
.footer-links-items ul {
    text-align: left;
    padding-left: 15px;
    display: inline-block;
}

.footer-links-items ul li {
    list-style-type: none;
}


.footer-logo img {
    display: inline-block;
}
.footer-logo img {
    max-width: 160px;
    margin-bottom: 10px;
}

img {

    vertical-align: middle;
}

.footer-logo {
    text-align: center;
}
.footer-logo {
    margin-top: 25px;
}

.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.footer-logo {
    margin-top: 25px;
}

.footer-logo p {
    margin-bottom: 0px;
}





body.modal-open .navbar-fixed-top {
  margin-left: -15px;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

h1 {
  margin: 0;
}

.no-padding {
  padding: 0 !important;
}

a {
  color: #333;
/*  -webkit-transition: all 0.15s linear; */
/*  -moz-transition: all 0.15s linear; */
/*  -ms-transition: all 0.15s linear; */
/*  transition: all 0.15s linear;  */
  cursor: pointer;
}
a:hover {
  color: #6e9dff;
  text-decoration: none;
}

.btn-primary {
  display: block;
  width: 100%;
  background-color: #0094f7;
  -webkit-transition: all 0.15s linear;
  -moz-transition: all 0.15s linear;
  -ms-transition: all 0.15s linear;
  transition: all 0.15s linear;
  font-size: 22px;
  height: 41px;
  text-transform: uppercase;
}
.btn-primary:hover {
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0094f7), to(#6e9dff));
  background-image: -webkit-linear-gradient(top, #0094f7, #6e9dff);
  background-image: -o-linear-gradient(top, #0094f7, #6e9dff);
  background-image: linear-gradient(to bottom, #0094f7, #6e9dff);
  background-repeat: repeat-x;
  -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.75), inset 0 1px rgba(255, 255, 255, 0.44);
  -moz-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.75), inset 0 1px rgba(255, 255, 255, 0.44);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.75), inset 0 1px rgba(255, 255, 255, 0.44);
}
.btn-primary:active {
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.51);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.51);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.51);
}
.btn-primary:focus {
  background-color: #0094f7;
}

.btn.btn-warning {
  background: #faa227;
  border-color: #fa9e1d;
}
.btn.btn-warning:hover, .btn.btn-warning:active, .btn.btn-warning:focus, .btn.btn-warning:focus:active, .btn.btn-warning:active:hover {
  background: #e98a05;
}

/***********************/
.content-section {
  padding-top: 30px;
  padding-bottom: 30px;
}

.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
  margin-left: 0;
}

.navbar-right {
  margin-right: 0;
}

.module-nav {
  background: #fff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2), 0 3px 6px rgba(0, 0, 0, 0.1);
}
.module-nav .navbar-brand {
  padding-left: 0;
  min-height: 80px;
}
.module-nav .navbar-brand img {
  height: 100%;
}
.module-nav .menu {
  margin-right: 70px;
  margin-left: 70px;
}
.module-nav .language a {
  background: url(../img/globe.png) left no-repeat;
  padding-left: 20px;
}
.module-nav .navbar-nav > .active > a {
  background: #f8f8f8;
}
.module-nav .navbar-nav > .active > a:hover {
  background: #f8f8f8;
}
.module-nav .navbar-nav li a {
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 20px;
}
.module-nav .navbar-nav li:active, .module-nav .navbar-nav li:hover {
  background: #fff;
  color: #6e9dff;
}
.module-nav .navbar-nav li.login a {
  margin-top: 25px;
  margin-bottom: 25px;
  padding: 5px 10px;
  border: 1px solid #6e9dff;
  color: #6e9dff;
  -webkit-transition: all 0.15s linear;
  -moz-transition: all 0.15s linear;
  -ms-transition: all 0.15s linear;
  transition: all 0.15s linear;
}
.module-nav .navbar-nav li.login a:hover {
  color: #0858ff;
  border: 1px solid #0858ff;
}
.module-nav .navbar-collapse {
  max-height: 400px;
}



.sidebar .sidebar-tile {
  margin-bottom: 30px;
}
.sidebar .sidebar-tile .tile-title {
  font-size: 20px;
  color: #faa227;
  padding-bottom: 5px;
  border-bottom: 3px solid #faa227;
  margin-bottom: 15px;
}
.sidebar .sidebar-tile .sidebar-menu li {
  padding: 2px 0;
  border-bottom: 1px solid #ccc;
  text-align: right;
  position: relative;
  padding-left: 40px;
}
.sidebar .sidebar-tile .sidebar-menu li:before {
  content: '';
  width: 25px;
  height: 13px;
  background: url(../img/menu-icon.png) center no-repeat;
  background-size: 100%;
  display: block;
  position: absolute;
  top: 9px;
  left: 5px;
}
.sidebar .sidebar-tile .sidebar-menu li:last-child {
  border-bottom: none;
}
.sidebar .sidebar-tile .sidebar-menu li a {
  padding: 3px 0;
  display: inline-block;
  vertical-align: middle;
  color: #888;
}
.sidebar .sidebar-tile .sidebar-menu li a:hover {
  color: #faa227;
}

/***********************/
.pagination {
  text-align: right;
  margin-bottom: 20px;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  display: block;
}
.pagination ul {
  display: inline-block;
  vertical-align: middle;
}
.pagination ul li {
  display: inline-block;
  vertical-align: middle;
  margin: 0 1px;
}
.pagination ul li:last-child {
  margin-right: 0;
}
.pagination ul li.active a {
  background: #faa227;
  color: #fff;
}
.pagination ul li a {
  display: inline-block;
  padding: 0 8px;
  line-height: 25px;
  color: #666;
  text-decoration: none;
  font-size: 16px;
}
.pagination ul li a:hover {
  background: #faa227;
  color: #fff;
}
.pagination ul li a:focus, .pagination ul li a:active, .pagination ul li a:visited {
  outline: none;
  border: none;
  text-decoration: none;
}

/*********************/
.plans-block {
  margin-top: 125px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.plans-block .padding-plans {
  padding-left: 0;
  padding-right: 0;
}
.plans-block .padding-plans:last-child .plans-block-tablcont {
  border-right: none;
}
.plans-block .padding-plans:last-child .plans-block-top {
  border-right: none;
}
.plans-block-saving {
  position: relative;
  margin-top: 46px;
  padding-top: 65px;
  height: 157px;
  border: 2px solid #f5f5f5;
  color: #f17034;
  text-align: center;
  text-transform: uppercase;
}
.plans-block-saving img {
  position: absolute;
  top: -12px;
  left: 0;
}
.plans-block-saving .plans-h2 {
  display: block;
  font-size: 48px;
  line-height: 48px;
  font-weight: 300;
}
.plans-block-saving .plans-h3 {
  display: block;
  font-size: 22px;
  line-height: 22px;
  font-weight: 300;
}
.plans-block-tablcont {
  border-top: 1px solid #fff;
  border-right: 2px solid #ddd;
}
.plans-block-tablcont .items {
  padding: 5px 20px 2px;
  color: #696358;
  text-align: right;
  background: #f6eddc;
  min-height: 30px;
  font-size: 16px;
}
.plans-block-tablcont .items:nth-child(2n) {
  background: #f3f3f3;
}
.plans-block-tablcont.text-center .items {
  text-align: center;
  font-size: 24px;
  line-height: 20px;
  color: #faa227;
}
.plans-block-tablcont.text-center .items span {
  font-size: 16px;
  color: #4a4a4a;
}
.plans-block-top {
  height: 203px;
  border-right: 2px solid #fff;
}
.plans-block-top .header {
  position: relative;
  background: #faa227;
  text-align: center;
  font-weight: 400;
  height: 46px;
  color: #fff;
}
.plans-block-top .header:after {
  content: '';
  display: block;
  position: absolute;
  border: 12px solid transparent;
  border-top: 20px solid #faa227;
  right: 50%;
  margin-right: -12px;
}
.plans-block-top .header .plans-h2 {
  display: block;
  padding-top: 5px;
  font-size: 24px;
  line-height: 24px;
}
.plans-block-top .header .plans-h3 {
  display: block;
  font-size: 10px;
  line-height: 11px;
}
.plans-block-top .content {
  height: 100%;
  color: #fff;
  background: -webkit-gradient(radial, center center, 0, center center, 460, from(#888), to(#333));
  background: -webkit-radial-gradient(circle, #888, #333);
  background: -moz-radial-gradient(circle, #888, #333);
  background: -ms-radial-gradient(circle, #888, #333);
}
.plans-block-top .content-price {
  padding-top: 10px;
  font-weight: 400;
  text-shadow: 0px 3px 3px black;
  -webkit-text-shadow: 0px 3px 3px black;
  -moz-text-shadow: 0px 3px 3px black;
  text-align: center;
}
.plans-block-top .content-price span {
  display: inline-block;
}
.plans-block-top .content-price span:nth-child(1) {
  padding-top: 10px;
  font-size: 30px;
  vertical-align: top;
}
.plans-block-top .content-price span:nth-child(2) {
  font-weight: 600;
  font-size: 65px;
  line-height: 90px;
}
.plans-block-top .content-price span:nth-child(3) {
  font-size: 30px;
}
.plans-block-top .content .list-price {
  width: 50%;
/*  float: left; */
}
.plans-block-top .content .list-price ul {
  list-style-type: none;
  font-weight: 600;
  font-size: 12px;
  padding-left: 0px;
  margin-top: 15px;
  
}
.plans-block-top .content .list-price ul li {
  margin-left: 26px;
  position: relative;
}
.plans-block-top .content .list-price ul li:before {
  content: " ";
  position: absolute;
  display: inline-block;
  width: 6px;
  height: 6px;
  top: 50%;
  left: -10px;
  margin-top: -3px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
/*  background: #faa227;  */
}
/*.plans-block-top .content .list-price ul li:nth-child(1) {
  text-decoration: line-through;
}*/
.plans-block-top .content .price-buy {
  width: 100%;
/*  float: left; */
  text-align: right;
  padding-right: 5px;
  padding-top: 450px;
}
.plans-block-top .content .price-buy a {
/*  width: 90px;   */
  font-size: 16px;
  display: inline-block;
  background: #faa227;
  padding: 5px 35px;
  color: #fff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.8), 0 3px 6px rgba(0, 0, 0, 0.9);
  -webkit-transition: all 0.15s linear;
  -moz-transition: all 0.15s linear;
  -ms-transition: all 0.15s linear;
  transition: all 0.15s linear;
}
.plans-block-top .content .price-buy a:hover {
  background: #f17034;
  box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.8), 1px 3px 6px rgba(0, 0, 0, 0.9);
  text-decoration: none;
}
.plans-block-top .content.gradient {
  background: #333;
}

.plans-include {
  max-width: 860px;
}
.plans-include-header {
  margin-top: 70px;
  min-height: 36px;
  font-size: 28px;
  text-align: center;
  background: #faa227;
  color: #fff;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.plans-include-text {
  margin-bottom: 50px;
  flex-wrap: wrap;
}
.plans-include-text div {
  margin-top: 15px;
  font-size: 18px;
  line-height: 20px;
  display: inline-block;
}
.plans-include-text div span {
  color: #faa227;
  font-size: 24px;
  line-height: 20px;
}

.plans-credit {
  min-height: 170px;
  background: #333;
}
.plans-credit-content {
  margin: 0 auto;
  max-width: 1170px;
  text-align: center;
  color: #fff;
}
.plans-credit-content .plans-h2 {
  display: inline-block;
  padding-top: 40px;
  font-size: 18px;
  line-height: 20px;
}
.plans-credit-content p {
  position: relative;
  padding-left: 15px;
  color: #fff;
  margin-bottom: 0;
  text-align: left;
  font-size: 14px;
}
.plans-credit-img {
  flex-wrap: wrap;
}
.plans-credit-img .img {
  margin: 25px 5px;
  -webkit-transition: all 0.15s linear;
  -moz-transition: all 0.15s linear;
  -ms-transition: all 0.15s linear;
  transition: all 0.15s linear;
}
.plans-credit-img .img:hover {
  transform: scale(0.85);
}
.plans-credit-img .img img {
  max-width: 100px;
}

.plans-text {
  margin-top: 25px;
  margin-bottom: 25px;
}
.plans-text-block {
  margin-top: 25px;
}
.plans-text-block .plans-h2 {
  color: #faa227;
  font-size: 16px;
  font-weight: 600;
}

.sing-up .modal-dialog {
  width: 720px;
}
.sing-up .modal-dialog .modal-header {
  border-bottom: none;
}
.sing-up .modal-dialog .modal-body {
  padding: 0;
}
.sing-up .modal-dialog .modal-body .block-modal {
  flex-wrap: wrap;
  width: 100%;
}
.sing-up .modal-dialog .modal-body .left-block {
  width: 358px;
  padding: 35px;
  padding-top: 10px;
}
.sing-up .modal-dialog .modal-body h3 {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 36px;
  line-height: 36px;
}
.sing-up .modal-dialog .modal-body h4 {
  font-size: 16px;
}
.sing-up .modal-dialog .modal-body h5 {
  font-size: 16px;
  font-weight: 600;
}
.sing-up .modal-dialog .modal-body .help-block {
  font-size: 11px;
  line-height: 11px;
  margin-top: 10px;
  padding-left: 5px;
}
.sing-up .modal-dialog .modal-body .radio label {
  font-weight: 700;
}
.sing-up .modal-dialog .modal-body .remember-me {
  margin-top: -10px;
}
.sing-up .modal-dialog .modal-body .remember-me .checkbox {
  margin-top: 0;
}
.sing-up .modal-dialog .modal-body .forgot-password {
  font-size: 11px;
  text-decoration: underline;
}
.sing-up .modal-dialog .modal-body .control-label {
  display: none;
}
.sing-up .modal-dialog .right-block {
  width: 358px;
  padding: 35px;
  padding-top: 10px;
  position: relative;
}
.sing-up .modal-dialog .right-block:after {
  content: "";
  height: 100%;
  width: 2px;
  display: block;
  background: #888;
  position: absolute;
  left: 0;
  bottom: 0;
}
.sing-up .modal-dialog .right-block::before {
  content: "or";
  text-align: center;
  display: block;
  position: absolute;
  margin-top: -25px;
  left: -25px;
  right: -25px;
  top: 50%;
  font-size: 16px;
  font-weight: 600;
  line-height: 50px;
  width: 50px;
  height: 50px;
  background: #fff;
  z-index: 2;
}
.sing-up .modal-dialog .right-block .auth-clients {
  min-height: 48px;
  margin-bottom: 0;
}
.sing-up .modal-dialog .right-block h5 {
  font-weight: 400;
  margin-bottom: 5px;
  max-width: 260px;
  color: #373737;
}
.sing-up .modal-dialog .right-block .facebook, .sing-up .modal-dialog .right-block .google {
  margin-top: 15px;
  margin-bottom: 5px;
  position: relative;
  height: 44px;
  background: #f4f0ef;
  display: block;
  border-radius: 5px;
  border: 1px solid #888;
  width: 100%;
  max-width: 288px;
  color: #373737;
}
.sing-up .modal-dialog .right-block .facebook:after, .sing-up .modal-dialog .right-block .google:after {
  content: "\f09a";
  font-family: FontAwesome;
  color: #fff;
  height: 42px;
  width: 50px;
  font-size: 28px;
  padding-left: 15px;
  display: block;
  background: #3b579d;
  border-radius: 4px 0 0 4px;
}
.sing-up .modal-dialog .right-block .facebook::before, .sing-up .modal-dialog .right-block .google::before {
  content: "Sign in with Facebook";
  max-width: 260px;
  padding-left: 70px;
  font-size: 16px;
  line-height: 42px;
  font-weight: 500;
  position: absolute;
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.sing-up .modal-dialog .right-block .facebook:hover, .sing-up .modal-dialog .right-block .google:hover {
  text-decoration: none;
  -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4), inset 0 1px rgba(255, 255, 255, 0.44);
  -moz-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4), inset 0 1px rgba(255, 255, 255, 0.44);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4), inset 0 1px rgba(255, 255, 255, 0.44);
}
.sing-up .modal-dialog .right-block .google:after {
  content: "\f0d5";
  background: #dd4b39;
}
.sing-up .modal-dialog .right-block .google::before {
  content: "Sign in with Google";
}

.landing {
  position: relative;
}
.landing .carousel-inner .item {
  max-height: 675px;
  width: 100%;
  height: auto;
}
.landing .carousel-inner .item img {
  width: 100%;
  max-width: 100%;
  -moz-background-size: contain;
  -o-background-size: contain;
  -webkit-background-size: contain;
  background-size: contain;
}
.landing .text-carusel {
  position: absolute;
  top: 0px;
  padding-left: 40px;
  bottom: 0;
  z-index: 99;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
}
.landing .text-carusel-h1 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 50px;
  line-height: 55px;
  color: #fff;
}
.landing .text-carusel-h2 {
  margin-top: 20px;
  margin-bottom: 0;
  font-size: 24px;
  line-height: 28px;
  color: #fff;
}
.landing .text-carusel-link {
  margin-top: 30px;
  display: inline-block;
  font-size: 30px;
  padding: 5px 20px;
  height: 60px;
  border: 3px solid #fff;
  color: #fff;
  -webkit-transition: all 0.15s linear;
  -moz-transition: all 0.15s linear;
  -ms-transition: all 0.15s linear;
  transition: all 0.15s linear;
}
.landing .text-carusel-link:hover {
  text-decoration: none;
  transform: scale(0.95);
}
.landing-stage2 {
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
}
.landing-stage2 h3 {
  font-size: 30px;
  margin-bottom: 20px;
  font-weight: 600;
}
.landing-stage2 h4 {
  font-size: 30px;
  margin-bottom: 20px;
  font-weight: 600;
}
.landing-stage2 p {
  max-width: 980px;
  margin: 0 auto;
  color: #373737;
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
}
.landing-stage2-photo {
  margin-top: 70px;
  flex-wrap: wrap;
  flex-shrink: 0;
  overflow: hidden;
}
.landing-stage2-photo .items {
/*  width: 335px; */
  margin-bottom: 50px;
}
.landing-stage2-photo .items-img {
/*  width: 335px;
  height: 262px;
*/
  position: relative;

}
.landing-stage2-photo .items-img:after {
  content: "View Templates"; attr(href);
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -70px;
  margin-top: -22px;
  width: 150px;
  height: 44px;
  color: #787878;
  background: #fff;
  border: 2px solid #787878;
  font-size: 16px;
  font-weight: 600;
  border-radius: 5px;
  padding: 10px;
  z-index: 20;
  opacity: 0;
  filter: alpha(opacity=1); /* Fix to make div clickable in IE */
  transition: opacity .3s ease-in-out;
  pointer-events: none;
  cursor: pointer;
}

.landing-stage2-photo .items-img a:after {
/*  content: attr(href);  */
}

.landing-stage2-photo .items-img img {
/*  width: 100%;
  height: 100%;
  position: relative;
*/
  z-index: 6;
  cursor: pointer;
  opacity: 1;
  transition: opacity .3s ease-in-out;
}
.landing-stage2-photo .items-img:hover img {
  opacity: .5;
}
.landing-stage2-photo .items-img:hover:after {
  pointer-events: inherit;
  opacity: 1;
}
.landing-stage2-photo .items-text {
  display: inline-block;
  padding-top: 20px;
  font-size: 16px;
  font-weight: 300;
}
.landing-stage2-photo .items-text span {
  font-weight: 600;
}
.landing-stage2-photo .items-2 {
  width: 275px;
  height: 370px;
  margin-bottom: 65px;
  border-radius: 2px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  text-align: center;
  overflow: hidden;
}
.landing-stage2-photo .items-2-icon {
  padding-top: 20px;
}
.landing-stage2-photo .items-2 .content {
  padding: 10px;
}
.landing-stage2-photo .items-2 .content .header {
  font-size: 20px;
  font-weight: 600;
  padding-bottom: 5px;
}
.landing-stage2-photo .items-2 .content .text {
  margin-bottom: 0;
  font-size: 12px;
  line-height: 22px;
  font-weight: 300;
}
.landing-stage2-review .img {
  width: 132px;
  height: 112px;
  padding: 5px;
  margin: 30px auto;
  border: 2px solid #dadada;
}
.landing-stage2-review .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.landing-stage2-review .text {
  margin-bottom: 10px;
}
.landing-stage2-review .text h5 {
  position: relative;
  display: inline-block;
  margin-bottom: 20px;
  margin-top: 0;
  font-size: 34px;
  font-weight: 300;
  padding-right: 30px;
  padding-left: 30px;
}
.landing-stage2-review .text h5::after {
  content: "''";
  font-size: 60px;
  line-height: 50px;
  color: #dadada;
  position: absolute;
  display: inline-block;
  left: 0;
  top: -7px;
}
.landing-stage2-review .text h5::before {
  content: "''";
  font-size: 60px;
  line-height: 50px;
  color: #dadada;
  position: absolute;
  display: inline-block;
  right: 0;
  top: -7px;
}
.landing-stage2-review .text .name {
  font-weight: 500;
}
.landing-stage3 {
  padding-top: 50px;
  min-height: 400px;
  background: #f7f7f7;
}
.landing-stage3 h3 {
  font-size: 30px;
  text-align: center;
  margin-bottom: 20px;
  font-weight: 600;
}
.landing-stage3-photo {
  margin-top: 70px;
  flex-wrap: wrap;
}
.landing-stage3-photo .items {
/*  width: 300px;  */
  margin-bottom: 50px;
  position: relative;
}
.landing-stage3-photo .items-img {
  width: 120px;
  height: 100px;
  position: absolute;
}
.landing-stage3-photo .items-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 5px solid #eaeaea;
  border-radius: 5px;
}
.landing-stage3-photo .items .name {
  font-weight: 600;
}
.landing-stage3-photo .items p {
  padding-left: 150px;
  font-weight: 300;
}
.landing-stage4 {
  padding-top: 50px;
  min-height: 300px;
  background: #6e9dff;
  color: #fff;
  text-align: center;
}
.landing-stage4 h4 {
  font-size: 30px;
  margin-bottom: 20px;
  font-weight: 600;
}
.landing-stage4 p {
  font-weight: 300;
  font-size: 16px;
  line-height: 30px;
}
.landing-stage4 .btn-creat {
  display: inline-block;
  position: relative;
  text-align: left;
  width: 320px;
  margin: 30px auto;
  background: #fff;
  color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.16), 0 2px 4px rgba(0, 0, 0, 0.23);
  height: 40px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 2px;
  -webkit-transition: all 0.15s linear;
  -moz-transition: all 0.15s linear;
  -ms-transition: all 0.15s linear;
  transition: all 0.15s linear;
}
.landing-stage4 .btn-creat:before {
  content: "Create Your Free Website Now";
  color: #fff;
  font-size: 16px;
  padding: 6px 5px 5px 20px;
  position: absolute;
  display: block;
  top: 2px;
  bottom: 2px;
  left: 2px;
  right: 45px;
  background: #6e9dff;
}
.landing-stage4 .btn-creat:hover {
  box-shadow: none;
}
.landing-stage4 .btn-creat-icon {
  position: absolute;
  right: 10px;
  top: 7px;
  width: 26px;
  height: 26px;
  border: 3px solid #3cd7d9;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.landing-stage4 .btn-creat-icon:before {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  top: 3px;
  margin-left: -3px;
  border: 7px solid transparent;
  border-left: 10px solid #00ff18;
}

.landing-stage5 {
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
}
.landing-stage5 h3 {
  font-size: 30px;
  margin-bottom: 20px;
  font-weight: 600;
}
.landing-stage5 h4 {
  font-size: 30px;
  margin-bottom: 20px;
  font-weight: 600;
}
.landing-stage5 p {
  max-width: 980px;
  margin: 0 auto;
  color: #373737;
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
}
.landing-stage5-photo {
  margin-top: 70px;
  flex-wrap: wrap;
}
.landing-stage5-photo .items {
  width: 335px;
  margin-bottom: 50px;
}
.landing-stage5-photo .items-img {
  width: 335px;
  height: 262px;
  position: relative;
}
.landing-stage5-photo .items-img:after {
 /* content: "View Templates";
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -70px;
  margin-top: -22px;
  width: 150px;
  height: 44px;
  color: #787878;
  background: #fff;
  border: 2px solid #787878;
  font-size: 16px;
  font-weight: 600;
  border-radius: 5px;
  padding: 10px;
  z-index: 20;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  pointer-events: none;
  cursor: pointer; */
}
.landing-stage5-photo .items-img img {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 6;
  cursor: pointer;
  opacity: 1;
  transition: opacity .3s ease-in-out;
}
.landing-stage5-photo .items-img:hover img {
  opacity: .5;
}
.landing-stage5-photo .items-img:hover:after {
  pointer-events: inherit;
  opacity: 1;
}
.landing-stage5-photo .items-text {
  display: inline-block;
  padding-top: 20px;
  font-size: 16px;
  font-weight: 300;
}
.landing-stage5-photo .items-text span {
  font-weight: 600;
}


.content-container {
  padding-top: 80px;
}

.site-content container {
  padding-top: 100px;
}

/**************************/
/**** CATEGORIES PAGE *****/
/**************************/
.heading-section {
  background: url(../img/sections/section-1.jpg) center no-repeat;
  background-size: cover;
  position: relative;
}
.heading-section:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  background: #222222;
  opacity: 0.5;
}

.main-heading {
  position: relative;
  z-index: 1;
  color: #fff;
  padding: 75px 0;
}

.wrap-project-item {
  margin-bottom: 40px;
}
.wrap-project-item .item-title {
  display: inline-block;
  vertical-align: middle;
  background: #faa227;
  color: #fff;
  font-size: 18px;
  font-style: italic;
  padding: 5px 10px;
  margin-left: 30px;
}
.wrap-project-item .project-item {
  border: 1px solid #ccc;
}
.wrap-project-item .project-item .big-preview {
  text-align: center;
  height: 330px;
  overflow: hidden;
}
.wrap-project-item .project-item .big-preview img {
  width: 100%;
  min-height: 330px;
}
.wrap-project-item .project-item .control-buttons {
  margin-bottom: 10px;
}
.wrap-project-item .project-item .item-tablet {
  position: relative;
  margin: 10px 0;
  overflow: hidden;
}
.wrap-project-item .project-item .item-tablet > img {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  min-height: 100%;
  z-index: 5;
}
.wrap-project-item .project-item .item-tablet .tablet {
  position: relative;
  z-index: 6;
}
.wrap-project-item .project-item .item-tablet .tablet img {
  width: 100%;
}
.wrap-project-item .project-item .item-mobile {
  position: relative;
  margin: 0 0 10px;
  overflow: hidden;
}
.wrap-project-item .project-item .item-mobile > img {
  position: absolute;
  top: 0;
  bottom: 0;
  min-height: 100%;
  min-width: 100%;
  max-width: 300%;
  z-index: 5;
}
.wrap-project-item .project-item .item-mobile .mobile {
  position: relative;
  z-index: 6;
}
.wrap-project-item .project-item .item-mobile .mobile img {
  width: 100%;
}
.wrap-project-item .item-text {
  color: #888;
  padding: 10px 0;
}
.wrap-project-item .item-text ul {
  padding: 0;
  padding-left: 20px;
  margin: 0;
}
.wrap-project-item .item-text ul li {
  color: #888;
}

/**************************/
/********* MEDIA **********/
/**************************/
@media screen and (max-width: 1200px) {
  .wrap-project-item .project-item .big-preview {
    height: auto;
    min-height: 280px;
  }
  .wrap-project-item .project-item .big-preview img {
    min-height: 280px;
  }

  .module-nav .menu {
    margin-right: 0px;
    margin-left: 0px;
  }

  .landing .text-carusel-h1 {
    font-size: 30px;
    line-height: 35px;
  }
  .landing .text-carusel-h2 {
    margin-top: 20px;
    font-size: 20px;
    line-height: 24px;
  }
  .landing .text-carusel-link {
    margin-top: 30px;
    font-size: 24px;
    padding: 5px 10px;
    height: 50px;
  }
  .landing-stage2-photo {
    margin-top: 70px;
    justify-content: space-around;
    -ms-justify-content: space-around;
    -webkit-justify-content: space-around;
  }
  .landing-stage2-photo .items {
    width: 300px;
    margin-bottom: 50px;
  }
  .landing-stage2-photo .items-img {
    width: 300px;
    height: 250px;
  }
  .landing-stage2-photo .items-img img {
    width: 100%;
    height: 100%;
  }
  .landing-stage3-photo {
    margin-top: 70px;
    justify-content: space-around;
    -ms-justify-content: space-around;
    -webkit-justify-content: space-around;
  }
}
@media screen and (max-width: 992px) {
  .wrap-project-item .project-item .item-tablet {
    margin: 10px 45px;
  }
  .wrap-project-item .project-item .big-preview {
    height: auto;
    min-height: 0;
  }
  .wrap-project-item .project-item .big-preview img {
    min-height: 0;
  }
  .wrap-project-item .project-item .control-buttons {
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
    -ms-justify-content: space-between;
    -webkit-justify-content: space-between;
    align-items: top;
    -webkit-align-items: top;
    -ms-align-items: top;
  }
  .wrap-project-item .project-item .control-buttons .btn {
    margin: 0 0 5px;
    width: 30%;
  }

  .module-nav .navbar-brand {
    min-height: 80px;
    padding-left: 15px;
  }
  .module-nav .navbar-brand img {
    max-width: 120px;
    height: auto;
  }
  .module-nav .navbar-nav li a {
    padding-top: 25px;
    padding-bottom: 20px;
    padding-left: 5px;
    padding-right: 5px;
    line-height: 20px;
  }
  .module-nav .navbar-nav li.login a {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 5px 10px;
    border: 1px solid #6e9dff;
    color: #6e9dff;
  }
  .module-nav .navbar-nav .language a {
    background: url(../img/globe.png) left no-repeat;
    padding-left: 20px;
  }
}
@media screen and (max-width: 767px) {
  .module-nav .navbar-toggle {
    margin-top: 20px;
  }
  .module-nav .navbar-nav {
    margin-left: 0;
    margin-right: 0;
  }
  .module-nav .navbar-nav li {
    text-align: center;
  }
  .module-nav .navbar-nav li a {
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 20px;
  }
  .module-nav .navbar-nav li.login {
    text-align: center;
  }
  .module-nav .navbar-nav li.login a {
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px 10px;
    display: inline-block;
  }

  .plans-block .padding-plans {
    padding-left: 15px;
    padding-right: 15px;
  }
  .plans-block-tablcont {
    border-top: 1px solid #fff;
    border-right: 2px solid #ddd;
  }
  .plans-block-tablcont .items {
    padding: 5px 10px 2px 10px;
    text-align: center;
  }

  .plans-include-header {
    padding: 3px 10px 2px 10px;
    font-size: 20px;
  }
	  

  .sing-up .modal-dialog {
    width: 320px;
    margin: 0 auto;
  }
  .sing-up .modal-dialog .modal-body {
    padding: 0 20px 20px 20px;
  }
  .sing-up .modal-dialog .modal-body .left-block {
    width: 100%;
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 35px;
  }
  .sing-up .modal-dialog .modal-body .right-block {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    text-align: center;
    padding-top: 35px;
  }
  .sing-up .modal-dialog .modal-body .right-block:after {
    content: "";
    height: 2px;
    width: 100%;
    display: block;
    background: #888;
    position: absolute;
    right: 0;
    top: 0;
  }
  .sing-up .modal-dialog .modal-body .right-block::before {
    content: "or";
    text-align: center;
    display: block;
    position: absolute;
    margin-top: -25px;
    margin-left: -25px;
    left: 50%;
    top: 0;
    font-size: 16px;
    font-weight: 600;
    line-height: 50px;
    width: 50px;
    height: 50px;
    background: #fff;
    z-index: 2;
  }
  .sing-up .modal-dialog .modal-body .right-block h5 {
    max-width: 100%;
  }
  .sing-up .modal-dialog .modal-body .right-block .facebook, .sing-up .modal-dialog .modal-body .right-block .google {
    max-width: 100%;
  }

  .landing .text-carusel {
    padding-left: 0;
  }
  .landing .text-carusel-link {
    margin-top: 0;
    font-size: 18px;
    padding: 5px 10px;
    height: 40px;
  }
  .landing-stage2 {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 20px;
  }
  .landing-stage2 h3 {
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 10px;
  }
  .landing-stage2 h4 {
    margin-top: 0;
    font-size: 20px;
    margin-bottom: 10px;
  }
  .landing-stage2 p {
    font-size: 14px;
    line-height: 20px;
  }
  .landing-stage2-photo {
    margin-top: 20px;
  }
  .landing-stage2-photo .items {
    width: 250px;
    padding-left: 2px;
    padding-right: 2px;
    margin-bottom: 20px;
  }
  .landing-stage2-photo .items-img {
    width: 250px;
    height: 180px;
    position: relative;
  }
  .landing-stage2-photo .items-text {
    padding-top: 5px;
    font-size: 12px;
  }
  .landing-stage2-photo .items-2 {
    width: 230px;
    height: 250px;
    margin-bottom: 20px;
  }
  .landing-stage2-photo .items-2-icon {
    padding-top: 10px;
  }
  .landing-stage2-photo .items-2 .content {
    padding: 10px;
  }
  .landing-stage2-photo .items-2 .content .header {
    font-size: 16px;
  }
  .landing-stage2-review .text h5 {
    margin-bottom: 20px;
    margin-top: 0;
    font-size: 24px;
    font-weight: 300;
    padding-right: 10px;
    padding-left: 10px;
  }
  .landing-stage2-review .text h5::after {
    content: "''";
    font-size: 30px;
    line-height: 20px;
    color: #dadada;
    position: absolute;
    display: inline-block;
    left: 0;
    top: 0;
  }
  .landing-stage2-review .text h5::before {
    content: "''";
    font-size: 30px;
    line-height: 20px;
    color: #dadada;
    position: absolute;
    display: inline-block;
    right: 0;
    top: 0;
  }
  .landing-stage2-review .text .name {
    font-weight: 500;
  }
  .landing-stage3 {
    padding-top: 20px;
  }
  .landing-stage3 h3 {
    font-size: 20px;
    margin-top: 0;
  }
  .landing-stage3-photo {
    margin-top: 0;
  }
  .landing-stage3-photo .items {
    width: 380px;
    margin-bottom: 20px;
    position: relative;
  }
  .landing-stage4 {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 20px;
  }
  .landing-stage4 h4 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  .landing-stage4 p {
    font-size: 14px;
    line-height: 20px;
  }
  .landing-stage4 .btn-creat {
    width: 270px;
    margin: 20px auto;
    font-size: 14px;
    font-weight: 600;
  }
  .landing-stage4 .btn-creat:before {
    content: "Create Your Free Website Now";
    color: #fff;
    font-size: 14px;
    padding: 8px 5px 5px 5px;
    position: absolute;
    display: block;
    top: 2px;
    bottom: 2px;
    left: 2px;
    right: 45px;
    background: #6e9dff;
  }
  .landing-stage4 .btn-creat-icon {
    position: absolute;
    right: 10px;
    top: 7px;
    width: 26px;
    height: 26px;
    border: 3px solid #3cd7d9;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
  }
  .landing-stage4 .btn-creat-icon:before {
    content: "";
    display: block;
    position: absolute;
    left: 50%;
    top: 3px;
    margin-left: -3px;
    border: 7px solid transparent;
    border-left: 10px solid #00ff18;
  }
}
@media screen and (max-width: 568px) {
  .wrap-project-item .project-item .item-tablet {
    margin: 10px 0;
  }
  .wrap-project-item .project-item .control-buttons {
    display: block;
  }
  .wrap-project-item .project-item .control-buttons .btn {
    margin: 0 0 5px;
    width: 100%;
  }

  .xxs-vcenter {
    float: none;
    display: inline-block;
    vertical-align: middle;
    margin-right: -4px;
  }

  .col-xxs-12 {
    width: 100%;
  }

  .col-xxs-6 {
    width: 50%;
  }

  .col-xxs-4 {
    width: 33.33333333%;
  }

  .col-xxs-3 {
    width: 25%;
  }

  .col-xxs-8 {
    width: 66.66666667%;
  }

  .col-xxs-9 {
    width: 75%;
  }
}
@media screen and (max-width: 500px) {
  .landing-stage3-photo .items {
    width: 300px;
    position: relative;
  }
  .landing-stage3-photo .items-img {
    position: relative;
    margin: 0 auto;
  }
  .landing-stage3-photo .items p {
    padding-left: 0;
    text-align: center;
  }
}
@media screen and (max-width: 350px) {
  .plans-include-header {
    padding: 8px 5px 2px 5px;
    font-size: 16px;
  }
  .plans-include-text div {
    display: block;
    width: 100%;
    text-align: center;
  }
}

/*# sourceMappingURL=style.css.map */
