 
  
 
 /* RIZWAN'S SYTLE */
 
 .anim-dots { display: none;}
 
 /* Slide 1*/
.background-1 {
	background: url(../images/logo/background-1.jpg) no-repeat center center;
	background-size: cover ;
}	


	.anim-slide.background-1  #item0{  bottom: 53%;left: -5%;}
	.anim-slide.background-1  #item1{top: 22%; left: 10%;}
	.anim-slide.background-1  #item2{ top: 29%; left: 52%;}
	.anim-slide.background-1  #item3{top: 18%; left: 51%;}
	.anim-slide.background-1  #item4{  top: 50%; left: 56%}
	.anim-slide.background-1  #item5{      top: 3%; left: 45%;}
	
	.anim-slide.background-1 #item6{    top: 2%; left: -3%;}
	.anim-slide.background-1 #item7{    top: 3%; left: 27%;}
	.anim-slide.background-1 #item8{  top: 29%; left: 2%;}
	.anim-slide.background-1 #item9{  top: 1%; left: 4%;}
	.anim-slide.background-1 #item10{  top: 4%; left: 34%;}

	.anim-slide.background-1 #item11{    bottom: 36%; right: 32%;}
	.anim-slide.background-1 #item12{    bottom: 36%; right: 23%;}
	.anim-slide.background-1 #item13{    bottom: 36%; right: 13%;}
	
	.anim-slide.background-1 #item14{ top: 7%; right: 30%;}
    .anim-slide.background-1 #item15{     bottom: 83%;
	  right: 5%;
	  font-size: 16px;
	  font-weight: normal;
	  line-height: 1.5;
	  width: 29%;
	  text-align: left;
	  color: #fff;
	  font-family: arial;}

	.anim-slide.background-1 #item16{   top: 35%; right: 30%;}
	.anim-slide.background-1 #item17{ top: 55%; right: 30%;}
	
	.anim-slide.background-1 #item18{   top: 44%; right: 35%; }
	.anim-slide.background-1 #item18 a{ font-size: 14px; text-decoration: none; color: #431b43; background: #f9bb14; white-space:nowrap; padding: 16px 0; min-width: 190px;  text-align: center; text-transform: uppercase; transition: all 0.3s ease-in; }
	.anim-slide.background-1 #item18 a:hover {
		background: #fff;	
		color: #D09C0F;
	}
	.anim-slide.background-1 #item19{     top: 44%; right: 20%; }
	.anim-slide.background-1 #item19 a{ font-size: 14px; text-decoration: none; color: #fff; background: #0d99a1; white-space:nowrap; padding: 16px 0;   min-width: 190px; text-align: center; text-transform: uppercase; transition: all 0.3s ease-in;}
	.anim-slide.background-1 #item19 a:hover {  background: #fff;	color: #0d99a1 ;}
	
	
 /* Slide 2*/
.background-2 {
	background: url(../images/logo/background-2.jpg) no-repeat center center;
	background-size: cover ;
}	

	.anim-slide.background-2 #item0-1{ bottom: 33%; left: 4%;}
	.anim-slide.background-2 #item1-1{top: 21%; left: 10%;}
	.anim-slide.background-2 #item2-1{   top: 29%; left: 46%; }
	.anim-slide.background-2 #item3-1{top: 18%; left: 51%;}
	.anim-slide.background-2 #item4-1{  top: 50%; left: 56%}
	.anim-slide.background-2 #item5-1{      top: 3%; left: 45%;}
	
	.anim-slide.background-2 #item6-1{    top: 2%; left: 5%;}
	.anim-slide.background-2 #item7-1{    top: 3%; left: 27%;}
	.anim-slide.background-2 #item8-1{  top: 29%; left: 2%;}
	.anim-slide.background-2 #item9-1{  top: 1%; left: 4%;}
	.anim-slide.background-2 #item10-1{  top: 4%; left: 34%;}

	.anim-slide.background-2 #item11-1{    bottom: 36%; right: 32%;}
	.anim-slide.background-2 #item12-1{    bottom: 36%; right: 23%;}
	.anim-slide.background-2 #item13-1{    bottom: 36%; right: 13%;}
	
	.anim-slide.background-2 #item14-1{ top: 11%; right: 34%;}
    .anim-slide.background-2 #item15-1{       bottom: 78%;
  right: 5%;
	  font-size: 16px;
	  font-weight: normal;
	  line-height: 1.5;
	  width: 29%;
	  text-align: left;
	  color: #fff;
	  font-family: arial;}

	.anim-slide.background-2 #item16-1{  top: 41%; right: 32%;}
	.anim-slide.background-2 #item17-1{   top: 69%; right: 30%;}
	
	.anim-slide.background-2 #item18-1{   top: 54%; right: 35%; }
	.anim-slide.background-2 #item18-1 a{ font-size: 14px; text-decoration: none; color: #fff; background: #f26e25; white-space:nowrap; padding: 16px 0; min-width: 190px;  text-align: center; text-transform: uppercase; transition: all 0.3s ease-in; }
	.anim-slide.background-2 #item18-1 a:hover {
		background: #fff;	
		color: #f26e25;
	}
	.anim-slide.background-2 #item19-1{     top: 54%; right: 20%; }
	.anim-slide.background-2 #item19-1 a{ font-size: 14px; text-decoration: none; color: #fff; background: #f9bb14; white-space:nowrap; padding: 16px 0;   min-width: 190px; text-align: center; text-transform: uppercase; transition: all 0.3s ease-in;}
	.anim-slide.background-2 #item19-1 a:hover {  background: #fff;	color: #f9bb14 ;}


 /* Slide 3*/
.background-3 {
	background: url(../images/logo/background-3.jpg) no-repeat center center;
	background-size: cover ;
}	

	.anim-slide.background-3 #item0-2{  bottom: 33%; left: 0%;}
	.anim-slide.background-3 #item1-2{top: 7%; left: 10%;}
	.anim-slide.background-3 #item2-2{ top: 29%; left: 52%;}
	.anim-slide.background-3 #item3-2{  top: 39%; left: 48%;}
	.anim-slide.background-3 #item4-2{  top: 50%; left: 56%}
	.anim-slide.background-3 #item5-2{      top: 3%; left: 45%;}
	
	.anim-slide.background-3 #item6-2{    top: 4%; left: 3%;}
	.anim-slide.background-3 #item7-2{    top: 3%; left: 27%;}
	.anim-slide.background-3 #item8-2{    top: 49%; left: 5%;}
	.anim-slide.background-3 #item9-2{  top: 1%; left: 4%;}
	.anim-slide.background-3 #item10-2{  top: 4%; left: 34%;}

	.anim-slide.background-3 #item11-2{    bottom: 36%; right: 32%;}
	.anim-slide.background-3 #item12-2{    bottom: 36%; right: 23%;}
	.anim-slide.background-3 #item13-2{    bottom: 36%; right: 13%;}
	
	.anim-slide.background-3 #item14-2{ top: 11%; right: 34%;}
    .anim-slide.background-3 #item15-2{       bottom: 78%;
      right: 5%;
	  font-size: 16px;
	  font-weight: normal;
	  line-height: 1.5;
	  width: 29%;
	  text-align: left;
	  color: #fff;
	  font-family: arial;}

	.anim-slide.background-3 #item16-2{   top: 41%; right: 32%;}
	.anim-slide.background-3 #item17-2{ top: 69%; right: 30%;}
	
	.anim-slide.background-3 #item18-2{   top: 54%; right: 35%; }
	.anim-slide.background-3 #item18-2 a{ font-size: 14px; text-decoration: none; color: #fff; background: #0d99a1; white-space:nowrap; padding: 16px 0; min-width: 190px;  text-align: center; text-transform: uppercase; transition: all 0.3s ease-in; }
	.anim-slide.background-3 #item18-2 a:hover {
		background: #fff;	
		color: #0d99a1;
	}
	.anim-slide.background-3 #item19-2{     top: 54%; right: 20%; }
	.anim-slide.background-3 #item19-2 a{ font-size: 14px; text-decoration: none; color: #fff; background: #381312; white-space:nowrap; padding: 16px 0;   min-width: 190px; text-align: center; text-transform: uppercase; transition: all 0.3s ease-in;}
	.anim-slide.background-3 #item19-2 a:hover { background: #fff;	color: #381312 ;}


/* Slide 4*/
.background-4 {
	background: url(../images/logo/background-4.jpg) no-repeat center center;
	background-size: cover ;
}	

	.anim-slide.background-4 #item0-3{  bottom: 35%; left: 3%;}
	.anim-slide.background-4 #item1-3{top: 12%; left: 16%;}
	.anim-slide.background-4 #item2-3{ top: 29%; left: 52%;}
	.anim-slide.background-4 #item3-3{top: 18%; left: 51%;}
	.anim-slide.background-4 #item4-3{  top: 50%; left: 56%}
	.anim-slide.background-4 #item5-3{ top: 35%; left: 39%; }
	
	.anim-slide.background-4 #item6-3{    top: 2%; left: -3%;}
	.anim-slide.background-4 #item7-3{      top: 8%; left: 18%;}
	.anim-slide.background-4 #item8-3{  top: 29%; left: 2%;}
	.anim-slide.background-4 #item9-3{  top: 7%; left: 4%;}
	.anim-slide.background-4 #item10-3{   top: 10%; left: 23%;}

	.anim-slide.background-4 #item11-3{    bottom: 36%; right: 32%;}
	.anim-slide.background-4 #item12-3{    bottom: 36%; right: 23%;}
	.anim-slide.background-4 #item13-3{    bottom: 36%; right: 13%;}
	
	.anim-slide.background-4 #item14-3{ top: 11%; right: 34%;}
    .anim-slide.background-4 #item15-3{       bottom: 78%;
      right: 5%;
	  font-size: 16px;
	  font-weight: normal;
	  line-height: 1.5;
	  width: 29%;
	  text-align: left;
	  color: #fff;
	  font-family: arial;}

	.anim-slide.background-4 #item16-3{  top: 41%; right: 32%;}
	.anim-slide.background-4 #item17-3{ top: 69%; right: 30%;}
	
	.anim-slide.background-4 #item18-3{   top: 54%; right: 35%; }
	.anim-slide.background-4 #item18-3 a{ font-size: 14px; text-decoration: none; color: #fff; background: #f26e25; white-space:nowrap; padding: 16px 0; min-width: 190px;  text-align: center; text-transform: uppercase; transition: all 0.3s ease-in; }
	.anim-slide.background-4 #item18-3 a:hover {
		background: #fff;	
		color: #f26e25;
	}
	.anim-slide.background-4 #item19-3{     top: 54%; right: 20%; }
	.anim-slide.background-4 #item19-3 a{ font-size: 14px; text-decoration: none; color: #fff; background: #f9bb14; white-space:nowrap; padding: 16px 0;   min-width: 190px; text-align: center; text-transform: uppercase; transition: all 0.3s ease-in;}
	.anim-slide.background-4 #item19-3 a:hover {  background: #fff;	color: #f9bb14;}


/* Slide 5*/
.background-5 {
	background: url(../images/logo/background-4.jpg) no-repeat center center;
	background-size: cover ;
}	

	.anim-slide.background-5 #item0-4{  bottom: 35%; left: 3%;}
	.anim-slide.background-5 #item1-4{  top: 16%; left: 10%;}
	.anim-slide.background-5 #item2-4{ top: 29%; left: 52%;}
	.anim-slide.background-5 #item3-4{top: 18%; left: 51%;}
	.anim-slide.background-5 #item4-4{  top: 50%; left: 56%}
	.anim-slide.background-5 #item5-4{ top: 35%; left: 39%; }
	
	.anim-slide.background-5 #item6-4{    top: 2%; left: -3%;}
	.anim-slide.background-5 #item7-4{  top: 4%; left: 22%;}
	.anim-slide.background-5 #item8-4{  top: 29%; left: 2%;}
	.anim-slide.background-5 #item9-4{  top: 35%; left: 3%;}
	.anim-slide.background-5 #item10-4{   top: 12%; left: 8%;}

	.anim-slide.background-5 #item11-4{    bottom: 36%; right: 32%;}
	.anim-slide.background-5 #item12-4{    bottom: 36%; right: 23%;}
	.anim-slide.background-5 #item13-4{    bottom: 36%; right: 13%;}
	
	.anim-slide.background-5 #item14-4{ top: 11%; right: 34%;}
    .anim-slide.background-5 #item15-4{       bottom: 78%;
      right: 5%;
	  font-size: 16px;
	  font-weight: normal;
	  line-height: 1.5;
	  width: 29%;
	  text-align: left;
	  color: #fff;
	  font-family: arial;}

	.anim-slide.background-5 #item16-4{  top: 41%; right: 32%;}
	.anim-slide.background-5 #item17-4{ top: 69%; right: 30%;}
	
	.anim-slide.background-5 #item18-4{   top: 54%; right: 35%; }
	.anim-slide.background-5 #item18-4 a{ font-size: 14px; text-decoration: none; color: #fff; background: #f26e25; white-space:nowrap; padding: 16px 0; min-width: 190px;  text-align: center; text-transform: uppercase; transition: all 0.3s ease-in; }
	.anim-slide.background-5 #item18-4 a:hover {
		background: #fff;	
		color: #f26e25;
	}
	.anim-slide.background-5 #item19-4{     top: 54%; right: 20%; }
	.anim-slide.background-5 #item19-4 a{ font-size: 14px; text-decoration: none; color: #fff; background: #f9bb14; white-space:nowrap; padding: 16px 0;   min-width: 190px; text-align: center; text-transform: uppercase; transition: all 0.3s ease-in;}
	.anim-slide.background-5 #item19-4 a:hover {  background: #fff;	color: #f9bb14;}
	
/*----------------------------------------------------------------*/
/*-----------*/

@-webkit-keyframes fadeIn2 {
  0% {
    opacity: 0;
	transform: scale(2);
  }

  100% {
    opacity: 1;
	 transform-origin: 50% 50% 0px;
  transform: matrix3d(0.86602, -0.49999, 0, 0, 0.49999, 0.86602, 0, 0, 0, 0, 1, -0.002, 200, 50, 0, 1), scale(1,1);
  }
}

@keyframes fadeIn2 {
  0% {
    opacity: 0;
	transform: scale(2);
  }

  100% {
    opacity: 1;
	transform-origin: 50% 50% 0px;
  transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.002, 0, 0, 0, 1), scale(1,1);
  }
}

.fadeIn2 {
  -webkit-animation-name: fadeIn2;
  animation-name: fadeIn2;
}