@charset "utf-8";
/*
	Author: Rizwan-Mustafa on Abtach
	Version: 1.0
*/

/* ADD CUSTOM RESET
-------------------------*/
html { -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }
html, body { height: 100%; }
body, input, textarea, select, button {
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-moz-font-feature-settings: "liga", "kern";
}
blockquote, figure, fieldset, p, hr, h1, h2, h3, h4, h5, h6, ul, ol { margin: 0; padding: 0; }
fieldset, hr { border: 0; }
audio, canvas, img, video, svg { vertical-align: middle; }
textarea { resize: vertical; }
::-moz-selection { background: #39f; color: #fff; text-shadow: none; }  /* Gecko Browsers */
     ::selection { background: #39f; color: #fff; text-shadow: none; }  /* WebKit/Blink Browsers */
ul {list-style: none;}


/* Font
-------------------------*/
@font-face {
    font-family: 'futura_hv_btheavy';
    src: url('../fonts/FUTURAH_0-webfont.eot');
    src: url('../fonts/FUTURAH_0-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/FUTURAH_0-webfont.woff2') format('woff2'),
         url('../fonts/FUTURAH_0-webfont.woff') format('woff'),
         url('../fonts/FUTURAH_0-webfont.ttf') format('truetype'),
         url('../fonts/FUTURAH_0-webfont.svg#futura_hv_btheavy') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'futura_bk_btbook';
    src: url('../fonts/FUTURAN_0-webfont.eot');
    src: url('../fonts/FUTURAN_0-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/FUTURAN_0-webfont.woff2') format('woff2'),
         url('../fonts/FUTURAN_0-webfont.woff') format('woff'),
         url('../fonts/FUTURAN_0-webfont.ttf') format('truetype'),
         url('../fonts/FUTURAN_0-webfont.svg#futura_bk_btbook') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* General
-------------------------*/
body {
	font-family: 'futura_bk_btbook';
	font-size: 18px;
	line-height: 1.3;
	color: #5a5a5a;
	font-weight: normal;
}

.futura_bk_btbook { font-family: 'futura_bk_btbook'; }

/* Heading */
.h1,h1, .h2,h2, h3, h4, h5, h6 {
	 font-family: 'futura_hv_btheavy';
	text-transform: uppercase;
	font-weight: 700;
	line-height: 1;
	margin-top: 0px;
	margin-bottom: 0px;
}
h1, h2, h3, h4, h5, h6 { color: #000; }
.h1, .h2, .h3, .h4, .h5, .h6 {margin-top: 0px; margin-bottom: 0px;} 
.h1, h1 {font-size: 50px; line-height:1; } 
.h2, h2 {font-size: 46px; }
.h3, h3 {font-size: 40px;}
.h4, h4 {font-size: 30px; }
h5 {font-size: 24px;}
h6 {font-size: 18px; } 

.main-title {
	border-bottom: 1px solid #8f8f8f;
	position: relative;
	margin-bottom: 50px;
	padding-bottom: 10px;
	display: inline-block;
	padding-left: 40px;
	padding-right: 40px;
}
.main-title:after,
.main-title:before {
	content: '';
	position: absolute;
	bottom: -5px;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: #8f8f8f;	
}
.main-title:after {
	right: 0;	
}
.main-title:before {
	left: 0
}
/* Links */
a { color: #; text-decoration: none; -webkit-transition: all 0.3s ease-in; -moz-transition: all 0.3s ease-in; transition: all 0.3s ease-in;}
a:hover { color: #; text-decoration: none;}
a:active,a:focus { text-decoration: none; }
.transform1 { transform: rotate(180deg); }

.theme-pad {
	padding-top: 40px;
	padding-bottom: 80px;	
}

.general-style em { display: inline-block; margin-bottom: 8px; color: #a1a1a1}
.general-style p { margin-bottom: 8px;}
.general-style h6 { margin-bottom: 5px; margin-top: 20px;}
.general-style h4 { margin-top: 30px;}

/* BUTTON */
.btn, .btn:focus, .btn:active {
	font-family: 'futura_hv_btheavy';
	color: #fff;
	border-radius: 0;
	text-transform: uppercase;	
	opacity: 1;
	background: transparent !important;
	transition: all 0.3s ease-in;
}
.btn:hover {
	color: #fff;
	opacity:1;
}
.btn1 {
	border: 5px solid #fff;	
}
.btn1:hover {
	background-color: #fff;
	color: #000;
}
.btn2 {
	border: 3px solid #8c8c8c;	
	color: #000;
}
.btn2:hover {
	background-color: #000000;
	border-color: #000;	
}
.btn3 {
	border: 5px solid #8c8c8c;	
	color: #000;
}
.btn3:hover {
	background-color: #000000;
	border-color: #000;	
}
.btn4, .btn4:focus, .btn4:active {
	font-size: 20px;
	line-height: 1;
	text-align: center;
	color: #000;
}
.btn4:hover {
	color: #666;
}
.btn-small, .btn-small:active, .btn-small:focus { 
	color: #000000;
	/*font-size: 14px;*/
	line-height:1;
	font-weight: 600;
	padding: 16px 15px 14px; 
}

.btn-larg, .btn-larg:active, .btn-larg:focus {
	font-size: 28px;
	line-height:1;
	font-weight: 600;
	padding: 18px 30px 14px; 
}
.btn1.hvr-rectangle-out:before {
   background: #FFFFFF;
}
.hvr-rectangle-out:active, .hvr-rectangle-out:focus, .hvr-rectangle-out:hover {
	color: #000;
}
.btn2.hvr-rectangle-out:before {
  background-color: #000000;
}

.btn2.hvr-rectangle-out:active, .btn2.hvr-rectangle-out:focus, .btn2.hvr-rectangle-out:hover {
	color: #fff;
	border-color: #000;
}
.btn3.hvr-rectangle-out:before {
  background-color: #000000;
}

.btn3.hvr-rectangle-out:active, 
.btn3.hvr-rectangle-out:focus, 
.btn3.hvr-rectangle-out:hover {
	color: #fff;
	border-color: #000;
}


.list-1 {
	margin-left: 28px;
	list-style: circle;	
}
.list-1 li {
	margin-bottom: 4px;
}
.list-2 {}
.list-2 li { float: left; }
.list-2 li + li { width: 82%; }

/* anchor */
.anchor-1 {
	position: relative;
	top: 30px;	
}
.no-display {
	display: none;	
}



/* PANEL
-------------------------*/
.litebox-overlay .litebox-close {
	left: 20px;	
}
.offer2 {
	position: fixed;
	top: -80px;
	right: 850px;
	z-index: 9998;
	transition: all ;
	
}
.offer2.first .animated {
	  -webkit-animation-iteration-count: infinite !important;
      animation-iteration-count: infinite !important;
	  -webkit-animation-duration: 4s;
      animation-duration: 4s;
}
.offer2.left {
	right: -20px;
		
}

.panel-container {
	opacity: 0;
	transition: all 0.6s ease-in-out;	
	position:fixed;
	top: 0;
	z-index: 9999;
	visibility: hidden;
	}

/*.dark-bg {
	background: rgba(0,0,0,0.9);	
	width: 100%;
	height: 100%;
}*/
.show-panel {
	transition: all 0.6s ease-in-out;	
	opacity: 1;	
	visibility: visible;
	text-align: left;
}
#inline-html-2 {
	box-shadow: 0 0 1px 1px rgba(0,0,0, 0.2);
	 border-top-left-radius: 10px; 
    display: inline-block;
	 border-bottom-left-radius: 10px; 
}
#inline-html-2 .myDiv{
	position: relative;
	background: #232323 url(../images/bg-2.jpg) no-repeat right top;
	color: #FFF;
	float: right;
	max-width: 0;
	overflow: hidden;
	transition: all 0.3s ease-in-out;
}




#inline-html-2  .mydiv-wrapper { 
	width: 590px; 
	border: 4px solid #fff;
	border-radius: 10px;
	position: relative;
	background: #ff9e00;
	background: -moz-linear-gradient(top,  #ff9e00 0%, #f02900 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff9e00), color-stop(100%,#f02900));
	background: -webkit-linear-gradient(top,  #ff9e00 0%,#f02900 100%);
	background: -o-linear-gradient(top,  #ff9e00 0%,#f02900 100%);
	background: -ms-linear-gradient(top,  #ff9e00 0%,#f02900 100%);
	background: linear-gradient(to bottom,  #ff9e00 0%,#f02900 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff9e00', endColorstr='#f02900',GradientType=0 );

}


#inline-html-2 .myButton {
  color: #FFF;
  float: left;
  position: relative;
  background: #F3822C;
  height: 361px;
  width: 50px;
  text-align: left;
  cursor: pointer;
  padding-top: 311px;
  letter-spacing: 1px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border: 6px solid #F3822C;
}

#inline-html-2 .myButton p { 
	  transform: rotate(-90deg);
  white-space: nowrap;
  font-family: futura_hv_btheavy;
  font-size: 23px;
  text-transform: uppercase;
  letter-spacing: 0;
  margin-left: 6px;
}

#inline-html-2 .tell-about-project {
	  padding: 31px 20px 0;
	 margin-top: 10px;
	   text-align: left
}
#inline-html-2 .tell-about-project  .label-2 {
	position: absolute;
	top: -30px;
	right: 0;
}

#inline-html-2 .tell-about-project h5{
	color: #000;
	margin-bottom: 6px;
	font-size: 30px;
	text-align: left;
}
#inline-html-2 .tell-about-project h6{
	color: #000;
	font-size: 24px;
	font-family: futura_bk_btbook;
	text-align: left;
	margin-bottom: 8px;
}
#inline-html-2 .tell-about-project .sub-title {
	color: #fff;	
	margin-top: 8px;
	margin-bottom: 12px;
}
#inline-html-2 .tell-about-project .form-group {
	margin-bottom: 0;
	width: 50%;
	float: left;
}
#sidePanel .tell-about-project .form-group > div {
	width: 100%;
	position: relative;
	clear: both;
}
#inline-html-2 .tell-about-project .form-group > div span {
  width: 30px;
  height: 30px;
  background: #FFFFFF;
  display: inline-block;
  color: #F3822C;
  font-size: 16px;
  text-align: center;
  padding-top: 7px;
  vertical-align: middle;
  float: left;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

#inline-html-2 .tell-about-project .form-group > div select,
#inline-html-2 .tell-about-project .form-group > div input {
	height: 30px;
	border: 0;	
	color: #333;
	width: 80%;
	font-size: 13px;
	padding-left: 0;
	text-transform: none;
	margin-bottom: 12px;
	border-top-right-radius: 3px;
   border-bottom-right-radius: 3px;
   float: left;
   padding-top: 5px;
}

#inline-html-2 .tell-about-project .form-group > div input {
	padding-left: 3px;	
}



	
#inline-html-2 .tell-about-project .form-group > div select {
	-moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
}
	
	
	
#inline-html-2 .tell-about-project .form-group > div select,
#inline-html-2 .tell-about-project .form-group > div input:focus {
	outline: none;	
}

#inline-html-2 .tell-about-project .form textarea {
	width: 91%;	
	font-size: 13px;
	padding: 10px;
	color: #333;
	margin-bottom: 15px;
}
#inline-html-2 .tell-about-project .form ul {
	font-size: 16px;
	color: white;
	text-align: left;
 }
#inline-html-2 .tell-about-project .form ul li {
	margin-bottom: 10px;	
}

#inline-html-2 .tell-about-project .form .phone-no {
	margin-right: 25px;
	font-size: 15px;
	  
}
#inline-html-2 .tell-about-project .form .phone-no i {
	color: #F3822C;
}
#inline-html-2 .tell-about-project .form .phone-no a {
	color: #fff;	
	font-weight: bold;
}
#inline-html-2 .tell-about-project .form .phone-no a:hover {
	color: #F3822C;
}

#inline-html-2 .tell-about-project  .live-chat i {
	font-size: 15px ;
	  color: #F3822C;
}
#inline-html-2 .tell-about-project .form .live-chat a {
	font-size: 15px ;
	top: 0;	
	color: #fff;
	font-weight: bold;
}
#inline-html-2 .tell-about-project .form .live-chat a:hover { 
	color: #F3822C;
}
#inline-html-2 .tell-about-project .form .label {
	padding-left: 0;	
}
#inline-html-2 .tell-about-project .caption-3 {
	 background: #8c0405;
	margin-left: -20px;
	margin-right: -20px;
	border-bottom-right-radius:6px;
	border-bottom-left-radius:6px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-top: 10px;	
	}
#inline-html-2 .tell-about-project .caption-3 .list-5 {
	font-size: 12px;
	line-height: 1;
	float: left;
	width: 230px;
	margin-right: 68px;
}

#inline-html-2 .tell-about-project .caption-3 .list-5 li {
	margin-bottom: 4px;
	margin-left: 30px;
	position: relative;		
}
#inline-html-2 .tell-about-project .caption-3 .list-5 li:before {
	content:'';
	width: 5px;
	height: 5px;
	border-radius: 50%;
	background: #fff;
	position: absolute;
	left: -10px;
	top: 2px;
	
}

#inline-html-2 .tell-about-project .caption-3 .list-6 li {
		margin-bottom: 4px;
}

#sidePanel-2 {
	
	position: fixed;
	right: 0;
	top: 230px;
	z-index: 999;
	cursor: pointer;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	
}
#sidePanel-2 .myDiv{
	position: relative;
	background: #232323 url(../images/bg-2.jpg) no-repeat right top;
	color: #FFF;
	float: right;
	max-width: 0;
	overflow: hidden;
	transition: all 0.3s ease-in-out;
	font-family: futura_hv_btheavy;
	text-transform: uppercase;
	height: 50px;
	padding-top: 5px;
	padding-bottom: 5px;
	
}
#sidePanel-2 .myDiv:after { 
	content: '';
  position: absolute;
  left: -13px;
  bottom: -3px;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 15px solid #F3822C;
  transform: rotate(45deg);
  z-index: 9999;
}
#sidePanel-2 .myDiv.open {
	max-width: 180px;
}
#sidePanel-2 .myDiv p {
	padding-left: 10px;
	padding-right: 10px;
	line-height: 1;
}
#sidePanel-2 .myDiv p { width: 400px; font-size: 21px; }
#sidePanel-2 .myDiv p:first-child { font-size: 13px; margin-top: 6px; }
#sidePanel-2 .myButton {
	color: #fff;
  float: right;
  position: relative;
  top: -10px;
  background: #F3822C;
  width: 50px;
  height: 60px;
  text-align: center;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  box-shadow: 0 0 1px 1px rgba(0,0,0, 0.2);
  border: 6px solid #F3822C;
}
#sidePanel-2 .myButton .fa{
    font-size: 30px;
	margin-top: 10px;
	color: #fff;
}





#sidePanel-3 {
	
	position: fixed;
	right: 0;
	top: 300px;
	z-index: 999;
	cursor: pointer;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	
}
#sidePanel-3 .myDiv{
	position: relative;
    background: #232323 url(../images/bg-2.jpg) no-repeat right top;
	color: #FFF;
	float: right;
	max-width: 0;
	overflow: hidden;
	transition: all 0.3s ease-in-out;
	font-family: futura_hv_btheavy;
	text-transform: uppercase;
	height: 50px;
	padding-top: 5px;
	padding-bottom: 5px;
}
#sidePanel-3 .myDiv:after { 
	content: '';
  position: absolute;
  left: -13px;
  bottom: -3px;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 15px solid #F3822C;
  transform: rotate(45deg);
  z-index: 9999;
}
#sidePanel-3 .myDiv.open {
	max-width: 180px;
}
#sidePanel-3 .myDiv p {
	padding-left: 10px;
	padding-right: 10px;
	line-height: 1;
}
#sidePanel-3 .myDiv p { width: 400px; font-size: 13px;}
#sidePanel-3 .myDiv p:first-child { font-size: 18px; margin-top: 6px; }
#sidePanel-3 .myButton {
color: #F3822C;
  float: right;
  position: relative;
  top: -10px;
  background: #F3822C;
  width: 50px;
  height: 60px;
  text-align: center;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  box-shadow: 0 0 1px 1px rgba(0,0,0, 0.2);
  border: 6px solid #F3822C;
}
#sidePanel-3 .myButton .fa{
    font-size: 30px;
	margin-top: 7px;	
	color: #fff;	
}
@media (max-width:620px) {
	.panel-container {
		display: none !important;	
	}	
}

/* Header
-------------------------*/
.header-top {
	background: #000;
	color: #fff;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 14px;
}
.header-top a {
	color: #fff;
	font-size: 14px;	
}
.header-top .box2 {
	float: right;	
}
.header-top .box2 span {
	margin-left: 12px;	
}

.main-header .top-header {
	padding-top: 10px;	
	padding-bottom: 10px;
	border-bottom: 1px solid #ccc;
	position: relative;
	z-index: 9991;
}

.main-nav {
	margin-top: 35px;
}

.main-nav a{
	color: #000;
	font-size: 18px;
	margin: 10px 4px !important;	
}
.main-nav a:hover{
	background-color: rgba(255,255,255, 0.1);
}
.main-nav li {
	margin-left: 0px;
	padding: 0;	
	vertical-align: middle;
	position: relative;
}
/*.home .main-nav li.login-menu a { background: #fff;  color: #000}*/
.main-nav li.login-menu a {
	background: #000;
	color: #fff;
	font-size: 13px;
	font-weight: bold;
	padding: 7px 10px 4px 6px;
}
.main-nav li .fa-caret-down {
	font-size: 12px;	
}

.main-nav li.login-menu a:before,
.main-nav li.login-menu a:after { 
	content: '';
	margin: 0;
}
.main-nav li.login-menu .hvr-rectangle-out:before {
	background: #000 !important;	
}


.cl-effect-1 li.current a::before,
.cl-effect-1 li.current a::after,
.cl-effect-1 li.current a:before,
.cl-effect-1 li.current a::after {
	opacity: 0.7;
	-webkit-transform: translateX(0px);
	-moz-transform: translateX(0px);
	transform: translateX(0px);
}
.cl-effect-1 a:hover::before,
.cl-effect-1 a:hover::after,
.cl-effect-1 a:focus::before,
.cl-effect-1 a:focus::after {
		opacity: 0.7;
}

/* Dropdown */
.main-nav .dropdown {
	font-family: 'futura_hv_btheavy';
	position: absolute;
	left: 0;
	top: 40px;
	border-top: 3px solid #000;
	background: #fff;
	line-height: 1;
	
	max-height:0;
    overflow:hidden;
	transform:perspective(400) rotate3d(1,0,0,-90deg);
    -webkit-transform:perspective(400) rotate3d(1,0,0,-90deg);
	-moz-transform:perspective(400) rotate3d(1,0,0,-90deg);
	
	transform-origin:50% 0;
    -webkit-transform-origin:50% 0;
	-moz-transform-origin:50% 0;
	
	transition:350ms;
	-webkit-transition:350ms;
    -moz-transition:350ms;
    -o-transition:350ms;
    
	transition:all 350ms;
	box-shadow: 0 0 2px 1px #ccc; 
	opacity: 0; 
	filter:alpha(opacity=0);
}
.home .main-nav .dropdown { box-shadow: 0 0 2px 1px #000; opacity: 0; filter:alpha(opacity=0); }
.main-nav li:hover .dropdown {
	transform:perspective(400) rotate3d(0,0,0,0);
	-webkit-transform:perspective(400) rotate3d(0,0,0,0);
	-moz-transform:perspective(400) rotate3d(0,0,0,0);
	max-height:1000px;
	opacity:1;
	filter:alpha(opacity=100);
	padding: 10px 15px;
}
.main-nav .dropdown li { 
	margin-bottom: 0;
	border-top: 1px solid #dedede;
}
.main-nav .dropdown li:first-child { 
	border-top: 0;
}
.main-nav .dropdown a {
	color: #8d8d8d;
	margin: 0 !important;
	font-size: 14px;
	display: block;
	padding-top: 7px;
	padding-bottom: 7px;
}
.main-nav .dropdown .current a,
.main-nav .dropdown a:hover {
	color: #000;
}
.main-nav .dropdown a:before,
.main-nav .dropdown a:after {
	display: none;	
}





/* Slider */ 
.slider-container {
	
	position: relative;
}


/*Form*/
.transform {
	transform: rotate(180deg);
}
.register-now-button {
	background: rgba(255,255,255,0.8);
	left: 68.66%;
	position: absolute;
	z-index: 9991;
	color: #000;
	cursor: pointer;
	padding: 10px 80px;
	border-top: 3px solid #000;
	font-weight: bold;
	
	white-space: nowrap;
	display: none !important;
}
.slider-container .banner-form {
	background: url(../images/form.png) no-repeat 0 0;
	width: 340px;
	height: 431px;
	position: absolute;
	right: 100px;
	top: 46px;
	z-index: 9999;
	display: none;
}
.slider-container .banner-form  .banner-livechat {
	display: block;
	margin-top: 31px;
	margin-right: 36px;
	float: right;
}
.slider-container .banner-form  .banner-livechat:hover {
	opacity: 0.8;
}
.slider-container .banner-form input[type="submit"] {
	float: left;
    margin-left: -29px;
    text-transform: uppercase;
    color: rgb(225, 10, 11);
    font-size: 16px;
    font-family: futura_hv_btheavy;
    border: 0;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 6px;
    padding-bottom: 2px;
    background: #fff;
}

.slider-container .banner-form ul {
	padding-top: 150px;
	margin-left: 77px;
}
.slider-container .banner-form ul li {
	margin-bottom: 23px;
}
.slider-container .banner-form ul  input[type="text"] {
	width: 218px;
	font-size: 13px;
	color: #000;
	border: 0;
}
.slider-container .banner-form ul select:focus,
.slider-container .banner-form ul  input[type="text"]:focus {
	outline: none;
}
.slider-container .banner-form ul select {
	width: 218px;
	color: #000;
	font-size: 13px;
	border: 0;
}
@media (max-width:1100px) {
	.slider-container .banner-form{
		left: 50%;
		transform: translateX(-50%);
		display: none;
	}
	.register-now-button {
		display: block;
		left: 50%;
		transform: translateX(-50%);
	}

	.slider-container .banner-form {
		position: relative;
		right: 100px;
		top: 0;
	}



}

/**/

.banner-content {
	position: relative;
	z-index: 2;	
}
.banner-content h1{
	color: #fff;
    font-size: 70px;
	line-height: 1;
	margin-top:10%;
	margin-bottom: 9%;
}
.banner-content .arrow-down {
	font-size: 47px;
	color: #fff;
	margin-top: 30px;
	display: inline-block;	
}
/* Text Animation */
.rw-sentence {
	text-shadow:none;
	font-size: 60px;
	margin-top: 11%;
	margin-bottom: 160px;
	z-index: 0;
	position: relative;	
} 
.rw-sentence span {
	font-size: 100%;
	color: #fff;
}
.rw-words span:nth-child(1){ left: auto !important;}
.rw-words span:nth-child(2){ left: auto !important;}
.rw-words span:nth-child(3){ left: auto !important;}
.rw-words span:nth-child(4){ left: auto !important;}
.rw-words span:nth-child(5) { left: auto !important;}
.rw-sentence .not-animaited { font-size: 35px !important; margin-left: 2%; font-weight: bold;
    font-family: futura_hv_btheavy;
    text-transform: uppercase;}
.rw-words span:nth-child(1),
.rw-words span:nth-child(2),
.rw-words span:nth-child(3),
.rw-words span:nth-child(4),
.rw-words span:nth-child(5) {
	font-family: georgia, serif;
	color: #fff;	
	width: 100% !important;
	display: block !important;
	
}
.rw-words span {
	left: 50%;
	transform: translate(-50%);
	padding-top: 0;
	display: inline-block !important;
	width: auto !important;
	font-style: italic;
	word-spacing: 0;
	padding-left: 15px;
	padding-right: 15px;
	font-size: 33px;
}

.rw-sentence {
	text-align: center;	
}
.rw-words {
	text-align: center;	
	display: block;
    text-transform: uppercase;
    margin-top: -15px;
}

#demo-canvas {
	position: absolute;
	left: 0;
	top:0;	
	height: 100%;
	min-height: 640px;
	opacity: 0.5;
}

/* Mobile Menu */
.demo-1 {
	text-transform: uppercase;
	z-index: 999999;
	position: absolute;
	top: 25px;
	right: 10px;
}	

.dl-menuwrapper li a { color: #000; padding: 9px 20px; }
.dl-menuwrapper li.current a,
.dl-menuwrapper li a:hover { background-color: #000 !important; color: #fff; }

/*.home .dl-menuwrapper button:after {
	background: #fff;
	box-shadow: 0 10px 0 #fff, 0 20px 0 #fff;
}*/
.dl-menuwrapper button:after {
	background: #000;
	box-shadow: 0 10px 0 #000, 0 20px 0 #000;
}
.demo-1 .dl-menuwrapper button {
	background: transparent;
	padding: 0;
}


.demo-1 .dl-menuwrapper ul {
	background: #fff;
}
.demo-1 .dl-menuwrapper button:hover,
.demo-1 .dl-menuwrapper button.dl-active {
	background-color: transparent;	
}
.dl-menuwrapper li.dl-back:after, 
.dl-menuwrapper li > a:not(:only-child):after {
	top: -6px;
}	


/*position */
.demo-1 button { float:right;}
.dl-menuwrapper .dl-menu.dl-menuopen { top: 45px; box-shadow: 0 0 2px 1px #D8D8D8; }

.dl-menuwrapper li.dl-back:after {
	color: rgba(0, 0, 0, 0.5);
}
.dl-menuwrapper li.dl-back > a {
	background-color: #E5E5E5;	
}
.dl-menuwrapper li.dl-back:hover:after, 
.dl-menuwrapper li > a:not(:only-child):hover:after {
	color: #fff;
}

/* Services 
-------------------------*/
.services-container {
	text-align: center;	
	padding-bottom: 60px;
}
.home .services-container {
	padding-bottom: 0;	
}

.click-toggle-content p {
	margin-top: 15px;
	text-align: justify;
}
.click-toggle-content p:first-child { margin-top: 0; }
.click-toggle-content em { margin-top: 15px; display: inline-block; }
.services-container h1 {
	margin-bottom: 20px;	
}
.home .services-container h1 + .h4 {
	margin-bottom: 60px;
}
.services-container h1 + .h4 {
	font-size: 22px;	
}
.services-content {
	color: #fff;	
}
.services-container .btn4 { font-size: 15px; display: inline-block; }
.services-container .btn4 span {
	font-size: 14px;
}
.services-content .item {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	max-width: 100%;
}
.services-content .item h2 { 
	color: #fff;
	line-height:0.8;
	position: absolute;
	top: 50%;
	margin-top: -36px;
	width: 100%;
	transition: all 0.3s ease-in-out;
}
.services-content .item {
	margin-bottom: 30px;	
}
.services-content .item h2 span {
	line-height:0.9; 
	display: inline-block;
	width: 100%;
}
.item-overlay {
	position: absolute;	
	top: 25px;
	bottom: 25px;
	left: 25px;
	right: 25px;
	background-size: 120%  !important;
	
	transition: all 0.3s ease-in-out;
	border: 0px solid rgba(255,255,255, 0);
}

.item-overlay.bg-1{ 
	background: #0097b3 url(../images/img-1-hov.jpg) no-repeat 0 0;
}
.item-overlay.bg-2{ 
	background: #50af4b url(../images/img-1-2-hov.jpg) no-repeat 0 0;
}
.item-overlay.bg-3{ 
	background: #f37b2a url(../images/img-1-3-hov.jpg) no-repeat 0 0;
}
.item-overlay.bg-4{ 
	background: #ac0f15 url(../images/img-1-4-hov.jpg) no-repeat 0 0;
}


.item-overlay:hover {
	border: 12px solid rgba(255,255,255, 0.3);	
}
.item-overlay:hover h2 {
	padding-left: 10px;	
}



/* Packages
-------------------------*/
.packages-container {
	text-align: center;	
	padding-bottom: 80px;
}
.home .packages-container { padding-top: 30px; }
.packages-container .main-title {
	margin-bottom: 100px;	
}
.circle-box {
	margin-bottom: 6px;
	padding-top: 20px;
	background-color: #ffffff;
	border: 7px solid #e6e6e6;
	color: #e6e6e6;
	border-radius: 50%;
	width: 150px;
	height: 150px;
	display: inline-block;
}
.old-price {
	text-decoration: line-through;
}
.box-1 {
	background-color: #f9f9f9;
	padding-top: 50px;	
	padding-bottom: 50px;
	position: relative;
}
.box-1.height:after {
	content: '';
	width: 99px;
	height: 116px;	
	background: url('../images/most-popular.png') no-repeat 0 0;
	position: absolute;
	right: 0;
	top: 0;
}
.package-item .featured {
    background-image: url('../images/featured-label.png');
    width: 169px;
    height: 128px;
    position: absolute;
    left: -8px;
    top: -18px;
    z-index: 10;
}
.home .box-1.height:before { display: none;}

.box-1 .circle-box {
	 font-family: 'futura_hv_btheavy';
	margin-top: -30px;
	margin-left: -140px;	
}
.box-1 .current-price {
	margin-top: 17px;
	display: inline-block;
	color: #000;
	font-size: 42px;
	letter-spacing: -3px;	
	line-height: 0.9;
}
.box-1 .old-price { 
	color: #b4b4b4;
}

.box-1 .header {
	background-color: #e6e6e6;
	height: 148px;
	transition: all 0.3s ease-in;
	overflow: visible;
	width: 100%;	
}
.box-1 .h4 { 
	display: block;
}
.box-1 .content {
	/*padding-top: 60px;*/
	padding-bottom: 30px;
}
.box-1 .content ul li {
	font-size: 18px;
    padding: 5px 0;
    border-bottom: 1px solid #ddd;
}
.box-1 .content ul li:last-child {
    border-bottom: 0 none;
}
.box-1 .content p {
	font-size: 17px;
	padding-left:25px;
	padding-right: 25px;	
}
.box-1 h3 {
	font-size: 35px;
	padding-bottom: 10px;
	display: inline-block;
	padding-left: 15px;
	padding-right: 15px;
	margin-bottom: 40px;
    padding-top: 20px;
}
.box-1 .footer .fa-phone {
	color: #ff9f00;
	font-size: 18px;
}
.box-1 .footer span {
	font-size: 16px;
	font-family: futura_hv_btheavy;
	font-style: italic;	
	color: #000;
}
.box-1 .footer .quick-contact {
	padding-top: 20px;
}
.box-1 .footer .quick-contact span:first-child {
	margin-right: 38px;	
}
.box-1 .footer .quick-contact span a {
	color: #000;	
}
.box-1 .footer .quick-contact span a:hover {
	opacity: 0.6;	
}
.box-1 .footer .quick-contact .fa-comment {
	color: #4bc501;
}


/* logo */
.box-1.logo-package .circle-box { border-color: #00a3c1; }
.box-1.logo-package .header { background-color: #00a3c1; background: url(../images/package-bg3.png) no-repeat right 0;}	
/* website */
.box-1.height { padding-top: 100px; margin-top: -50px;}
.box-1.website-package { background-color: #f1f1f1; position: relative; }
.box-1.website-package .circle-box { border-color: #50af4b; }
.box-1.website-package .header { background-color: #50af4b; background: url(../images/package-bg2.png) no-repeat right 0;}
/* stationery */
.box-1.stationery-package .circle-box { border-color: #f3822c;}
.box-1.stationery-package .header { background-color: #f3822c; background: url(../images/package-bg1.png) no-repeat right 0;}	

/* Brochure */
.box-1.brochure-package .circle-box { border-color: #B58AF2;}
.box-1.brochure-package .header { background-color: #f3822c; background: url(../images/package-bg4.png) no-repeat right 0;}
/* Banner */
.box-1.banner-package .circle-box { border-color: #A05001;}
.box-1.banner-package .header { background-color: #f3822c; background: url(../images/package-bg5.png) no-repeat right 0;}
/**/
.box-1:active .hvr-shutter-in-vertical,
.box-1:focus .hvr-shutter-in-vertical, 
.box-1:hover .hvr-shutter-in-vertical {
	color: #fff
}
.box-1:active  .hvr-shutter-in-vertical::before,
.box-1:focus  .hvr-shutter-in-vertical::before, 
.box-1:hover  .hvr-shutter-in-vertical::before {
	-webkit-transform: scaleY(0);
	transform: scaleY(0)
}
.box-1:active .hvr-round-corners, 
.box-1:focus  .hvr-round-corners, 
.box-1:hover .hvr-round-corners {
	border-radius: 1em
}

/* Full Branding Package
-------------------------*/
.full-branding-box {
	background: url(../images/bg-2-3.jpg) no-repeat center center;
	background-size: cover;
	color: #fff;
	font-size: 15px;
	border: 15px solid #fff;
	box-shadow: 0 0 1px 1px #e4e4e4;
	padding: 60px 60px 40px 60px;
	position: relative;
}
.full-branding-box:before { 
	background: url(../images/label-1.png) no-repeat 0 0;
	content: '';
	width: 188px;
	height: 157px;
	position: absolute;
	left: 0;
	top: 0;
}
.full-branding-box .fa {
	font-size: 18px;	
} 
.full-branding-box h1 {
	color: #fff;
	border-color: #fff;	
}	

.full-branding-box .main-title:after, 
.full-branding-box .main-title:before {
	background-color: #fff;	
}

.full-branding-box h5 {
	color: #fff;
	margin-bottom: 10px;
}
.full-branding-box > div > ul > li {
	min-height: 120px;	
	margin-bottom: 10px;
}
.full-branding-box > div > ul > li li {
	margin-bottom: 5px;
}

.full-branding-order-box {
	font-family: 'futura_hv_btheavy';
	line-height: 1;
	background-color: #fff;
	color: #000;
	text-align: center;	
	padding-top: 20px;
	padding-bottom: 20px;
	position: relative;
}
.full-branding-order-box  .quick-contact {
	margin-top: 16px;	
}
.full-branding-order-box  .quick-contact span:first-child {
	margin-right: 10px;	
}
.full-branding-order-box  .quick-contact a {
	  color: #000;
}
.full-branding-order-box  .quick-contact a:hover { 
	  opacity: 0.6;
}
.full-branding-order-box  .quick-contact .fa-phone {
	color: #ff9f00;
	font-size: 18px;
}
.full-branding-order-box  .quick-contact .fa-comment {
	color: #4bc501;
}


.full-branding-order-box .discount {
	color: #f37b2a;	
	font-size: 50px;
	margin-bottom: 10px;
}	
.full-branding-order-box .discount span{ 
	font-size: 20px;
}
.full-branding-order-box .arrow-box {
	background-color: #00a3c1;
	color: #fff;
	font-size: 24px;
	text-transform: uppercase;
	padding-top: 10px;
	padding-bottom: 10px;
	position: relative;
}
.full-branding-order-box .arrow-box span {
	display: block;
}
.full-branding-order-box .arrow-box:before {
	content: '';
	border-right: 34px solid #00a3c1;
	border-top: 34px solid transparent;
	border-bottom: 34px solid transparent;
	position: absolute;
	left: -35px;
	top: 0;
}
.full-branding-order-box .old-price {
	font-size: 30px;
	padding-top: 20px;
	  color: #B4B4B4;
}
.full-branding-order-box .current-price {
	padding-bottom: 10px;	
}
.full-branding-order-box .current-price p:first-child {
	text-transform: uppercase;
}
.full-branding-order-box .current-price p + p {
	font-size: 50px;
	color: #ed1c24;	
}
.full-branding-box .social a {
	color: #fff;	
}

.full-branding-box .package-items {
    padding-top: 15px;
}

.full-branding-box .package-items li {
    margin-bottom: 7px;
    border-bottom: 1px solid rgb(85, 85, 85);
    text-align: left;
    padding-bottom: 2px;
}
.full-branding-box .package-items li:last-child {
    border-bottom: 0 none;
}


/* Latest Project 
-------------------------*/
.latest-project-container {
	text-align: center;	
}
.latest-project-container .prev2,
.latest-project-container .next2 { 
	  color: #D5D5D5;
	font-size: 42px;
	position: relative;
	top: -40px;
}

.latest-project-container .customNavigation {
	width: 100%;
	position: absolute;
	top: 310px;
	left: 0;
}
.latest-project-container .customNavigation .btn.prev2 {
	left: -38px;	
	position: absolute;
}
.latest-project-container .customNavigation .btn.next2 {
	right: -38px;	
	position: absolute;
}

@media (max-width: 843px) {
	.latest-project-container .customNavigation {
		width: 100%;
		position: absolute;
		top: 0;
		left: 0;
	}
	.latest-project-container .customNavigation .btn.prev2 {
		left: 0;	
		position: absolute;
	}
	.latest-project-container .customNavigation .btn.next2 {
		right: 0;	
		position: absolute;
	}
		
}
.da-thumbs .col-md-4 {
	padding-left: 0;
	padding-right: 0;	
}
.da-thumbs .img {
	display: inline-block;
	vertical-align: middle;	
	margin-bottom: 30px;
	max-width: 100%;
}

.latest-project-container .btn2 {
	color: #000;	
	margin-top: 30px;
}
.latest-project-container .btn2:hover {
	color: #fff;	
}

.latest-project-container .caption1 {
	font-size: 40px;	
}
.da-thumbs> div .caption1 span {
	position: relative;
	top: 50%;
	margin-top: -30px;	
	transition: all 0.3s ease-in;
	border-bottom: 0;
	box-shadow: 0 0 0 transparent, 0 0 0 transparent;
	box-shadow: 0;
}
.da-thumbs> div .caption1 span:hover {
	opacity: 0.9;
	
}


/* Testimonial 
-------------------------*/
.testimonial-container {
	color: #fff;
	text-align: center;
	background: #656564 url(../images/bg-2.jpg) no-repeat center center fixed;
	background-size: cover;	
	  padding-top: 50px;
  padding-bottom: 39px;
}
.testimonial-container h1 {
	color: #fff;
	border-color: #fff;	
}
.testimonial-container p {
	font-size: 22px;
	padding-left: 40px;
	padding-right: 40px;
}
.testimonial-container .main-title:after, 
.testimonial-container .main-title:before {
	background-color: #fff;
	
}
/* Slider */
.owl-pagination {
	display: none;	
}
.testimonial-container .customNavigation {
	float: right;
	padding-right: 20px;
}
.testimonial-container .customNavigation .btn { font-size: 25px; line-height:1; }


/* Talk to our representative Start
-------------------------------------*/
.home .our-representative-container {
	
}
.our-representative-container {
	text-align: center;	
	padding-top: 30px;
  	padding-bottom: 23px;
	background-color: #F4F4F4;
}
.our-representative-container h3 {
	font-size: 27px;
	position: relative;
	bottom: -1px;
}
.our-representative-container h3 span {
	font-size: 27px;
}
.live-chat {
	text-align: center;	
	margin-top: 0px;
	display: inline-block;
}
.live-chat li {
	margin-left: 40px;
}
.live-chat li:first-child {
	margin-left: 0px;
}
.live-chat i {
	font-size: 60px;
}
.live-chat span { 
	font-family: 'futura_hv_btheavy';
	font-size: 22px;
}
.live-chat a {
	color: #5A5D64;	
	position: relative;
	top: -4px;
}
.live-chat a img { 
	width: 110%;
}
.live-chat a:hover {
	color: #000;	
}
.live-chat p {
	position: relative;
	display: inline-block;
}
.live-chat p i.fa-phone {
	position: absolute;
	left: 31px;
	top: 16px;
	font-size: 35px;
	text-shadow: 1px 1px 0 rgba(255, 255, 255, 1),1px -1px 0 rgba(255, 255, 255, 1);
	z-index: 9;
}
.live-chat p i.fa-angle-double-left {
	position: absolute;
	font-size: 12px;
	top: 2px;
	left: 89px;
	z-index: 9;
	color: #FFF;
}




/* Contact 
-------------------------*/
.contact-container {
	text-align: center;	
}
.contact-container .info { 
	margin-bottom: 50px;
	font-size: 18px;
}
.form-control {
	border-radius: 0;
	height: 60px;
}	
.form-control-feedback {
	height: 60px;
	line-height: 60px;	
}
textarea.form-control-feedback{
	height: 34px;
	line-height: 34px;	
}


/* Footer
-------------------------*/
.main-footer {
	font-size: 15px;
	line-height: 1;
	padding-bottom: 10px;
}
.main-footer a {
	color: #767676;	
}
.main-footer a:hover {
	color: #000;
}
.top-footer {
	border-bottom: 1px solid #c7c7c7;	
	margin-left: -15px;
	margin-right: -15px;
	padding: 0 15px 10px;
}
.nav-footer {
	text-transform: uppercase;		
}
.nav-footer li:first-child { 
	padding-left: 0;
}
.bottom-footer {
	padding-top: 15px;
	padding-bottom: 10px;	
}
.quick-link li {
	border-left: 1px solid #8d8d8d;
	padding-left: 10px;
	padding-right: 10px;
}
.quick-link li:first-child {
	border-left: 0;
	padding-left: 0;
}
.main-footer .social {
	font-size: 20px;
	line-height: 1;		
}
.social .facebook a:hover { color: #4872CA; }
.social .twitter a:hover { color: #0D96CB; }
.social .google-plus a:hover { color: #d14836; }
.social .linkedin a:hover { color: #007fb1; }
.social .pinterest a:hover { color: #E23939; }
.hvr-grow-rotate:active, .hvr-grow-rotate:focus, .hvr-grow-rotate:hover {
-webkit-transform: scale(1.1) rotate(10deg);
transform: scale(1.1) rotate(10deg);
}

/*****************************************
	PAGES
******************************************/

/* login Page
**************************/
 #inline-html-1 {
	border: 6px double #D0D0D0;
    display: inline-block;
    background: #0B0A09;
	width: 60%;
}
@media (max-width: 1100px) {
	 #inline-html-1 {
		width: 100%;		 
	}
}
.login-form {
	width: 90%;
	padding: 35px 20px 34px 20px;	
	font-weight:normal;	
	display:  inline-block;
	text-align: left;
}
.login-form  input[type="password"],
.login-form  input[type="text"] {
	background-color: transparent;	
	color: #fff;
}
.login-form h2 {
	color: #fff;
	font-size: 40px;	
	margin-bottom: 15px;
}
.login-form .remember {
	font-size: 14px;
	text-align:left;
	color: #fff;	
	font-weight: normal;
}
.login-form .remember input{
	vertical-align: bottom;
}
.login-form .forgot {
	font-size: 13px;	
	color: #fff;
	font-weight: normal;
}
.login-form .forgot span {
	font-family: arial, sans-serif;
}
.login-form .no-account {
	font-size: 13px;
	color: #fff;	
	font-weight: normal;
} 

.login-form .btn-small, 
.login-form .btn-small:active, 
.login-form .btn-small:focus {
	color: #fff;
	padding: 10px 15px 9px;	
}
.login-form .btn-small:hover, 
.login-form .btn-small:active:hover, 
.login-form .btn-small:focus:hover {
	color: #000;
}



.litebox-overlay .litebox-inline-html {
	background: transparent !important;
	
}


/* Services-page 
**************************/
.services-page .services-container {
	/*padding-bottom: 0;*/
}
.services-page .packages-container {
	padding-top: 30px;	
	padding-bottom: 0;
}
.services-banner-container {
	color: #fff;
	text-align: center;	
	
}
.services-banner-container p {
	font-size: 22px;
	padding-left: 40px;
	padding-right: 40px;
}

.services-banner-container .customNavigation .btn.next,
.services-banner-container .customNavigation .btn.prev {
	position: absolute;
	top: 50%;
	margin-top: -30px;
}
.services-banner-container .customNavigation .btn.next{ right: 0; }
.services-banner-container .customNavigation .btn.prev { left: 0; }
.services-banner-container .customNavigation .btn { font-size: 35px; line-height:1; }



/* Logo-page 
------------- */
.logo-page .services-container h1 { color: #4babc3; }
.logo-page .services-banner-container {
	background: url(../images/bg-2-4.jpg) no-repeat center bottom fixed;
	background-size: cover;
}
.logo-page .sliphover-overlay {
	background-color: rgba(1, 134, 142, 0.8) !important;	
}



/* Webiste-page 
------------------- */
.website-page .services-container h1 { color: #50af4b; }
.website-page .services-banner-container {
	background: url(../images/bg-2-5.jpg) no-repeat center bottom fixed;
	background-size: cover;
}
.website-page .sliphover-overlay {
	background-color: rgba(80, 175, 75, 0.8) !important;	
}

/* Stationery-page 
------------------- */
.stationery-page .services-container h1 { color: #f37b2a; }
.stationery-page .services-banner-container {
	background: url(../images/bg-2-6.jpg) no-repeat center bottom fixed;
	background-size: cover;
}
.stationery-page .sliphover-overlay {
	background-color: rgba(243, 123, 42, 0.8) !important;	
}

/* Brochure-page 
------------------- */
.brochure-page .services-container h1 { color: #B58AF2; }
.brochure-page .services-banner-container {
	background: url(../images/bg-2-7.jpg) no-repeat center bottom fixed;
	background-size: cover;
}
.brochure-page .sliphover-overlay {
	background-color: rgba(181, 138, 242, 0.8) !important;	
}
.brochure-page .packages-container .box-1 h3 span { font-size: 18px; }



/* Banner-page 
------------------- */
.banner-page .services-container h1 { color: #934900; }
.banner-page .services-banner-container {
	background: url(../images/bg-2-8.jpg) no-repeat center bottom fixed;
	background-size: cover;
}
.banner-page .sliphover-overlay {
	background-color: rgba(147, 73, 0, 0.8) !important;	
}

/* Portfolio-page
****************************/
.our-portfolio-content {
	text-align: center;	
}
.our-portfolio-content .col-xs-12 {
	margin-bottom: 30px;	
}

.our-portfolio-content .nav2 .active a{
	background: red !important;
}

.nav2 li .active a {
    background: #000 !important;
	border-color: #000; 
	color: #fff; 
}

.our-portfolio-content .item {
	display: inline-block;
	position: relative;
	max-width: 100%;
}
.our-portfolio-content .item h2 { 
	color: #fff;
	line-height:0.8;
	position: absolute;
	top: 50%;
	margin-top: -16px;
	font-size: 30px;
	width: 100%;
}
.our-portfolio-content figure.effect-oscar * {
	transition: all 0.6s ease-in-out;
}
.our-portfolio-content  figure.effect-oscar:hover {
	background: transparent !important;	
}
.our-portfolio-content figure.effect-oscar:hover img {
	opacity: 1;	
}
.our-portfolio-content  figure.effect-oscar h2 {
	opacity: 0;
}
.our-portfolio-content  figure.effect-oscar:hover h2 {
	opacity: 1;
}
.our-portfolio-content  figure.effect-oscar figcaption {
	padding: 0 !important;	
	opacity: 0;	
	transition: all 0.5s ease-in-out;
}
.our-portfolio-content  figure.effect-oscar:hover figcaption {
	width: 86%;
	height: 86%;
	position: absolute;
	top: 7%;
	left: 7%;
	opacity: 1;
}
/* Portfolio-logo */
.our-portfolio-content  figure.effect-oscar:hover figcaption{
	background: #333;
	background: rgba(26, 26, 26, 0.8) !important;
}

/* Portfolio-Website */
.our-portfolio-content.website  figure.effect-oscar:hover figcaption{
	background: rgba(80, 175, 75, 0.8)  !important;
}

/* Portfolio-Stationery */
.our-portfolio-content.stationery  figure.effect-oscar:hover figcaption{
	background: rgba(243, 123, 42, 0.8)  !important;
}

/* Portfolio-Brochure */
.our-portfolio-content.brochure  figure.effect-oscar:hover figcaption{
	background: rgba(181, 138, 242, 0.8)  !important;
}

/* Portfolio-Banner */
.our-portfolio-content.banner  figure.effect-oscar:hover figcaption{
	background: rgba(147, 73, 0, 0.8)  !important;
}


/* Faq
**************************/
.faq-page .link {
  display: inline-block;
  text-transform: lowercase;
  font-size: 18px;
  font-family: futura_bk_btbook;
  color: #5A5A5A;	
  text-decoration: underline;
  color: #337ab7;
}
.faq-page .link:hover { 
	color: #000;
}
.faq-page .nav2 .active a {
		background: #000 !important;
		color: #fff;
		border-color: #000 ;
}
.faq {
		
	font-size: 14px;
}
.nav2 {
	display: inline-block;
	text-align: center;
	margin-bottom: 50px;	
}
.nav2 li {
	display: inline-block;
}
.nav2 li a{
	font-size: 15px;
	display: block;
	border: 5px solid #8c8c8c;	
}
.nav2 li.current a{ background: #000 !important; border-color: #000; color: #fff; }
.faq .faqToggle dt{
	margin-bottom: 5px;
}
.faq .faqToggle dd{ 
	margin-bottom: 5px;
}
.faq .faqToggle h3 {
	color: #0b446f;
	margin-top: 15px;
	font-size: 32px;
}
.faqToggleQuesPrefix {
	color: #0b446f;	
}
.faqToggleAnsPrefix {
	font-weight: 700;
	margin-right: 3px;
	color: #e20b0b;	
}
.faq-list a {
	font-size: 24px;
	font-family: 'futura_hv_btheavy';
	color: #000;
	display: block;	
	text-transform: uppercase;
}
.faq-list > li { 
	border-top: 1px solid #ccc;
	padding-top: 10px;
	margin-bottom: 10px;
	overflow: hidden;
}
.faq-list > li:first-child {
	border-top: 0;
}
.click-toggle-content {
    display: none;
	font-size: 18px;
}
.faq .click-toggle-content .list-1{
	margin-bottom: 10px;	
}

.faq .click-toggle-content p {
	margin-bottom: 10px;	
}
.faq h3 {
	margin-top: 30px;
}
.faq .tcon-plus {
	background: #000;
	width: 80px;
	height: 57px !important;
	margin-left: -10px;
}
.faq .tcon-plus.tcon-transform {
	background: #50af4b;
}
/* About
**************************/
.about-container .services-content .item {
	margin-bottom: 0;	
	text-align: center;
}
.about-container .item.content {
	padding-left: 20px;
	padding-right: 20px;
	height: 386px;
	text-align: left;
}
.about-container .services-content .item.content  h2 { 
	position: static;
	margin-top: 58px;
	margin-bottom: 30px;
	color: #000;
	font-size: 44px;
}
.about-container .services-content .item.content p {
	margin-bottom: 30px; 	
	color: #000000;
}
.our-work-process {
	margin-top: 80px;
	margin-bottom: 30px;
	color: #fff;
	text-align: center;
	background: #656564 url(../images/bg-2-2.jpg) no-repeat center center fixed;
	background-size: cover;	

}
.our-work-process .main-title {
	color: #fff;	
	border-color: #fff;
}
.our-work-process .main-title:after, 
.our-work-process .main-title:before {
	background-color: #fff;	
}

.our-work-process ul li {
	border: 5px solid #FFF;
	width: 150px;	
	padding-top: 30px;
	padding-bottom: 30px;
	margin-left: 50px;
}
.our-work-process ul li:first-child {
	margin-left: 0;
}
.our-work-process ul li:before {
	font-size: 30px;
	content:'\f105';
	font-family:'FontAwesome';
	position: absolute;
	right: -40px;
	top: 50%;
	margin-top: -20px;
}
.our-work-process ul li:last-child:before { 
	display: none;
}
.our-work-process ul li .fa {
	font-size: 30px;	
}
.our-work-process ul li span {
	display: block;	
    font-family: 'futura_hv_btheavy';
}


/* Skills */
.skills-container {
	text-align: center;	
}
.skilles-list .panel {
    width: 140px;
    height: 140px;
    margin: auto;
    position: relative;
	-webkit-box-shadow: none ;
	-moz-box-shadow: none;
	box-shadow: none;
}

.skilles-list .card {
    width: 100%;
    height: 100%;
    -o-transition: all .5s;
    -ms-transition: all .5s;
    -moz-transition: all .5s;
    -webkit-transition: all .5s;
    transition: all .5s;
    -webkit-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    position: absolute;
    top: 0px;
    left: 0px;
}

.skilles-list .front {
    z-index: 2;
    background: url(../images/icons/skill-1.png) no-repeat center center;
}

.skilles-list .back {
    z-index: 1;
    -webkit-transform: rotateX(-180deg);
    -ms-transform: rotateX(-180deg);
    -moz-transform: rotateX(-180deg);  
    transform: rotateX(-180deg);  
    background:url(../images/icons/skill-1b.png) no-repeat center center;
}

.skilles-list .panel:hover .front {
    z-index: 1;
    -webkit-transform: rotateX(180deg);
    -ms-transform: rotateX(180deg);
    -moz-transform: rotateX(180deg);
    transform: rotateX(180deg);
}

.skilles-list .panel:hover .back {
    z-index: 2;   
    -webkit-transform: rotateX(0deg);
    -ms-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    transform: rotateX(0deg);
}

.skilles-list .front.skill-2 { background: url(../images/icons/skill-2.png) no-repeat center center; }
.skilles-list .back.skill-2b { background:url(../images/icons/skill-2b.png) no-repeat center center; }

.skilles-list .front.skill-3 { background: url(../images/icons/skill-3.png) no-repeat center center; }
.skilles-list .back.skill-3b { background:url(../images/icons/skill-3b.png) no-repeat center center; }

.skilles-list .front.skill-4 { background: url(../images/icons/skill-4.png) no-repeat center center; }
.skilles-list .back.skill-4b { background:url(../images/icons/skill-4b.png) no-repeat center center; }



/* Testimonial
**************************/
.testimonial-page .nav2 .active a {
	background: #000 !important;
	color: #fff;
	border-color: #000 ;
}

.testimonial-list {
		
}
.testimonial-list li {
	border-top: 1px solid #CCC;
	margin-left: 20px;
	margin-top: 40px;
	padding-top: 40px;
}
.testimonial-list li:first-child {
	border-top: 0;
	margin-top: 0;
	padding-top: 0;
	
}
.testimonial-list .item .img { 
	text-align: center;
}
.testimonial-list .item .img  img{ 
	box-shadow: 0 0 1px 0 #ccc;
  	border-radius: 50%;
}
.testimonial-list .item p { 
	margin-bottom: 20px;
}
.testimonial-list .item em { 
	font-weight: bold;
	color: #000;
}


/* Others
**************************/
.others-container {
		text-align: center;
}
.others-container .img {
	padding-bottom: 130px;
	text-align: center;
	margin-left: 7px;
	margin-right: 7px;
	padding: 10px;
	margin-bottom: 45px;
	/*position: relative;*/
	border: 1px solid #fff;
	box-shadow: 0 0 0 1px #CDCDCD,0 0 0 5px #848484, 0 0 0 0px #A9A9A9,2px 8px 5px 0px #CFCFCF;
	display: inline-block;
}
.others-container .img figcaption {
	
	/*position: absolute;
	bottom: 0;
	left: 0;*/
	padding-top: 7px;
	padding-left: 10px;
	width: 100%;	
	background-color: #fff;
	font-family: 'futura_hv_btheavy';
	color: #000;
}

.others-container .da-thumbs> div .caption1 .title {
	font-size: 34px;
	line-height: 1.1;
	text-transform: uppercase;
	display: block;
	position: relative;
}
.others-container .da-thumbs> div .caption1 .old-price {
	display: block;	
	padding-bottom: 9px;
}
.others-container .da-thumbs> div .caption1 .current-price {
	font-size: 30px !important;
	line-height: 1.1;	
}
.others-container .da-thumbs .col-md-4 {
	padding-left: 15px;
	padding-right: 15px;
}

/* Blog-page 
**************************/
/* Paging */
.paging{margin:0px 0 0px 0; padding:0px; border: 2px solid #8c8c8c; padding-top: 3px; padding-bottom: 2px; text-transform: uppercase;}
.paging ul{margin:0; padding:0; text-align:left;}
.paging li{list-style-type:none; display:inline; padding:0!important; border: 0 !important;}
.paging a, .paging a:visited{padding:5px 10px;  text-decoration:none; background-color: #000; color: #fff;}
.paging a:hover, .paging a:active{ color:#fff; background:#00a3c1; text-decoration: none; color: #fff;}
.paging a.current, .paging a:hover.current {background:#00a3c1; color:#FFF !important; border-color:#9C3D3D; font-weight:bold; cursor:default}
.paging a.next, .paging a:visited.next{ color: #000; background: transparent; text-decoration: none; font-family: futura_hv_btheavy; font-size:14px;}
.paging a:hover.next{ background: none; color: #00a3c1; }
.paging a.disabled, .paging a.disabled:hover{background: none; cursor:default; font-weight: normal;  text-decoration: none; color: #ccc !important;}

.blog-item a { color: #00a3c1;	}
.blog-item a:hover { color: #00c7ec; }
.blog-item .content-area h6 {
	margin-top: 20px;
	margin-bottom: 5px;	
}
.blog-item .btn4 {
	color: #000;
    font-size: 13px;
}
.blog-item .btn4:hover {
	color: #00a3c1;
}

.blog-item .img {
	 border: 14px solid #f2f2f2;
	 border-bottom-color: #000;
	position: relative;
	display: inline-block;
}
.blog-item .img img {
	    box-shadow: 0 0 0 12px #fff;	
}
/*.blog-item .img:after {
	content: '';
	height: 2px;
	position: absolute;
	bottom: -12px;
	left: -12px;
	right: -12px;	
	background: #000;
}*/
.blog-item .section-content {
	padding-top: 40px;
	padding-bottom: 40px;
}

.date-comment-area {
	text-align: center;	
	color: #fff;
	line-height: 1;
}
.date-comment-area > div {
	display: inline-block;
	vertical-align: middle;
}
.date-comment-area .date {
	background-color: #00a3c1;
	width: 75px;
	height: 75px;
	padding-top: 18px;
}
.date-comment-area .date span {
	display: block;
}
.date-comment-area .comment {
	  box-shadow: 0 0 5px 0 #ccc;
	  width: 75px;
	  height: 75px;
	  padding-top: 26px;
	  background-color: #fff;
	  position: relative;
	  top: -18px;
	  z-index: -1;
}
.date-comment-area .comment span {
	background-color: #50af4b;
	padding: 3px 10px;
	position: relative;
}
.date-comment-area .comment span:after {
	content: '';
  	border-left: 20px solid #50af4b;
  	border-top: 7px solid transparent;
  	position: absolute;
  	bottom: 1px;
  	right: -3px;
}
.content-area .header {
	padding-bottom: 8px;
	margin-bottom: 10px;	
	border-bottom: 1px solid #dddddd;
}
.content-area p {
	font-size: 14px;
	margin-bottom: 10px;	
}


.blog-side-container .item {
	padding: 20px;
	margin-bottom: 20px;
	border: 2px solid #f2f2f2;	
}
.blog-side-container .item h6 { 
	margin-bottom: 20px;
}

.search-box-container {
	border-bottom-color: #00a3c1 !important;
}
.search-box-container .form {
	border: 2px solid #8c8c8c;
	position: relative;
}
.search-box-container  input {
	 border: 0;
	 width: 100%;
	 padding: 10px;
	 font-size: 13px;
}
.search-box-container  button {
	 margin-top: 5px;
	 background: transparent;
	 border: 0;
	 position: absolute;
	 top: 0;
	 right: 0;
}
.recent-post-container {
	border-bottom-color: #50af4b !important;
}
.list-3 p a { 
 	font-size: 14px;
	color: #00a3c1;
}
.list-3 { font-family: futura_hv_btheavy; }

.list-3 .img {
	float: left;
	border: 4px solid #FFF;
	box-shadow: 0 0 5px 0 #ccc;
	margin-right: 15px;  
}
.list-3 .content {
	font-size: 14px;
	text-align: left;
	float: left;
    width: 55%;
}
.list-3 .comment a {
	color: #999999;
	font-size: 12px;	
}
.list-3 li {
	margin-top: 10px;	
}
.list-3 li:first-child {
	margin-top: 0;
}

.our-categories-container {
	  border-bottom-color: #f37b2a !important;
	  font-size: 14px;
}
.our-categories-container a { color: #000;	}
.our-categories-container a:hover { color: #00a3c1; }
.our-categories-list li {
	margin-top: 5px;	
	padding-top: 5px;
	border-top: 1px solid #ccc;
}
.our-categories-list li:first-child {
	margin-top: 0;
	border-top: 0;	
}
.popular-post-container {
	 border-bottom-color: #ac0f15 !important;
	
}

.tags-container {
	border-bottom-color: #000 !important;
}
.tags-list li {
	display: inline-block;	
}
.tags-list {
	margin-left: 3px;	
}
.tags-list a {
	font-size: 14px;
	display: inline-block;
	padding: 3px 6px;
	background-color: #000;
	color: #fff;
	margin-right: 0;
	margin-bottom: 2px;
	margin-left: -3px;
	vertical-align: middle;
}
.tags-list a:hover {
	background: #333;	
} 

/* About Author */
.about-author {
	margin-top: 30px;
	margin-bottom: 30px;	
}
.about-author h5 {
	padding-bottom: 8px;
  	margin-bottom: 15px;
	border-bottom: 1px solid #ccc;	
}
.about-author .content h6 {
	margin-top: 0;	
	margin-bottom: 10px;
}
.about-author .img1{
	border: 7px solid #fafafa;
	width: 93px;
	height: 93px;
	box-shadow: 0 0 0 1px #e4e4e4 ;
	float: left;
	margin-right: 20px;	
}
.about-author .content {
	float:left;
	width:80%;
}
.about-author .content p {
	font-size: 14px;	
}
/*  */
.related-posts {
	text-align: center;	
}
.related-posts .item .img1 {
	margin-bottom: 5px;	
	display: inline-block;
	vertical-align: middle;
}
.related-posts .item a{
	font-size: 12px;
	display: inline-block;
}

.related-posts h5{
	padding-bottom: 7px;
	margin-bottom: 13px;
	border-bottom: 1px solid #dddddd;
	text-transform: none;
}

/* Blog Responsve */


@media (min-width: 769px) {
	.about-author .content {
		text-align: left;	
	}
	.related-posts h5 {
		text-align: left;	
	}
	
}

@media (max-width: 1200px) {
	.list-3 .content {
		width: 45%;	
	}
	
	/* About */
	.about-container .item.content {

	height: auto;
	margin-bottom: 20px;

}	
.about-container .item.fix-01 {
	margin-top: 30px;	
}

}
@media (max-width: 992px) {
	.paging{margin:0px 0 50px 0;}
	
	.our-work-process ul li {
		margin-left: 0;
		margin-bottom: 10px;
		width: 100%;
		max-width: 200px;	
	}	
	.our-work-process ul li:before {
		display: none;	
	}
}
@media (max-width: 768px) {
	
	.blog-item {
		text-align: center;
	}	
	.blog-item .btn4 { float: none !important; }
	.date-comment-area .comment {
		top: 0 !important;	
	}
	.blog-item .section-content {
		padding-top: 20px;	
	}
	.date-comment-area {
		padding-bottom: 20px;	
	}
	.date-comment-area .date { margin-right: 20px;}
	.about-author .content {
		width: 100%;	
	}
	.about-author .img1 {
		  float: none; 
  		/* margin-right: 20px; */
 	 	margin-left: auto;
  		margin-right: auto;	
	}
	.about-author .img1 { 
		margin-bottom: 15px;
	}
	.related-posts .item {
		display: inline-block;	
		margin-bottom: 10px;
	} 
	.related-posts .item .img1 {
	display: inline-block;	
}
.related-posts .item a {
	display: block;	
}
	
}


/* Sitemap
**************************/
.sitemap-page .sitemap-list  {
	text-align: left;	
}
.list-circle li {
	padding-left: 10px;
	padding-right: 10px;
}
.sitemap-page .sitemap-list li a {
	text-transform: capitalize;
	display: inline-block;
}
.list-circle {
	margin-bottom: 25px;	
}
.list-circle li {
	margin-left: 28px;
  	list-style-type: circle;	
	text-transform: capitalize;
	margin-bottom: 10px;
}

.list-circle li a {
	color: #666;	
}
.list-circle li a:hover {
	color: #000;	
}


/* Order now
**************************/
.color-light-gray {
	color: #ccc;
    margin-top: 3px;
    font-size: 14px;
    font-family: futura_bk_btbook;	
}
.order-now .price-area {
	font-size: 30px;
  	margin-top: 16px;
}
.order-now .full-branding-box {
	text-align: center;	
} 
.order-now .full-branding-box h2 {
	font-size: 25px;
  	color: #fff;
  	text-align: center;
  	margin-top: 30px;	
	margin-bottom: 0;
}
.order-now .full-branding-box strong {
	font-size: 18px;
	margin-top: 10px;
	display: inline-block;
}
.order-now .full-branding-box .btn {
	color: #fff;
	margin-top: 20px;
}
.order-now .full-branding-box .btn:hover {
	color: #000;
}
order-now .full-branding-box ul {
	margin-bottom: 20px;	
}
.order-now p {
	/*font-family: arial;*/
	font-size: 15px;	
}
.order-now h3 {
	margin-bottom: 15px;
	font-size: 20px;	
}
.order-now textarea,
.order-now select,
.order-now input[type="password"],
.order-now input[type="text"] {
	margin-bottom: 0px;
}
.order-now .form-group {
	margin-bottom: 15px;
} 

.order-now label { 
	font-size: 15px;
	font-weight: 400;
	margin-bottom:0;
}
/* Nav */
.nav-order-now {
	display: inline-block;
	text-transform: uppercase;
	font-size: 15px;
	margin-bottom: 40px;
}

.nav-order-now .done-step span{
    opacity: 0.5;
   -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor:default;
}
.nav-order-now li .fa-check {
	font-size: 18px;
	margin-top: -2px;	
}
.nav-order-now li {
	border: 5px solid #8c8c8c;
  	color: #000;
	float: left;
	position: relative;
	margin-left: 16px;
	font-family: 'futura_hv_btheavy';
}
.nav-order-now li:first-child {
	margin-left: 0;	
}
.nav-order-now li span {
	display: block;
  	padding: 12px 15px 10px 15px;
}
.nav-order-now li.current {
	border: 5px solid #8c8c8c;
	border-color: #000 !important;
}
.nav-order-now li.current span {
	color: #fff;
	background-color: #000;
	
}
.next-btn { margin-top: 15px !important;}
#file1 {
  position: absolute; 
  left: -999999em;
  visibility:hidden; 
}
.select-file .btn {
	font-size: 14px;
	padding: 6px 19px;
	background-color: #0B446F;
	transition: all 0.3s ease-in;
	margin-top: 10px;
}
.select-file .btn:hover {
	background-color: #ff1d1d;	
}


/* Payment */
.shopping-cart {
	margin-right: 10px;	
}
.shopping-cart li {
	display: inline-block;
}
.shopping-cart li a {
	display: inline-block;	
}
.shopping-cart li a:hover {
	opacity: 0.5;		
}
.payment a {
	font-weight: 700;	
}
.payment .nav-order-now li .fix {
	background-color: #0b446f;
}
.box9 {
	border: 2px solid #e5e5e5;
	padding: 10px;
	width: 25%;
	min-height: 200px;	
	margin-bottom: 15px;
	float: left;
	vertical-align: bottom;
	padding-bottom: 0;
}

.box10 {
	width: 100%;
	border: 2px solid #e5e5e5;
	padding: 10px;
	margin-bottom: 15px;
	float: left;
	padding-bottom: 0;		
}
.box10 .img {
	float: left;
	width: 24%;
}
.box10 .content {
	float: left;
	width: 76%;
}
.box10 h3,
.box9 h3 { 
	border-bottom: 2px solid #e5e5e5;
	text-align: center;
	padding-bottom: 5px;
}
.box10 ul li,
.box9 ul li {
	border-bottom: 1px solid #E9E9E9;	
	padding-bottom: 24px;
	padding-top: 24px;
	min-height:201px;
	position: relative;
}
.box10 ul li:last-child,
.box9 ul li:last-child {
	border-bottom: 0;
}
.box9 ul li span {
	position: absolute;
	bottom: 0;
	left: 50%;
	font-size: 25px;
	top: 50%;
	margin-left: -23px;
	margin-top: -23px;
} 
.box9.remove span { 
	margin-left: -14px;
}
.box9.remove span i {
	color: #CCC;	
	transition: color 0.3s ease-in;
	cursor: pointer;
}
.box9.remove span i:hover {
	color: #666;
}
.box10 ul li {
	vertical-align: bottom;	
}
.box10 ul li span {
	margin-left: 10px;
	display: inline-block;	
	vertical-align: bottom;	
	font-weight: bold;
}

/* Order summary */

.order-page .order-summary .item {
	font-size: 14px;
	border-left: 1px dotted #999;
	padding-left: 15px;
	margin-bottom: 20px;
	min-height: 370px;
}
.order-page .order-summary .item.first {
	border-left: 0;	
}
.order-page .order-summary .item h3 {
	margin-bottom: 20px;
	  border-bottom: 2px solid #e5e5e5;
	  display: inline-block;	
}
.order-page .order-summary .item ul li {
	margin-bottom: 5px;	
}
.order-page .order-summary .item ul li strong {
	color: #666;	
	font-family: 'futura_hv_btheavy';
}

.color-primary { color: #000 !important; }


/* RESPOSIVE */
@media (min-width:768px) { 
/* Text Animation */
.rw-sentence .not-animaited { font-size: 45px !important;}
.rw-words span { font-size: 33px; word-spacing: 17px; }

/* Talk to our specialist
-------------------------*/

/*Footer
-----------------------*/
.footer-label {
	margin-top: 29px;	
}
}

@media (min-width:992px) {

.rw-words span { font-size: 48px; }


/* How It Works?
-------------------------*/
.demo-1.mobile-menu {
	display: none ;	
}
.margin-top-md {
	margin-top: 30px;
}
	
}
@media (min-width:1200px) {
.rw-words span { font-size: 60px; }

/* About */
.about-container .services-content .col-lg-6:nth-child(1) .item{ position: relative; right: -15px ;}
.about-container .services-content .col-lg-6:nth-child(4) .item{ position: relative; left: -15px; }
.about-container .services-content .col-lg-6:nth-child(5) .item{ position: relative; right: -15px ;}
.about-container .services-content .col-lg-6:nth-child(8)  .item{ position: relative; left: -15px;}

}


@media (max-width:1200px) {
/*Packages*/
	.box-1 h3 {
		font-size: 28px !important;
	}
}

@media (max-width:991px) {
	/* General */
	.main-title { margin-bottom: 30px !important;}
	
	/* Header */
	.main-nav {
		display: none;	
	}
	.click-toggle-content p {
		text-align: left;
	}
	
	/* Packages*/
	.box-1 { margin-bottom: 20px; }
	
	.box-1.height {
		margin-top: 0;
		padding-top: 50px;	
	}
	
	/* Full-branding-order-box */
	.full-branding-box > div > ul > li {
		min-height: initial;
		margin-bottom: 30px;
	}
	.full-branding-box > div > ul > li .social { margin-bottom: 60px; }
	.full-branding-package-container {
		text-align: center;	
	}
	.full-branding-order-box {
		padding-top: 102px;
	}
	.full-branding-order-box .arrow-box {
		padding-top: 16px;
	}
	.arrow-box  {
		position: absolute !important;
		top: 0;	
		width: 100%;
	}
	.full-branding-order-box .arrow-box:before {
		left: 50%;
		top: -67px;	
		border-right: 34px solid transparent;
		border-left: 34px solid transparent;
		border-bottom: 34px solid #00a3c1;
		margin-left: -35px;
	}
	.full-branding-order-box .discount {
		margin-bottom: 0;	
	}
	
	/* Talk to our representative */
	.our-representative-container .headeing {
		width: 100%;	
		margin-bottom: 40px;
	}
	
	/* Contant */
	.contact-form input[placeholder="Name"] { margin-bottom: 15px; }
	
	/* Brochure-page */
	.brochure-page .box1 {
		margin-bottom: 30px;
	}
	
}

@media (max-width:768px) {
	/* Talk to our representative */
	.our-representative-container .live-chat li {
		width: 100%;
		margin-left: 0;
		margin-bottom: 10px;
	}
	.our-representative-container .headeing {
		margin-bottom: 40px !important;
	} 
}
@media (max-width:660px) { 
	/* Footer */
	.main-footer {
		text-align: center;
	}	
	.main-footer .top-footer {
		margin-left: 0;
		margin-right: 0;
		
	}
	.main-footer .copyright,
	.main-footer .quick-link,
	.main-footer .nav-footer,
	.main-footer .social {
		width: 100%;	
	}
	.main-footer .copyright{
		float:none !important;	
	}
	.main-footer .quick-link,
	.main-footer .nav-footer {
		margin-bottom: 13px;	
	}
	/* Testimonial-Page */
	.nav2 li {
		width: 60%;	
	}
	.nav2 li a {
		width: 100%;	
	}
}
@media (max-width:570px) {
	/* General */
	.h1, h1 { font-size: 30px; } 
	.h4, h4 { font-size: 18px; }
	.main-title { padding-left: 0; padding-right: 0; }
	
	/* Header */
	.main-heade .logo img {
		width: 150px;
		margin-top: 15px;	
	}
	.rw-sentence .not-animaited {
		font-size: 40px;
	}
	.rw-words span { font-size: 23px;}
	.btn-larg, .btn-larg:active, .btn-larg:focus {
		font-size: 15px;
		padding: 14px 10px 10px;
	}
	/*.home .main-header {
		min-height: 540px;
	}*/
	
	/* services */
	.services-container h1 + p {
		font-size: 18px;	
	}
	.services-content h2 {
		font-size: 32px;	
	}
	.services-content .h4 {
		font-size: 27px;
	}
	
	
	/* Testimonial */
	.testimonial-container p {
		font-size: 18px;	
	}
	/* Services */
	.services-page .services-banner-container p {
		font-size: 18px;	
	}
	
	
	/* full-branding-box */
	
	.full-branding-box {
		padding: 60px 30px 40px 30px;
	}
}
@media (max-width:485px) {
	/* Footer */
	.main-footer .quick-link li,
	.main-footer .nav-footer  li {
		width: 100%;
		margin-top: 0px;
		padding: 8px 0;
		border-top: 1px solid #ccc;
	}
	.main-footer .quick-link li:first-child ,
	.main-footer .nav-footer  li:first-child  {
		border-top: 0;
	}
	.main-footer .quick-link li {
		border-left: 0;	
	}
	
	.main-footer .nav-footer  li:first-child {
		margin-top: 0;	
	}
	.main-footer .social {
		padding-top: 7px;
		padding-bottom: 7px;
		margin-bottom: 15px;
		background-color: #F0F0F0;	
	}
	.top-footer {
		padding-bottom: 0;
		border-bottom: 0;	
	}
	.bottom-footer {
		padding-top: 0;	
		padding-left: 15px;
		padding-right: 15px;
	}
}
@media (max-width:370px) {
	/* Services */
	.services-content .item h2 {
		font-size: 24px;
		top: 64%;
	}
	.services-content .h4 { font-size: 18px;}
	
	/* Packages */
	.btn-small, .btn-small:active, .btn-small:focus {
		padding: 16px 8px 14px;	
	}
	
	/* full-branding-box */
	.full-branding-order-box .current-price p + p { font-size: 40px;}
}


/* Cross arrow */
		.tcon {
  appearance: none;
  border: none;
  cursor: pointer;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 40px;
  transition: 0.3s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 40px;
  background: transparent; }
  .tcon > * {
    display: block; }
  .tcon:focus {
    outline: none; }

.tcon-menu__lines {
  display: inline-block;
  height: 5.71429px;
  width: 40px;
  border-radius: 2.85714px;
  transition: 0.3s;
  background: #2b2b2b;
  position: relative; }
  .tcon-menu__lines::before, .tcon-menu__lines::after {
    display: inline-block;
    height: 5.71429px;
    width: 40px;
    border-radius: 2.85714px;
    transition: 0.3s;
    background: #2b2b2b;
    content: '';
    position: absolute;
    left: 0;
    -webkit-transform-origin: 2.85714px center;
    transform-origin: 2.85714px center;
    width: 100%; }
  .tcon-menu__lines::before {
    top: 10px; }
  .tcon-menu__lines::after {
    top: -10px; }
  .tcon-transform .tcon-menu__lines {
    -webkit-transform: scale3d(.8, .8, .8);
    transform: scale3d(.8, .8, .8); }

.tcon-menu--xbutterfly {
  width: auto; }
  .tcon-menu--xbutterfly .tcon-menu__lines::before, .tcon-menu--xbutterfly .tcon-menu__lines::after {
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    transition: top .3s .6s ease, -webkit-transform .3s ease;
    transition: top .3s .6s ease, transform .3s ease; }
  .tcon-menu--xbutterfly.tcon-transform .tcon-menu__lines {
    background: transparent; }
    .tcon-menu--xbutterfly.tcon-transform .tcon-menu__lines::before, .tcon-menu--xbutterfly.tcon-transform .tcon-menu__lines::after {
      top: 0;
      transition: top .3s ease, -webkit-transform .3s .5s ease;
      transition: top .3s ease, transform .3s .5s ease;
      width: 40px; }
    .tcon-menu--xbutterfly.tcon-transform .tcon-menu__lines::before {
      -webkit-transform: rotate3d(0, 0, 1, 45deg);
      transform: rotate3d(0, 0, 1, 45deg); }
    .tcon-menu--xbutterfly.tcon-transform .tcon-menu__lines::after {
      -webkit-transform: rotate3d(0, 0, 1, -45deg);
      transform: rotate3d(0, 0, 1, -45deg); }

.tcon-visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }
  .tcon-visuallyhidden:active, .tcon-visuallyhidden:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto; }

.tcon-menu--xcross {
  width: auto; }
  .tcon-menu--xcross.tcon-transform .tcon-menu__lines {
    background: transparent; }
    .tcon-menu--xcross.tcon-transform .tcon-menu__lines::before, .tcon-menu--xcross.tcon-transform .tcon-menu__lines::after {
      -webkit-transform-origin: 50% 50%;
      transform-origin: 50% 50%;
      top: 0;
      width: 40px; }
    .tcon-menu--xcross.tcon-transform .tcon-menu__lines::before {
      -webkit-transform: rotate3d(0, 0, 1, 45deg);
      transform: rotate3d(0, 0, 1, 45deg); }
    .tcon-menu--xcross.tcon-transform .tcon-menu__lines::after {
      -webkit-transform: rotate3d(0, 0, 1, -45deg);
      transform: rotate3d(0, 0, 1, -45deg); }
	  
/*  */


.tcon {
  appearance: none;
  border: none;
  cursor: pointer;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 40px;
  transition: 0.3s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 40px;
  background: transparent; }
  .tcon > * {
    display: block; }
  .tcon:focus {
    outline: none; }

.tcon-plus {
  height: 40px;
  position: relative;
  -webkit-transform: scale(.75);
  transform: scale(.75);
  width: 40px; }
  .tcon-plus::before, .tcon-plus::after {
    content: "";
    border-radius: 2px;
    display: block;
    width: 34px;
    height: 10px;
    margin: -5px 0 0 -12px;
    position: absolute;
    top: 50%;
    left: 50%;
    transition: 0.3s;
    background: black; }
  .tcon-plus:after {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg); }

.tcon-plus--minus.tcon-transform:before {
  -webkit-transform: rotate(180deg) translate(0px, 0);
  transform: rotate(180deg) translate(0px, 0);
  width: 19px; }
.tcon-plus--minus.tcon-transform:after {
  -webkit-transform: rotate(-180deg) translate(-15px, 0);
  transform: rotate(-180deg) translate(-15px, 0);
  width: 19px; }

.tcon-visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }
  .tcon-visuallyhidden:active, .tcon-visuallyhidden:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto; }
 
/* faq */
		.faq .tcon-plus {
height: 27px;}
		.faq .tcon {
			display: inline-block;
			vertical-align: middle;	
		}
        	.faq .tcon-plus::before, .tcon-plus::after {
				border-radius: 0;	
				height: 6px;
				width: 22px;
				background: #fff;}
			
			.faq .tcon-plus--minus.tcon-transform:before {
-webkit-transform: rotate(180deg) translate(-3px, 0);
transform: rotate(180deg) translate(-3px, 0);
			
			}
			.faq .tcon-plus--minus.tcon-transform:after {
-webkit-transform: rotate(-180deg) translate(-5px, 0);
transform: rotate(-180deg) translate(-5px, 0);
width: 19px;}

/* request-call-back Page
**************************/
.date-time-box {
	position: relative;
	padding: 0;
	margin-bottom: 0;	
}
.date-time-box .add-on {
  position: absolute;
  right: 15px;
  top: 16px;
  font-size: 29px;
  cursor: pointer;
}
.date-time-box.time-picker .add-on {
	top: 12px;
	font-size: 35px; 	
}

/***********************************************************
 Dashboard Pages
************************************************************/
.dashboard-page .btn3:hover {
	background: #000 !important;
}
.dashboard-page .main-footer-bottom {
	border-top: 1px solid #ccc;
	background-color: #fff;	
}
.dashboard-page .panel-heading button {
	font-size: 11px;
  	font-weight: 300;
  	padding-top: 4px !important;	
}
.dashboard-page a {
	color: #000;	
}
.dashboard-page a:hover {
	color: #666;	
}
.dashboard-page .panel-body h3 {
	margin-bottom: 10px;
	font-size: 20px;	
}
.dashboard-page .panel-body h4 {
	font-size: 18px;
	margin-bottom: 10px;
}
.dashboard-page .panel-body p {
	font-size: 14px;
	margin-bottom: 10px;	
}

.dashboard-page .form input { 
	padding-top: 0px;
	padding-bottom: 0px;
}

.dashboard-page .btn1 {
	font-size: 20px;
	padding: 15px 20px;
	margin-bottom: 20px;
	margin-top: 20px;
	margin-right: 10px;	
}
.dashboard-page { 
	font-size: 15px;
 }
.dashboard-page .panel-body {
	min-height: 422px;
}	
.dashboard-page .navbar-brand { padding-top: 0; }
.dashboard-page .page-header {
	padding-bottom: 9px;
	margin: 28px 0 20px;
}
		
.dashboard-page .navbar-brand {
	margin-right: 120px;
	margin-top: 3px;	
}
.dashboard-page .navbar-top-links .fa.fa-home {
	font-size: 19px;
	line-height: 0.9;
}
.dashboard-page .header-address {
	float: left;	
	
}
.dashboard-page .header-address span {
	float: left;
	margin-top: 15px;
	margin-left: 12px;
	font-size: 14px;
}
.dashboard-page .header-address span i {
	font-size: 17px;	
}
.dashboard-page .border-box { 
	border: 1px solid #ddd;  
	padding : 10px; 
	min-height: 170px;
}

/* COLOR */
.dashboard-page .panel-primary .panel-heading { background: #00a3c1 ; } 
.dashboard-page .panel-green .panel-heading {background: #50af4b ; } 
.dashboard-page .panel-red .panel-heading { background: #f3822c ; }

.dashboard-page #side-menu li.current a,

.dashboard-page .nav .open>a,
.dashboard-page .nav .open>a:focus,
.dashboard-page .nav .open>a:hover,
.nav>li>a:focus, .nav>li>a:hover {
		background-color: #000;
		color: #fff;
}
.dashboard-page .nav>li>a:focus,
.dashboard-page .nav>li>a:hover {
		color: #fff;	
	}
		
.dashboard-page .action-button button,
.dashboard-page .action-button button:focus{
		color: #000 !important;
		padding: 1px 9px;
		border: 1px solid #ddd;	
	}
	
.dashboard-page #side-menu .fa-angle-double-right { font-size: 14px ; padding-top: 5px;}
.dashboard-page .navbar-top-links > li > a {
		padding: 15px 12px; 
		vertical-align: middle;
	}
.dashboard-page .copyright {
	margin-left: 0;	
}
.dashboard-page .navbar-top-links .dropdown-messages,
.dashboard-page .navbar-top-links .dropdown-tasks,
.dashboard-page .navbar-top-links .dropdown-alerts {
	width: 250px;
}
.dashboard-page  .small {
font-size: 11px;
} 
@media (min-width:768px) {
	.dashboard-page .sidebar-nav {
		padding-top: 27px;	
	}
}

@media (max-width: 1199px) {
	.dashboard-page .panel-body {
		min-height: 100px ;
	}	
	
	
}
@media (max-width: 992px) {
	
	.dashboard-page .navbar-brand {	
	margin-right: 0;
	}	
}




/* 7 - 4 -2015 Update 
-----------------------------------*/
.action-area,.action-area:focus,.action-area:active,.action-area:hover  {
	color: #000;
	padding-top: 2px;
	padding-bottom: 2px;	
	border: 1px solid #CCC;
}
.dashboard-page  .padding-left-0 {
	padding-left: 0;	
}
.dashboard-page  .fix2 {
	margin-left: 20px;
}
.dashboard-page  .dropdown-menu {
  left: -107px;
}
.dashboard-menu-dropdown .fa-caret-down {
	font-size: 15px;
	line-height: 1;
	position: relative;
	left: -10px;
}
.dashboard-page .live-chat-to-support {
	font-family: futura_hv_btheavy;
	font-size: 33px;
	line-height: 1;
	margin-top: 16px;	
}
.dashboard-page .table-responsive {
	font-size: 12px;	
}
.dashboard-page .other-info {
	font-size: 13px;
	padding-bottom: 20px;	
}
.dashboard-page .important-info-container {
	font-size: 13px;
	padding-bottom: 30px;	
}
.dashboard-page .important-info-container h4 { 
	margin-bottom: 0px;
}
.dashboard-page .nav {
	font-size: 13px;	
}
.dashboard-page .nav > li h5 {
	padding-left: 15px;	
}
.dashboard-page .my-orders {
	margin-bottom: 60px;
}
.dashboard-page .my-account {
		
}
.form-my-preferences label p ,
.form-my-preferences p label {
	font-weight: normal;
}
.form-update-my-details .form-group{
	width: 48%;
	float: left;
	margin-left: 1%;
	margin-right: 1%;
}

.dashboard-page .form-control {
  height: 45px;
}

@media (max-width: 992px) { 
.form-update-my-details .form-group{
	width: 98%;
}
}

.dashboard-page .my-prfile-list {
	margin-top: 20px;	
}
.dashboard-page .my-prfile-list li {
	margin-bottom: 20px;

} 

/*  -----------------   */
.ie9 .rw-words.rw-words-1 {
	display: none
}
#owl-demo-ie {
	color: #fff;
	font-family:Georgia, serif;	
	font-weight: normal;
	display: none !important;
	height: 20px;
}
.ie9 #owl-demo-ie { 
	display: block !important;
}
.ie9 .btn:hover {
	color: #000;
}
/*  -----------------   */


.help-icon {
  position: relative;
  top: -55px;
  left: 12px;
}
.logo-type {
  border: 1px solid #ccc;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: 15px;
  margin-right: 15px;
  border-radius: 4px;
}

.list-4 ul li {
	margin-left: 50px;
}
.list-4 ul li:first-child {
	margin-left: 0;	
}

/**/

.selected-package-box {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 20px;
  margin-bottom: 30px;
}
.selected-package-box h6 {
	margin-top: 10px;	
}
.selected-package-box ul{
	margin-top: 10px;	
}
.selected-package-box ul li {
	font-size: 15px;
    border-bottom: 1px solid #ddd;
    padding: 3px;
}
.selected-package-box ul li:last-child {
    border-bottom: 0 none;
}
.order-page .current-price {
  color: #fff;
  margin-bottom: 18px;
  font-family: 'elkwoodregular';
  background-color: #626161;
  border-radius: 50%;
  width: 140px;
  height: 140px;
  display: inline-block;
  border: 7px solid #e6e6e6;
  position: relative;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
  transition: all 0.6s ease-in-out;
}
.order-page .current-price .old-price {
  text-decoration: line-through;
  font-family: 'Open Sans', sans-serif;
  display: block;
  text-align: center;
  padding-top: 29px;
}

.addon-box {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 20px;
  margin-bottom: 30px;
}
.addon-box h4 {
	font-size: 18px;	
}
.addon-box h4 span { 
	font-size: 16px;
}
.addon-box ul li {
	border: 1px solid #ccc;
	padding: 10px;
	margin-top: 10px;
}
/* shopping-basket-box */
.add-on-container {
	position: relative;	
}

.shopping-basket-box {
	position: fixed;
	top: 320px;
	right: 120px;
	background-color: #626161;
	display: inline-block;	
}
.shopping-basket-box h4 {
	color: #fff;	
    margin-left: 20px;
    margin-top: 15px;
    margin-bottom: 14px;
}
.shopping-basket-box ul {
	background-color: #fff; 
	margin-left: 20px;
	margin-right: 20px;	
	padding: 20px;
}
.shopping-basket-box ul li {
	border-top: 1px solid #e6e6e6;
	padding-bottom: 2px;
	padding-top: 2px;
}
.shopping-basket-box ul li:first-child {
	border-top: 0;
}
.shopping-basket-box ul li strong {
	margin-left: 20px;	
}
.shopping-basket-box .footer {
	background-color: #000;	
	color: #fff;
	padding: 20px;
}

.package-current-price {
    font-size: 45px;
	line-height: 40px;
}


/*----------------------------------------------------*/

.box-12 h4 {
	margin-bottom: 0;	
}
#order-nav-packages a { 
	color: #CCC;
}

.box-12 .current-price {
	position: absolute;
    top: -27px;
    left: -7px;
    width: 150px;
    height: 150px;
}
.box-12 .current-price .old-price {
	padding-top: 18px;
}
.box-12 .current-price .shadow {
	display: none !important;	
}
#order-nav-packages .active a {
	color: #fff !important;	
}

.popup-packages {
	margin-top: 10px;	
}

.box-12 .tab-pane {
	border: 0 !important;	
}
.box-12 {
	background: #fff !important;
	margin-bottom: 0;
		
}
.box-12 {
	text-align: center;	
}
.box-12  .package-current-price {
  font-size: 43px;
  
 }
.box-12 ul li {
	font-size: 12px;	
	text-align: left;
	padding-top: 3px;
	padding-bottom: 3px;
}
.display-inline {
	display: inline-block;
}
.fix-13,.fix-13:focus {
	padding: 5px 10px;
	font-size: 18px;
	margin-top: 30px;	
}

/* offer-container  */
.offer-container  {
	font-size: 14px;
	padding-bottom: 50px;
	/*padding-top: 80px;*/
}
.offer-container  h5 {
	margin-bottom: 20px;
}
.offer-container  p {
	margin-bottom: 20px;
}
.offer-container .box-01 {
	background-color: #ededed;
	padding: 10px;
}
.offer-container .box-01 ul li {
	margin-bottom: 12px;
}