@import "compass/css3";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);

$black: #000;
$white: #fff;
$orange: #faa227;
$grey: #333; 
$grey2: #888;
$border: #f5f5f5;
$border2: #ddd;
$orange-text: #f17034;
$red: #dd4b39;
$baground-yellow: #f6eddc;
$baground-grey: #f3f3f3;
$baground-grey2: #f7f7f7;
$text-color1: #696358;
$text-color2: #4a4a4a;
$blue: #6e9dff;
$blue-dark: #3b579d;
$btn-blue: #0094f7;
$footer: #585858;
$footer-text: #a5a5a5;
$col-social: #373737;


%reset-list {
    padding: 0;
    margin: 0;
    li {
        list-style: none;
        padding: 0;
        margin: 0;
    }
}
%flex-araund {
    @include display-flex;
    justify-content: space-around;
    -ms-justify-content: space-around;
    -webkit-justify-content: space-around;
    align-items: center;
    -webkit-align-items: center;
    -ms-align-items: center;
}
%flex-between {
    @include display-flex;
    justify-content: space-between;
    -ms-justify-content: space-between;
    -webkit-justify-content: space-between;
    align-items: top;
    -webkit-align-items: top;
    -ms-align-items: top;
}
%flex-center {
    @include display-flex;
    justify-content: center;
    -ms-justify-content: center;
    -webkit-justify-content: center;
    align-items: center;
    -webkit-align-items: center;
    -ms-align-items: center;
}
%flex-center2 {
    @include display-flex;
    justify-content: center;
    -ms-justify-content: center;
    -webkit-justify-content: center;
    align-items: top;
    -webkit-align-items: top;
    -ms-align-items: top;
}
@mixin transition {
    -webkit-transition: all 0.15s linear;
    -moz-transition: all 0.15s linear;
    -ms-transition: all 0.15s linear;
    transition: all 0.15s linear;
}
@mixin transition2 {
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    transition: all 0.3s linear;
}
@mixin scale-element {
    transform: scale(0.85);
}

body {
    font-family: 'Open Sans', sans-serif;
    background: $white;
}
body.modal-open {
    .navbar-fixed-top {
        margin-left: -15px;
    }
}
img {
    max-width: 100%;
    vertical-align: middle;
}
h1 {
    margin: 0;
}

.no-padding {
    padding: 0 !important;
}

a {
    color: $grey;
    @include transition;
    cursor: pointer;

    &:hover {
        color: $blue;
        text-decoration: none;
    }
}
.btn-primary {
    display: block;
    width: 100%;
    background-color: $btn-blue;
    @include transition;
    font-size: 22px;
    height: 41px;
    text-transform: uppercase;
    &:hover {
        background-image: -webkit-gradient(linear,0 0,0 100%,from($btn-blue),to($blue));
        background-image: -webkit-linear-gradient(top,$btn-blue,$blue);
        background-image: -o-linear-gradient(top,$btn-blue,$blue);
        background-image: linear-gradient(to bottom,$btn-blue,$blue);
        background-repeat: repeat-x;
        -webkit-box-shadow: 1px 1px 3px rgba(0,0,0,.75),inset 0 1px rgba(255,255,255,.44);
        -moz-box-shadow: 1px 1px 3px rgba(0,0,0,.75),inset 0 1px rgba(255,255,255,.44);
        box-shadow: 1px 1px 3px rgba(0,0,0,.75),inset 0 1px rgba(255,255,255,.44);
    }
    &:active {
        -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.51);
        -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,.51);
        box-shadow: inset 0 1px 2px rgba(0,0,0,.51);
    }
    &:focus {
        background-color: $btn-blue;
    }
}
.btn {
    &.btn-warning {
        background: $orange;
        border-color: darken($orange, 2%);
        &:hover, &:active, &:focus, &:focus:active, &:active:hover {
            background: darken($orange, 10%);
        }
    }
}