@font-face {
  font-family: 'dejavu_sansbook';
  src: url('/fonts/DejaVuSans-webfont.eot');
  src: url('/fonts/DejaVuSans-webfont.eot?#iefix') format('embedded-opentype'),
       url('/fonts/DejaVuSans-webfont.woff') format('woff'),
       url('/fonts/DejaVuSans-webfont.ttf') format('truetype'),
       url('/fonts/DejaVuSans-webfont.svg#dejavu_sansbook') format('svg');
  font-weight: normal;
  font-style: normal;
}


body {
  padding-top: 97px;
}

h2 {
  font-family: 'dejavu_sansbook', sans-serif;
  font-weight: 400;
  font-size: 28px;
  line-height: 28px;
}

h3 {
  font-family: 'dejavu_sansbook', sans-serif;
  font-weight: 300;
  font-size: 20px;
}

a.back {
  color: #ddd;
  text-transform: uppercase;
  font-family: 'dejavu_sansbook', sans-serif;
  font-weight: 700;
  font-size: 13px;
}

a.back:hover {
  text-decoration: none;
  color: #999;
}

#circles {
  margin-bottom: 30px;
}

#circles h3 {
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
}

#circles img {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

#circles p {
  font-family: 'dejavu_sansbook', sans-serif;
  font-weight: 300;
  font-size: 13px;
  text-align: center;
}

.rubix {
  margin-bottom: 30px;
}

.rubix h3 {
  font-family: 'dejavu_sansbook', sans-serif;
  font-weight: 100;
  font-size: 21.5px;
  color: #999;
}

.rubix ul {
  list-style-type: none;
  margin: 0 0 20px 0;
  padding: 0;
}

.rubix ul li {
  list-style-type: none;
  font-family: 'dejavu_sansbook', sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 28px;
  color: #999;
}

.rubix img.cube {
  margin-top: 48px;
}

.page-header h1 {
  font-family: 'dejavu_sansbook', sans-serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 32px;
}

.page-header h1 small {
  font-family: 'dejavu_sansbook', sans-serif;
  font-weight: 300;
  font-size: 16px;
}

.page-header h1 small a {
  color: #f4c220;
}

.page-header h2 {
  font-family: 'dejavu_sansbook', sans-serif;
  font-weight: 300;
  font-size: 24px;
}

#side #phone-screen {
  padding-bottom: 20px;
}

#side p {
  font-family: 'dejavu_sansbook', sans-serif;
  font-weight: 300;
  font-size: 14px;
}

#side h1 {
  font-family: 'dejavu_sansbook', sans-serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 32px;
  border-bottom: 3px solid #666;
}

#side h2 {
  font-family: 'dejavu_sansbook', sans-serif;
  font-weight: 400;
  font-size: 20.5px;
}

#side h3 {
  font-family: 'dejavu_sansbook', sans-serif;
  font-weight: 300;
  font-size: 18px;
  color: #f4c220;
}

#side ul.features {
  list-style-type: none;
  margin: 0 0 20px 0;
  padding: 0;
}

#side ul.features li {
  margin: 0;
  padding: 0;
  line-height: 21px;
  list-style-type: none;
  color: #666;
  font-family: 'dejavu_sansbook', sans-serif;
  font-weight: 300;
  font-size: 14px;
}

#main .preview {
  position: relative;
  z-index: 5;
  margin: 0 0 50px 0;
  width: 100%;
}

#main .preview img {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

#main .preview .info {
  z-index: 10;
  background-color: rgba(255,255,255,0.95);
  -webkit-box-shadow: inset 0px 1px 4px 0px rgba(0,0,0,0.25);
  box-shadow: inset 0px 1px 4px 0px rgba(0,0,0,0.25);
  height: 300px;
  position: absolute;
  top: 50%;
  margin-top: -150px;
  width: 100%;
}

#main .preview .info .inner {
  margin: 50px;
}

#main .preview .info .inner h2 {
  font-family: 'dejavu_sansbook', sans-serif;
  font-weight: 700;
  font-size: 24px;
  color: #f4c220;
}

#main .preview .info .inner p {
  color: #999;
  font-family: 'dejavu_sansbook', sans-serif;
  font-weight: 300;
  font-size: 18px;
}

.designs {
  margin-bottom: 20px;
}

.designs .preview {
  position: relative;
}

.designs .preview .img-polaroid {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  z-index: 5;
}

.designs .preview .design-label {
  font-family: 'dejavu_sansbook', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #ccc;
  font-style: italic;
}

.designs .preview .info {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 25;
  background: rgba(255,255,255,0.85);
}

.designs .preview .info .inner {
  margin: 40px;
  color: #999;
  font-family: 'dejavu_sansbook', sans-serif;
  font-weight: 400;
  font-size: 14px;
}

.designs .preview .info .inner h2 {
  font-family: 'dejavu_sansbook', sans-serif;
  font-weight: 400;
  font-size: 20.5px;
}

.designs .preview .info .inner h2 small {
  font-size: 13px;
  color: #f4c220;
}

.designs .preview .info .inner ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.designs .preview .info .inner ul li {
  margin: 0 0 10px 0;
  padding: 0;
  line-height: 21px;
  list-style-type: none;
  color: #666;
}

#features {
  background: #ccc url("../img/denim.png") repeat top left;
  -webkit-box-shadow: inset 0px 0px 6px 0px rgba(0,0,0,0.35);
  box-shadow: inset 0px 0px 6px 0px rgba(0,0,0,0.35);
  padding-bottom: 10px;
  text-shadow: 0px 1px 0px rgba(0,0,0,0.8);
  border-radius: 6px;
}

#features h2 {
  padding: 10px 10px 0 10px;
  color: #fff;
  margin: 0;
}

#features h3 {
  font-family: 'dejavu_sansbook', sans-serif;
  font-weight: 300;
  font-size: 18px;
  color: #f4c220;
  padding: 0 10px;
}

#features ul {
  margin: 0;
  padding: 0 10px;
  list-style-type: none;
}

#features ul li {
  color: #fff;
  font-family: 'dejavu_sansbook', sans-serif;
  font-weight: 300;
  font-size: 14px;
  padding: 0;
  margin: 0 0 5px 0;
}

#features a.hide-link {
  float: right;
  padding: 20px 10px 0 0;
  font-family: 'dejavu_sansbook', sans-serif;
  font-weight: 300;
  font-size: 13px;
  color: #f4c220;
}

#pricing-mobile img {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #ccc;
}

#pricing #feature-list td {
  text-align: right;
  font-weight: bold;
}

#pricing #feature-list td a:hover,#pricing #feature-list td a:focus {
  text-decoration: none;
}

#pricing .design-overview table.left-border td {
  border-left: 1px solid #ddd;
}

#pricing .design-overview table.left-border td.no-border {
  border-left: none;
}

#pricing .design-overview td {
  color: #666;
  text-align: center;
}

#pricing .design-overview td.off {
  color: #ccc;
}

#pricing .design-overview td.special {
  font-weight: bold;
  color: #333;
}

#pricing .design-overview p.left {
  text-align: left;
  font-size: 12px;
  line-height: 16px;
}

#pricing .design-overview a.heart:hover,#pricing .design-overview a.heart:focus {
  text-decoration: none;
}

#pricing .row-fluid .span4 {
  width: 30%;
  margin-left: 0;
}

#pricing .row-fluid .span2 {
  width: 20%;
  margin-left: 0;
}

#pricing .top-blank {
  height: 170px;
}

#pricing .design-top {
  background: #efefef;
  height: 150px;
  padding: 10px;
}

#pricing .design-top h2 {
  margin-top: 0px;
}

#pricing .design-top h3 {
  font-weight: bold;
}

#pricing #feature-list-rubix .design-top {
  -webkit-border-top-left-radius: 9px;
  -moz-border-radius-topleft: 9px;
  border-top-left-radius: 9px;
  background: #f4c220;
}

#pricing #feature-list-html5 .design-top {
  background: #fceec2;
}

#pricing #feature-list-flash .design-top {
  -webkit-border-top-right-radius: 9px;
  -moz-border-radius-topright: 9px;
  border-top-right-radius: 9px;
}

#footer {
  clear: both;
  border-top: 1px solid #e8f5ef;
  background: #e8f5ef;
  min-height: 300px;
  margin-top: 100px;
  padding-top: 25px;
  color: #72c29d;
  text-shadow: 0px 1px 0px rgba(255,255,255,0.75);
  font-family: 'dejavu_sansbook', sans-serif;
  font-weight: 300;
  font-size: 13px;
}

#footer a {
  color: #72c29d;
}

#footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#footer ul li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.block-button,.block-button:hover {
  width: 100%;
  background-image: none;
  border-radius: 0;
  padding: 12px 0;
  background-color: #f4c220;
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 100;
  letter-spacing: 0.2em;
}

.inline-button {
  width: none;
}

.btn-gold {
  background-image: none;
  background-color: #f4c220;
  color: #866807;
  text-shadow: 0px 1px 0px rgba(255,255,255,0.45);
}

.btn-gold:hover {
  background-color: #f7d461;
  color: #866807;
  text-shadow: 0px 1px 0px rgba(255,255,255,0.45);
}

.hard-edge {
  border-radius: 0;
  padding: 12px 24px;
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 100;
  letter-spacing: 0.2em;
}

.navbar .navbar-inner {
  background-color: #fff;
  background-image: none;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}

.navbar .nav {
  margin-top:30px;
}

.navbar .brand {
  padding:0;
}

.navbar .brand img {
  height: 97px;
  width: auto;
  display: block;
}

.navbar .nav li a {
  font-family: 'dejavu_sansbook', sans-serif;
  font-weight: 300;
  font-size: 13px;
  text-transform: uppercase;
}

.navbar .nav li a.standout {
  background: #f4c220;
  color: #866807;
  text-shadow: 0px 1px 0px rgba(255,255,255,0.45);
}

.rotate {
  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  -o-transition-duration: 0.8s;
  transition-duration: 0.8s;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
  transition-property: transform;
  overflow: hidden;
}

.rotate:hover {
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -o-transform: rotate(360deg);
}