html {
}
body {
	background: url(../img/menu_bar_bg.gif) repeat-y;
	font-size: 14px;
	font-family: Arial, sans-serif;  
	color: #666;
}

a, a:hover, a:visited, a:visited:hover {
	text-decoration: none;
	color: #f98d37; /*#f98d37;*/ /*#8bc53f;*/
}

sup {
	font-size: .5em;
}

#container { 
/*	overflow: hidden;
		width: 100%;*/ 
	min-width: 1300px;
}

#navigation { 
	float: left;
	z-index: 5000;    
	background: url(../img/menu_bar_bg.gif) repeat-y;
	border-bottom: 2px solid #fff;
                                            
}

#logo {  
	background: #f2f2f2;
	width: 255px;
	padding: 20px 0 10px 0;
	text-align: center;
	/*border-bottom: 1px solid #eee;*/
}

#menu { 
	width: 255px;
	background: transparent; /*url(../img/menu_ind.png) no-repeat -19px right;*/
}
#menu sup { 
	font-size: .5em;
}
#menu ul {
	margin: 0;
	list-style: none;	
}
#menu .main {
	display: block;
	width: 100%;
}
#menu ul li {
	background: transparent; /*url(../img/plus-simple-icon.png) no-repeat 220px 25px;*/
	/*border-bottom: 1px solid #eee; */
	border-top: 2px solid #fff;
	text-align: left;
	padding: 15px 0 15px 20px;
	margin: 1px 0;
	font-size: 1.5em;
	color: #f98d37; /*#8bc53f;*/
} 
#menu .showPlus {
	background: url(../img/plus-simple-dark-icon.png) no-repeat 220px 18px;
}
#menu .showMinus {
	background: url(../img/minus-simple-dark-icon.png) no-repeat 220px 18px;
}
#menu ul a, a:hover {
	color: #f98d37; /*#8bc53f;*/
	text-decoration: none;
}
#menu ul ul {
	display: none;
	margin: 5px 0 0 0;
}
#menu ul ul li{
	border: none;
	background: url(../img/menu_ind.png) -100px center no-repeat;
	padding: 0;
	width: 100%;
	margin-left: -20px;
	padding: 5px 0 5px 20px;
	font-size: .7em;
}
#menu .selected {
	font-weight: bold;
	background-position: right center;
}
#menu .selected a {
	color: #000;
}
#menu ul li ul a {
	color: #707070;
}
#menu ul li ul a:hover {
	color: #000;
}

#loaderSpinner {
	position: fixed;
	top: 50%;
	margin-top: -18px;
	left: 50%;
	margin-left: 110px;
	width: 32px;
	height: 32px;
	background: url(../img/loader.gif) no-repeat center center;
}

#main {  
	float: left;
	min-width: 600px;
	margin: 0;
	padding: 0 40px; 
	height: 100%;    
	width: 70%;
	/*
	margin-left: 255px;
	*/
	z-index: 0; 
}

#content {
	margin-bottom: 100px;   
}
#content hr {
	background: #f2f2f2;
}
#content .contentHeader h1 {
	color: #666; /*#f98d37;*/ /*#8bc53f;*/
	font-size: 35px;
	font-weight: normal;
}
#content .contentHeader {
	margin-top: 40px;
}
#content h2 {
	font-size: 1.5em; 
	font-weight: lighter;
}
#content ul {
	width: 100%;
	margin: 0;
	padding: 0;
	list-style-type: none;
}
#content li {
	clear: both;
	padding: 10px 0;
	margin-bottom: 10px;
}
#content li.divider { 
	max-width: 640px;
	border-bottom:1px solid #f2f2f2;
}
#content legend {
	font-weight: bold;
	font-size: 1.2em;
	padding: 10px 0;
}
#content fieldset {
	margin: 0 0 30px 0;
}
#content .bfInputText {
	float: left;
	width: 300px;
	border: none;
	padding: 10px;
	background: #f2f2f2;
}
#content .bfColor {
	width: 60px;
}
#content .bfSwatch, #content .bfEntrySwatch {
	border: 5px solid #f2f2f2;
	float: left;
	width: 25px; /*310px;*/
	height: 25px;
	/*margin-left: 10px;*/
}
#content .bfSwatchSmall {
	border: 5px solid #f2f2f2;
	float: left;
	width: 25px;
	height: 25px;
	margin-right: 5px;
}
#content .bfTextarea {
	float: left;
	width: 300px;
	height: 100px;
	border: none;
	padding: 10px;
	background: #f2f2f2;
	margin-bottom: 20px;
}
#content .bfSlider {
	float: left;
	width: 239px;
	margin: 10px 5px;
}
#content .bfSliderLabel {
	margin-left: 10px;
	width: 40px;
}
#content .bfLayoutSet {
	text-align: center;
	float: left;
	margin-bottom: 20px;
}
#content label.bfLayoutLabel {
	width: auto;
	padding: 0;
}
#content .bfLayoutChoice {
	width: 141px;
	text-align: center;
	float: left;
	margin-right: 10px;
}
#content .bfLayoutChoice img {
	
}
#content .bfPresetImage {
	
}
#content .smediaIcon {
	float: left; 
	min-width: 100px;
	margin-right: 10px;
}
#content select {
	margin: 10px 0 0 0;
	font-size: 1.1em; 
	padding: 4px;
}
#content input {
	border: none;
}
#content label{
	width: 220px;
	padding: 10px 0;
	float: left;
	font-weight: normal;
} 
#content .settingsRadio { 
	width: 30px;
	height: 38px; 
	float: left;
}
#content .radioLabel {
	width: auto;
	padding: 0;
}
#content .checkboxLabel {
	float: none;
	padding: 0;
	width: auto;
	margin: 5px 20px 5px 0;
}
#content .bfCheckbox {
	border: none;
	margin: 5px 0 2px 0;
	background: transparent;
}
#content select#productInsert {
	color: #f98d37; /*#8bc53f;*/
	background: transparent;
	display: inline;
	width: 80px;
	padding: 0;
	margin: 0;
	font-size: 1em;
	line-height: 1;
	border: 0;
	border-radius: 0;
	vertical-align: top;
	-webkit-appearance: none;
}
#content .fontPreview { 
	font-size: 1.3em;
	margin-top: -12px;
	margin-bottom: -47px;
} 
#logoHolder, #textureHolder {  
	margin-bottom: 20px;
}  
#logoHolder img, #textureHolder img {
	border: 1px dotted #eee;
}

#socialMediaIcons {
	margin-bottom: 10px;
}
#socialMediaIcons li { 
	float: left; 
	padding: 10px;
}
#socialMediaIcons .bfInputText { 
	width: 465px;
	background: #fff;
}
#socialMediaIcons .deleteButton { 
    margin-left: 10px;
}
#socialfile {
	margin-top: 50px;
}

#homeSlideshowImages {
	margin: 20px 0;
}
.bfSortable {
	cursor: move;
}
.thumbItem {  
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px; 
	border: 1px #e9e9e9 solid; 
	background: #f2f2f2; 
	padding: 10px; 
	width: 100px;
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
}
.largeItem {
	width: 300px;
}
.listItem {
	width: 600px;
}                      
.thumbFileLabel { 
	font-size: .8em;
	width: 100px;    
	height: 16px;
	overflow: hidden; 
	margin-bottom: 2px;
}                    
.thumbHolder {
	width: 100px;
	height: 100px;
	text-align: center;
} 
.thumbHolder img {
	max-width: 100%;
	max-height: 100%;
}
.deleteButton {  
	cursor: pointer;
	float: right;                          
	width: 16px;
	height: 16px;
	background: url(../img/cancel.png); 
	/*
	width: 12px;
	height: 12px;
	background: url(../img/delete-x.png);
	*/
}

#musicFilesHolder {
	margin: 20px 0;
}

.musicItem, .socialItem, .extraFile, .sourceTemplate {
   	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px; 
	border: 1px #e9e9e9 solid;  
	background: #f2f2f2; 
	padding: 10px; 
	margin-right: 10px;
	margin-bottom: 10px; 
	max-width: 600px;
} 
.musicFileLabel, .extraFileLabel, .sourceTemplateName {
	overflow: hidden;
}

#galleries .bfInputText, #pages .bfInputText, #slideshows .bfInputText  {   
	background: #FFF;
}

#galleries .uiButtonSet, #pages .uiButtonSet  {
	float: right;
} 

.category, .page, .slideshow { 
	cursor: move;
	width: 600px;  
	
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	border: 1px #e9e9e9 solid;
	  
	background: #f2f2f2; 
	padding: 10px; 
	margin-bottom: 10px;  
	/*border: 1px solid #f2f2f2;*/
} 

.collection {
	cursor: auto;
}

.product {
	cursor: auto;
	width: 465px;
}

.productDescr {
	margin-top: 5px;
	float: left;
}
.productPrice {
	float: right;
}
#content .productDescr .bfInputText {
	width: 425px;
}
#content .bfInputText.productPrice {
	margin-left: 5px;
	text-align: right;
	width: 100px;
}

#ordersList .yearGroup, #ordersList .monthGroup {
	display: none;
}
#ordersList .yearGroup:first-child, #ordersList .monthGroup:first-child {
	display: block;
}

.order {
	cursor: auto;
	width: 600px;
}
.order .date {
	float: right;
}
.order .info {
	float: left;
}
#content .order .info li {
	padding: 0;
	margin: 0;
}
.order .plusMinusButton {
	margin-top: -40px;
	clear: both;
	float: right;
}
.order .lineitems {
	display: none;
}
.order .lineitems img {
	max-width: 100px;
}
.order .lineitems table {
	max-width: 100%;
	border: 1px solid #dddddd;
	border-collapse: separate;
	border-left: 0;
	margin-left: 0px;
}
.order .lineitems table tbody {
}
.order .lineitems table tr {
	
}
.order .lineitems table th, .order .lineitems table td {
	padding: 8px;
	line-height: 20px;
	text-align: left;
	vertical-align: top;
	border-left: 1px solid #dddddd;
	border-bottom: 1px solid #dddddd;
	width: 20%;
}
.order .lineitems table td {
	border-left: 1px solid #dddddd;
}

ul#galleryProductsList {
	list-style: none;
	margin: 0;
	padding: 0;
	width: 620px;
}
ul#galleryProductsList li {
	list-style-type: none;
	display: inline-block;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	border: 1px #e9e9e9 solid;
	background: #f2f2f2; 
	padding: 5px;
	margin: 0 5px 5px 0;
}
ul#galleryProductsList li .deleteButton {
	margin-left: 10px;
}

.slideshow {
	cursor: auto;
}

.categoryName, .pageName {
	font-size: 20px;
}

.anchorLabel {
	float: left;
}

.anchor {
	float: right;
	width: 36px; 
	height: 45px;
	background: url(../img/anchor-off.png) center center no-repeat;	
} 
.anchorOn {
	background: url(../img/anchor-on.png) center center no-repeat;	
}

.anchorButtonOff {
	float: left;
	width: 36px; 
	height: 36px;
	background: url(../img/anchor-off.png) center center no-repeat;	
}   

.anchorButtonOn { 
	float: left; 
	width: 36px; 
	height: 36px;
	background: url(../img/anchor-on.png) center center no-repeat;
}

.gallery, .subpage { 
	cursor: move;
	
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	border: 1px #e0e0e0 solid;
	  
	background: #e6e6e6; 
	padding: 10px; 
	margin: 10px 0;   
	/*border: 1px solid #e6e6e6;*/
} 

.itemOver {
	border: 1px solid #999;
}

.editButton {   
	text-align: center;
	padding: 10px;  
	float: left;
}
.page .editButton {
	padding: 14px;
}
.subpage .editButton {
	padding: 10px;
} 


.galleryName {
}

.plusMinusButton {
	cursor: pointer;
	float: left;
	width: 44px;
	height: 44px;
	background-repeat: no-repeat;
	background-position: center center;
	/*background: url(../img/minus-simple-icon.png);*/
} 
.plus {
	background-image: url(../img/plus-simple-dark-icon.png);
}
.minus {
	background-image: url(../img/minus-simple-dark-icon.png);
} 

#otherToggle {
	display: none;
} 
#otherSettings {
	/*display: none; */
}

#imageEditor {
	width: 640px;
	padding-top: 10px;
}
#imageEditorApp { 
	margin-top: 10px;
	border: 1px #e9e9e9 solid; 
	background: #f2f2f2; 
	width: 640px;
	height: 480px;
}

.galleryImages {
	margin: 20px 0;
} 
.galleryImages .listItem {
	float: none;
	clear: both;
	width: 600px;
}
.galleryImages .listLabel {  
	width: 600px;
	cursor: pointer;
} 
.galleryImages .largeLabel {
	width: 300px;
}
.galleryImages .largeThumb {
	width: 300px;
	height: 200px;                                                      
}
.galleryImages .listThumb {
	width: 100%;
	height: 100%;
	display: none;
}
.imgCheck {
	margin-right: 5px;
}
.captionButton { 
	cursor: pointer;                                  
	width: 25px;
	height: 25px;  
	float: right;
   	background: url(../img/caption-icon.png) center bottom no-repeat;
} 
select.imageAlign { 
	margin: auto;
	width: 100px; 
}
.imgCap {  
	text-align: center;
	display: none;
	opacity: .8; 
}                 
.imgCap textarea { 
	border: 1px solid #aaa;
	font-size: .8em; 
}
.largeImageCaption {
	position: absolute;
	margin-top: -200px; 
}
.largeImageCaption textarea { 
	width: 294px;
	height: 194px;
}
.smallImageCaption {
	position: absolute;
	margin-top: -100px; 
} 
.smallImageCaption textarea {
	width: 96px;
	height: 94px;
}
.listImageCaption textarea {
	width: 100%;
	height: 80px;
}
.thumbUploadLink { 
	display: block;
	font-size: .7em;
}


.actionsPanel { 
	width: 200px;
	background: #f2f2f2;
	position: fixed;
	left: 100%;
	top: 50%;
	margin-top: -185px;  
	margin-left: 2px;
	border: 1px #e9e9e9 solid; 
	
	-webkit-box-shadow: -2px 2px 2px 0px rgba(0, 0, 0, .3);
	-moz-box-shadow: -2px 2px 2px 0px rgba(0, 0, 0, .3);
	box-shadow: -2px 2px 2px 0px rgba(0, 0, 0, .3); 
	
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 0px;
	-moz-border-radius-bottomright: 0px;
	-moz-border-radius-bottomleft: 10px;
	-webkit-border-radius: 10px 0px 0px 10px;
	border-radius: 10px 0px 0px 10px;
}
.actionsPanel .icon { 
	cursor: pointer;
	width: 60px;
	height: 60px;
	background: #f2f2f2 url(../img/gear-icon.png) center center no-repeat;
	position: absolute;
	margin-left: -60px;
	top: 50%;
	margin-top: -30px; 
	border: 1px #e9e9e9 solid;
	border-right: none;
	
	-webkit-box-shadow: -2px 2px 2px 0px rgba(0, 0, 0, .3);
	-moz-box-shadow: -2px 2px 2px 0px rgba(0, 0, 0, .3);
	box-shadow: -2px 2px 2px 0px rgba(0, 0, 0, .3);
	
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 0px;
	-moz-border-radius-bottomright: 0px;
	-moz-border-radius-bottomleft: 10px;
	-webkit-border-radius: 10px 0px 0px 10px;
	border-radius: 10px 0px 0px 10px;
} 
.actionsPanel .inner {
    padding: 0 20px;
}


#thumbnailUpload {
}



/* page admin specific styles */


#deletePageImage, #deletePageTexture {
	margin-right: 300px;
}
#pageImageHolder {
	margin-bottom: 10px;
}
#bfTextEditor {
	width: 620px;
} 
#bfTextEditorControls {
	margin-top: 10px;
	text-align: right;
}
#bfTextEditorControls a {
	padding: 0 5px;  
}
.bfPageText {
	float: left;
	clear: both; 
	width: 600px;
	height: 400px;
	border: none;
	padding: 10px;
	background: #f2f2f2;
	margin-bottom: 20px;
}
#previewDesc {
	padding: 10px; 
	font-size: .85em; 
}
#pageMarkup {
	float: left;
	width: 610px;
	height: 400px;
	overflow: scroll;
	padding: 10px; 

}
#pageMarkupSWF {
	position: absolute; 
	width: 610px;
	height: 400px;
	padding: 10px;

}

.contactFieldLabel {
	width: 20px !important;
}
.contactCheck {  
	height: 30px;
	width: 30px; 
	float: left;
} 

.messagesTabulation, .messagesNav {  
	margin: -10px 0;
}


/* end page admin specific styles */   


#entryWarning { 
	clear: both;
	color: #FF0000; 
	font-size: 1.2em;
}
#entryWarning a, #entryWarning a:hover, #entryWarning a:visited, #entryWarning a:visited:hover {
	text-decoration: none;
	color: #f98d37; /*#8bc53f;*/
}


/* start stats/advanced specific styles */

table.stats {
	padding: 10px;
	border: 1px solid #f2f2f2;
} 
table.stats td, table.stats tr { 
	vertical-align: middle;
	padding: 10px; 
	border: 1px solid #f2f2f2;
}
table.stats th {  
	vertical-align: middle;
	padding: 10px;
	border: 1px solid #fff;
	/* */
	background: #f2f2f2; /* Old browsers */    
}                                           

#statscode, #sourceContent, .smugmug_code textarea {
	float: left;
	clear: both; 
	width: 620px;
	height: 300px;
	border: none;
	padding: 10px;
	background: #f2f2f2;
	margin-bottom: 20px;
}

#help {
	width: 620px;
}

/* end stats/advanced specific styles */ 


/* bigshow styles */   
#ssLogo {
	clear: both;
	margin-left: 220px; 
	margin-top: 50px;
}  
.ssFooter {
	height: 140px;
}
.payment-errors {
	margin: 10px 0;
	color: #ff0000;
}
.bigshowImageCount {
	float:right; font-size:.8em; padding: 12px;
}
/* end bigshow styles */

.save-preview {
	display: none;
	position: fixed;
	width: 100%;
	margin-left: -3px;
	text-align: right; 
	z-index: 100;
}
.save-preview button {
	font-size: .9em;
	margin: 3px 0;
}
.tip_message {
	clear: both;
	background: #f2f2f2;
	padding: 20px;
	color: #999;
	max-width: 580px;
	margin: 20px 0;
}
#tooltip {
	width: 300px;
	position: absolute;
	z-index: 3000;
	background-color: #f2f2f2;
	padding: 20px;
	font-weight: normal;
	font-size: .9em;
	-webkit-box-shadow: 0px 0px 20px 0px #999;
	-moz-box-shadow: 0px 0px 20px 0px #999;
	box-shadow: 0px 0px 20px 0px #999;
}

.sortable {
	clear: both;
	width: auto;
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.sortable div {
	float: left;
	background: #f2f2f2;
	border: 1px solid #eee;
	margin: 0 5px 5px 0;
	padding: 50px;
	text-align: center;
}
#tooltip h3, #tooltip div { margin: 0; font-weight: normal;}

#saveOverlay {
	display: none;
	position: fixed;  
	top: 0;
	left: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	background: transparent url(../img/save-overlay-bg.gif); /* rgba(255,255,255,.7); */
	z-index: 10000;
}
.saveMsg {
	background: #FFF;
	padding: 20px;
	width: 100px;
	text-align: center;
	
	position: absolute;
	top: 50%;
	margin-top: -40px;
	left: 50%;
	margin-left: -60px;
	
	color: #f98d37; /*#8bc53f;*/
	font-size: 24px;
	font-weight: normal;
	text-transform: uppercase;
	
	-webkit-box-shadow: 0px 0px 20px 0px #999;
	-moz-box-shadow: 0px 0px 20px 0px #999;
	box-shadow: 0px 0px 20px 0px #999;
}
