body {
	background: #f2f2f2;
	font-size: 16px;
	font-family: Arial, sans-serif;
	color: #666;
}

a, a:hover, a:visited {
	text-decoration: none;
	color: #f98d37; /*#8bc53f;*/
}

#container {
	background: #FFF;
	padding: 30px;
	width: 440px;
	
	position: absolute;
	top: 50%;
	margin-top: -200px;
	left: 50%;
	margin-left: -250px;
	
	-webkit-box-shadow: 0px 0px 20px 0px #CCC;
	-moz-box-shadow: 0px 0px 20px 0px #CCC;
	box-shadow: 0px 0px 20px 0px #CCC;
}

#signupContainer {
	background: #FFF;
	padding: 30px;
	width: 440px;
	
	position: absolute;
	top: 50%;
	margin-top: -240px;
	left: 50%;
	margin-left: -250px;
	
	-webkit-box-shadow: 0px 0px 20px 0px #CCC;
	-moz-box-shadow: 0px 0px 20px 0px #CCC;
	box-shadow: 0px 0px 20px 0px #CCC;
}

#signupSuccess h1 {
	font-weight: lighter;
	font-size: 2em;
	color: #8bc53f;
}
#signupSuccess p {
	margin-top: 20px;
}

#logo {
	text-align: center;
}

.error {
	color: #FF0000;
}

.loginField {
	clear: both;
	margin: 20px auto;
}

.loginSubmit {
	clear: both;
	margin: 20px auto;
}

#content {
	margin: 10px auto;
}
#content ul {
	width: 100%;
	margin: 0;
	padding: 0;
	list-style-type: none;
}
#content li {
	clear: both;
	padding: 10px 0;
	margin-bottom: 10px;
}
#content .bfInputText {
	float: left;
	width: 300px;
	border: none;
	padding: 10px;
	background: #f2f2f2;
}
#submit, .forgot {
	float: right;
}
#content input {
	border: none;
} 
#content select { 
	margin-top: 10px;
}
#content label{
	width: 120px;
	padding: 10px 0;
	float: left;
	font-weight: normal;
}

footer {
	position: absolute;
	top: 100%;
	width: 100%;
	margin-top: -30px;
	text-align: center;
	font-size: 14px;
}

.loginSmallText {
	font-size: .8em;
}
.tip_message {
	clear: both;
	background: #f2f2f2;
	padding: 20px;
	color: #999;
	max-width: 580px;
	margin: 20px 0;
}
#tooltip {
	width: 300px;
	position: absolute;
	z-index: 3000;
	background-color: #f2f2f2;
	padding: 20px;
	font-weight: normal;
	font-size: .9em;
	-webkit-box-shadow: 0px 0px 20px 0px #999;
	-moz-box-shadow: 0px 0px 20px 0px #999;
	box-shadow: 0px 0px 20px 0px #999;
}
#tooltip h3, #tooltip div { margin: 0; font-weight: normal;}

