
#main {
	margin-left: 0px;
}
.save-preview {

}
#saveOverlay { 
	/*
	z-index: 200;
	position: absolute;
	background: url(../img/overlay_bg.png); 
	*/
}
#tooltip {
	border: 1px solid #ddd;
}  
#content .fontPreview {
	margin-bottom: 0px;
}

#content .bfInputText {
	height: 38px;
}

.actionsPanel {
	position: absolute;
	height: 405px;
	margin-top: 220px;
}

.actionsPanel label {
	float: none;
}

.actionsPanel .inner {
    position: absolute;
}